<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Bitpluse" name="description">
    <meta content="Alphatech Multimedia Technologies" name="author">

    <!-- App favicon -->
    <link rel="shortcut icon" href="/image/logo/favicon.png">

    <!--Googe Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!--Boostrap Css-->
    <link rel="stylesheet" href="/home/bootstrap-5.0.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/home/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/home/bootstrap-5.0.2-dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/home/bootstrap-5.0.2-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/home/bootstrap-5.0.2-dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/home/bootstrap-5.0.2-dist/css/bootstrap-reboot.min.css">

    <!--Fontawesome css-->
    <link rel="stylesheet" href="/home/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/home/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/home/fontawesome/css/all.css">
    <link rel="stylesheet" href="/home/fontawesome/css/all.min.css">

    <!--Custom css-->
    <link rel="stylesheet" href="/home/css/main.css">
    <link rel="stylesheet" href="/home/css/main.min.css">
    <link rel="stylesheet" href="/home/css/modal.css">
    <link rel="stylesheet" href="/home/css/responsive.css">
    <link rel="stylesheet" href="/home/css/responsive.css">
    <title>
        <%= title %>
    </title>


    <style>
        body {
            overflow-x: hidden !important;
        }
    </style>
</head>

<body class="reg">


    <section class="auth">
        <div class="container-fluid pt-5">
            <div class="card mt-3">
                <div class="card-head">
                    <div class="card-logo"><a href="/"><img src="/image/logo/Bitpluse-Logo.png" alt="" width="50" height="50"></a></div>
                    <div class="refer" style="background-color: transparent;">
                        <p style=" font-size: 25px;">Welcome Back!</p>
                    </div>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="form-floating mb-3">
                            <input type="username" name="username" id="username" class="form-control"
                                placeholder="Please entr your username.">
                            <label for="username">User Name/Email</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" name="password" id="password" class="form-control password-input" placeholder="Please enter your password.">
                            <label for="password">Password</label>
                            <span class="toggle-password" onclick="togglePasswordVisibility('password', this)">
                                <i class="fa-regular fa-eye-slash toggle-icon"></i>
                            </span>
                        </div>
                        <div class="log-auth">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Remember Me
                                </label>
                            </div>

                            <a href="/auth/reset-password">Forget Password?</a>
                        </div>
                        <div class="sign-btn">
                            <button type="submit">Sign In</button>
                            <span>New on our platform? <a href="/auth/sign-up">Create an account</a></span>
                        </div>
                        </form>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </section>




    <!--Boostrap Js -->
    <script src="/home/bootstrap-5.0.2-dist/js/bootstrap.js"></script>
    <script src="/home/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script src="/home/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <script src="/home/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>

    <!--Fontawesome Js-->
    <script src="/home/fontawesome/js/all.js"></script>
    <script src="/home/fontawesome/js/all.min.js"></script>
    <script src="/home/fontawesome/js/fontawesome.js"></script>
    <script src="/home/fontawesome/js/fontawesome.min.js"></script>

    <!--Custom Js-->
    <script src="/home/js/main.js"></script>

</body>

</html>