<%-include("../../partials/header2")%>

<div class="dash-act">
    <div class="dash-act-container">
        <div class="dash-act-body">
            <div class="dash-act-content">
                <h4>Activitise Balance</h4>
                <h2>$ 20,000.00</h2>
                <span>Updated few mins ago</span>
            </div>
        </div>
    </div>
</div>
<div class="sub-holder">
    <div class="sub-holder-container">
    <div class="sub-card-holder">
        <div class="sub-card-name" style="--sub-card:#09c7f71a;">
            <div class="sub-icon" style="--icon:#09c7f72d;"><i class="fa-solid fa-comment"></i></i></div>
            <div class="sub-name">
                <h4>2,000</h4>
            <span>Social Task Earnigs</span>
            </div>
        </div>
        <div class="sub-card-name" style="--sub-card:#f7e7091a;">
            <div class="sub-icon" style="--icon:#f7e70934;"><i class="fa-solid fa-gift"></i></i></div>
            <div class="sub-name">
            <h4>1,200</h4>
            <span>Ads Earnings</span>
            </div>
        </div>
    </div>
</div>
</div>

<div class="daily-task" style="margin-bottom: 7px;">
    <div class="task-container">
        <div class="task-head">Daily Task</div>
        <div class="task-body">
            <div class="task-content">
                <div class="tsk">
                    <span class="fak"><i class="fa-solid fa-bullhorn"></i></span>
                    <div class="info">
                        <h4>Sponsore Ads</h4>
                        <span class="time">18th-Jan | 04:29PM</span>
                    </div>
                </div>
                <a href="">Share Now</a>
            </div>
            <div class="task-content">
                <div class="tsk" id="socialTask">
                    <span class="fak"><i class="fa-solid fa-gift"></i></span>
                    <div class="info">
                        <h4>Social/Tiktok Task</h4>
                        <span class="time">18th-Jan | 04:29PM</span>
                    </div>
                </div>
                <a href="">Do Now</a>
            </div>

            <div class="task-content social-task" id="Task">
                <div class="social-head">
                    <div class="tsk" id="socialTask">
                        <span class="fak"><i class="fa-solid fa-gift"></i></span>
                        <div class="info">
                            <span class="time">18th-Jan | 04:29PM</span>
                            <h4>Social/Tiktok Task</h4>
                        </div>
                    </div>
                </div>
                <div class="social-link">
                    <form action="">
                        <span>Task Link</span>
                        <div class="form-control">
                            <input type="text" value="https://tiktok.com/bitpluse" disabled>
                            <button>Copy</button>
                        </div>
                    </form>
                </div>
                <div class="task-details">
                    <div class="details-title">Kindly adhere to the step-by-step instructions outlined below to complete your assigned task.</div>
                    <div class="Description">
                        <p><b>Step 1:</b> Access the provided Task Link using your Tiktok Mobile App or web browser for the assigned action.</p>
                        <p><b>Step 2:</b>Follow the link to a Tiktok page; your task is to like and follow it.</p>
                        <p><b>Step 3:</b>Click the Like/Follow button on the Tiktok page; do not unfollow after following. Your cooperation is appreciated.</p>
                        <p><b>Step 4:</b>Capture a screenshot of your liked/followed page. Upload it with your Tiktok username on the Proof of Work Form.</p>
                    </div>
                    <div class="details-title note"><b>Note:</b> Avoid unliking or unfollowing the TikTok page post-like/follow; such actions may result in deducted earnings or payment issues.</div>
                    <div class="proof">
                        <form action="">
                            <div class="form-conrol">
                                <input type="text" name="text" placeholder="Please share task-performing social handle for verification." required>
                            </div>

                            <div class="form-conrol">
                                <input type="file" id="upload" accept=".jpg, .jpeg, .png" multiple required>
                                <label for="upload"><span><i class="fa-solid fa-cloud-arrow-down"></i></span>Upload Proof</label>
                                <div id="show-file"></div>
                            </div>

                            <div class="task-btn">
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="dash-hist">
    <div class="dash-container">
      <div class="dash-head">
        <div class="dash-head-name">Recent Transaction</div>
        <div class="dash-head-name">View More</div>
      </div>
      <div class="dash-body">
        <div class="dash-content">
          <div class="dash-const">
            <div class="dash-img">
              <i class="ri-bank-fill"></i>
            </div>
            <div class="dash-name">
              <h2>Withdraw to Bank</h2>
              <span>22nd-Oct-2023 | 7:49am</span>
            </div>
          </div>
          <div class="dash-status">
            <h2>30,000</h2>
            <span>Successful</span>
          </div>
        </div>
        <div class="dash-content">
          <div class="dash-const">
            <div class="dash-img">
              <ion-icon name="gift" role="img" class="md hydrated"></ion-icon>
            </div>
            <div class="dash-name">
              <h2>Welcome Bonus</h2>
              <span>22nd-Oct-2023 | 7:49am</span>
            </div>
          </div>
          <div class="dash-status">
            <h2>3,500</h2>
            <span>Successful</span>
          </div>
        </div>
        <div class="dash-content">
            <div class="dash-const">
              <div class="dash-img">
                <ion-icon name="gift" role="img" class="md hydrated"></ion-icon>
              </div>
              <div class="dash-name">
                <h2>Daily Login</h2>
                <span>22nd-Oct-2023 | 7:49am</span>
              </div>
            </div>
            <div class="dash-status">
              <h2>500</h2>
              <span>Successful</span>
            </div>
          </div>
        <div class="dash-content">
          <div class="dash-const">
            <div class="dash-img">
              <ion-icon name="phone-portrait" role="img" class="md hydrated"></ion-icon>
            </div>
            <div class="dash-name">
              <h2>Airtime Purchase</h2>
              <span>22nd-Oct-2023 | 7:49am</span>
            </div>
          </div>
          <div class="dash-status">
            <h2>1,500</h2>
            <span>Successful</span>
          </div>
        </div>
        <div class="dash-content">
          <div class="dash-const">
            <div class="dash-img">
              <ion-icon name="gift" role="img" class="md hydrated"></ion-icon>
            </div>
            <div class="dash-name">
              <h2>Sponsord Ads</h2>
              <span>22nd-Oct-2023 | 7:49am</span>
            </div>
          </div>
          <div class="dash-status">
            <h2>$500</h2>
            <span>Successful</span>
          </div>
        </div>
        <div class="dash-content">
            <div class="dash-const">
              <div class="dash-img">
                <ion-icon name="gift" role="img" class="md hydrated"></ion-icon>
              </div>
              <div class="dash-name">
                <h2>Social/Tiktok Task</h2>
                <span>22nd-Oct-2023 | 7:49am</span>
              </div>
            </div>
            <div class="dash-status">
              <h2>500</h2>
              <span>Successful</span>
            </div>
          </div>
        <div class="dash-content">
          <div class="dash-const">
            <div class="dash-img">
              <ion-icon name="person-add" role="img" class="md hydrated"></ion-icon>
            </div>
            <div class="dash-name">
              <h2>P2P</h2>
              <span>22nd-Oct-2023 | 7:49am</span>
            </div>
          </div>
          <div class="dash-status">
            <h2>20,000</h2>
            <span>Successful</span>
          </div>
        </div>
      </div>
    </div>
  </div>




<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>