  <!-- Modal -->
  
<div id="overlay" class="overlay  ">
    <div id="myModal" class="modal">
        <div class="modal-content">
        <div class="modal-header">
            <h5>Kindly Note the following Instruction before listing your digital product.</h5>
        </div>
       <div class="modal-body">
        <p><b>1.</b> Your Product must have a Sales Page for your product. Else you can request the Alphatech team to help you write your sales copy & setup your sales page for your product by sending an email to <a href="mailto:hello@alphatechmultimedia.com">hello@alphatechmultimedia.com</a> or you can go ahead to get it done if you want to handle it.</p>
        <p><b>2.</b> Professionally designed sales page with excellent sales copy.</p>
        <p><b>3.</b> Valuable educational video contents.</p>
        <p><b>4.</b> Contents must be original. Created and owned by the vendor. Courses containing contents of other creators would be rejected.</p>
        <p><b>5.</b> Video quality in HD - 1920p x 1080p.</p>
        <p><b>6.</b> Video aspect ratio must be in 16:9 dimension, with exception for cases of mobile app courses.</p>
        <p><b>7.</b> Audio must be clear, loud, synced with video and have no distracting background noise.</p>
        <p><b>8.</b> Course must be hosted and delivered via an LMS or Web Page only. Course contents must be pre-recorded and not be live sessions.</p>
        <p><b>9.</b> At least 30 minutes of video and at least 5 separate lessons.</p>
        <p><b>10.</b> Have JV promotional materials for Affiliates.</p>
        <p><b>11.</b> Course must have a sales page, thank you page and JV page</p>
        <p><b>12.</b> You can watch this video to see how to list your product and install your pixel: https://youtu.be/4Rsr-IYqc2o</p>

        <div class="modal-bottom">
            <button id="closeModal">Continue</button>
        </div>
    
       </div>
    </div>
    </div>
</div>


