@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    margin         : 0;
    padding        : 0;
    scroll-behavior: smooth;
    background     : #f5f5f5;
    font-family    : 'Poppins', sans-serif;
    box-sizing     : border-box;
}

body {
    margin         : 0;
    padding        : 0;
    scroll-behavior: smooth;
    background     : #f5f5f5;
    font-family    : 'Poppins', sans-serif;
    box-sizing     : border-box;
}


header {
    position        : sticky;
    top             : 0;
    left            : 0;
    right           : 0;
    background-color: #350D73;
    z-index         : 111;
    width           : 100%;
}

.HeaderBar {
    justify-content: space-between;
    align-items    : center;
    display        : flex;
    padding-top    : 16px;
    background     : #350D73;
    z-index        : 1000;

}

.Head {
    width          : 100%;
    justify-content: space-between;
    align-items    : center;
    display        : flex;
    padding        : 0px 6px 0px 6px;
}

.HeaderBar2 {
    position  : fixed;
    z-index   : 1000;
    background: #350D73
}

.Head2 {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 5px 6px 5px 6px;
}

.header-tittl {
    font-size: 17px;
    color    : #fff;
}

.ProfileIt {
    justify-content: center;
    align-items    : center;
    gap            : 8px;
    display        : flex;
}

.Ellipse644 {
    width        : 43px;
    height       : 43px;
    background   : linear-gradient(0deg, #C4C4C4 0%, #C4C4C4 100%);
    border-radius: 9999px;
    margin-top   : -7px;

}

.Frame12565 {
    display        : flex;
    justify-content: flex-start;
    align-items    : flex-start;
    flex-direction : column;
    padding-bottom : 8px;
    width          : 100%;
    color          : #FFF;
    font-weight    : 600;
}

.Frame12565 .tba1 {
    color      : white;
    font-size  : 10px;
    font-weight: 700;
    line-height: 31.50px;
}

.Frame12565 .tba2 {
    color      : white;
    font-size  : 14px;
    font-weight: 700;
    line-height: 31.50px;

}

.Vector0 {

    width        : 24px;
    height       : 24px;
    padding-right: 8px;
}

.vec {
    position: relative;
    bottom  : 2px;
}

.Vec span {
    position        : absolute;
    background-color: #fa2307;
    color           : #FFF;
    display         : inline-block;
    bottom          : 16px;
    right           : 3px;
    box-shadow      : none;
    border-radius   : 50% !important;
    padding         : 0.45em 0.4em;
    font-size       : .50em;
    font-weight     : 700;
    line-height     : 1;
    text-align      : center;
    white-space     : nowrap;
    vertical-align  : baseline;
}

.Vector {
    width : 24px;
    height: 28px;
}


footer {

    position: fixed;
    bottom  : 0;
    left    : 0;
    width   : 100%;
    z-index : 1000;
}

.BottomBar1 {
    gap            : 50px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    background     : #350D73;
}

.BottomBar1 a {

    text-decoration: none;
    color          : none;
}

.Task a {
    text-decoration: none;
    color          : none;
}

.Frame125560 {
    padding-top    : 7px;
    flex-direction : column;
    width          : 31px;
    height         : 48px;
    justify-content: center;
    align-items    : center;
    display        : inline-flex;


}

.Homei {
    color      : white;
    font-size  : 11px;
    font-weight: 500;
    line-height: 19.50px;
}

.vpd24 {
    width      : 24px;
    height     : 24px;
    flex-shrink: 0;
}



.VtuPortal {
    font-size  : 14px;
    font-weight: 700;
}


.bit-vtu {
    padding: 10px;
}

.bit-vtu .vtu-container {
    box-shadow      : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    border-radius   : 7px;
    background-color: #fff;
    padding         : 7px;
}

.bit-vtu .vtu-container .VtuTab {
    margin-top     : 7px;
    height         : 25px;
    padding        : 5px;
    background     : #F3F3F3;
    box-shadow     : 0px 0.5px 4px #350D73;
    border-radius  : 7px;
    justify-content: space-between;
    align-items    : center;
    display        : flex;
}

.bit-vtu .vtu-container .vtu-head {
    font-size  : 11px;
    padding-top: 10px;
    color      : #350D73;
    font-weight: 600;
}

.bit-vtu .vtu-container .vtu-body {
    padding-top: 20px;
    display    : none;
}

.bit-vtu .vtu-container .vtu-body.active {
    padding-top: 20px;
    display    : block;
}

.bit-vtu .vtu-container .vtu-body form {
    gap           : 15px;
    flex-direction: column;
    display       : flex;
}

.bit-vtu .vtu-container .vtu-body form .form-control {
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 100%;
    background-color: #fff;
    box-shadow      : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    border-radius   : 7px;
    overflow        : hidden;
}

.bit-vtu .vtu-container .vtu-body form .form-control:focus-within {
    border: 1px solid #350D73;
}

.bit-vtu .vtu-container .vtu-body form .form-control span {
    width           : 30%;
    background-color: #350D73;
    color           : #fff;
    padding         : 8px;
    font-size       : 13px;
}

.bit-vtu .vtu-container .vtu-body form .form-control input {
    width           : 70%;
    background-color: transparent;
    border          : none;
    outline         : none;
    text-align      : left;
    padding         : 8px;
    font-size       : 12px;
    color           : #350D73;
}

.bit-vtu .vtu-container .vtu-body form .form-control select {
    width           : 100%;
    background-color: transparent;
    border          : none;
    outline         : none;
    text-align      : left;
    padding         : 10px;
    font-size       : 12px;
    color           : #350D73;
    appearance      : none;
}

.bit-vtu .vtu-container .vtu-body form .form-control select option {
    background-color: #350D73;
    color           : #fff;
    appearance      : none;
}

.bit-vtu .vtu-container .vtu-body form .vtu-network {
    display        : flex;
    justify-content: center;
    gap            : 35px;
    align-items    : center;
    padding-top    : 7px;

}

.bit-vtu .vtu-container .vtu-body form .vtu-network .form-check input {
    display: none;
}

.bit-vtu .vtu-container .vtu-body form .vtu-network .form-check label.form-check-label {
    overflow: hidden;
    cursor  : pointer;
}

.bit-vtu .vtu-container .vtu-body form .vtu-network .form-check label.form-check-label img {
    object-fit: fill;
    height    : 50;
    width     : 50;
}

.bit-vtu .vtu-container .vtu-body form .vtu-network .form-check input.form-check-input:checked+.form-check-label {
    border       : 2px solid #350D73;
    display      : inline-block;
    outline      : none;
    border-radius: 7px;
    box-shadow   : 1px 1px 4px 0px rgba(40, 1, 90, 0.534), 1px 1px 4px 0px rgba(53, 1, 112, 0.349) inset;
}

.bit-vtu .vtu-container .vtu-body form .vtu-btn {
    display        : flex;
    justify-content: end;
}

.bit-vtu .vtu-container .vtu-body form .vtu-btn button {
    padding-left  : 17px;
    padding-right : 17px;
    padding-bottom: 10px;
    padding-top   : 10px;
    appearance    : none;
    font-size     : 15px;
    border-radius : 7px;
    border        : none;
    outline       : none;
    background    : var(--red-gradient, linear-gradient(96deg, rgb(73, 1, 116) 10.59%, #a902b8 70.48%));
    color         : #fff;
    cursor        : pointer;
}



.sky_vtutab {
    padding   : 10px;
    margin-top: 67px;
}

.Syk {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : auto;
    padding        : 10px;
    flex-direction : column;
    background     : rgb(247, 247, 247);
    border-radius  : 10px;
    overflow       : hidden;
    box-shadow     : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
}

.vttv {
    width: 100%;

}

.VtuTab {
    margin-top     : 15px;
    height         : 25px;
    padding        : 5px;
    background     : #F3F3F3;
    box-shadow     : 0px 0.5px 4px #350D73;
    border-radius  : 7px;
    overflow       : hidden;
    justify-content: space-between;
    align-items    : center;
    display        : flex;
}

.VtuTab2 {
    margin-top     : 15px;
    width          : 363px;
    height         : 25px;
    padding        : 5px;
    background     : #F3F3F3;
    box-shadow     : 0px 0.5px 4px #350D73;
    border-radius  : 7px;
    overflow       : hidden;
    justify-content: space-between;
    align-items    : center;
    display        : flex;
}

.VtuTab21 {
    margin-top     : 15px;
    width          : 363px;
    height         : 25px;
    padding        : 5px;
    background     : #F3F3F3;
    box-shadow     : 0px 0.5px 4px #350D73;
    border-radius  : 7px;
    overflow       : hidden;
    justify-content: space-between;
    align-items    : center;
    display        : flex;
}

.VtuTab2 .buydata2 {
    color        : rgba(52.76, 12.91, 114.75, 0.85);
    font-size    : 14px;
    font-weight  : 500;
    cursor       : pointer;
    padding-left : 30px;
    padding-right: 30px;

}

.VtuTab2 .buydata2.active,
.VtuTab2 .buydata2:hover {
    background    : #350D73;
    color         : #FFF;
    padding-top   : 4px;
    padding-bottom: 4px;
    border-radius : 10px;
}

h4.titp {
    display            : block;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    font-weight        : 500;
    font-size          : 11px;
    color              : #350D73;
}



.buydata {
    color          : rgba(52.76, 12.91, 114.75, 0.85);
    font-size      : 14px;
    font-weight    : 500;
    cursor         : pointer;
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 40%;
}


.buydata.active,
.buydata:hover {
    background    : #350D73;
    color         : #FFF;
    padding-top   : 4px;
    padding-bottom: 4px;
    border-radius : 10px;

}


.Field {
    display        : none;
    justify-content: center;
    align-items    : center;
    padding        : 10px;
    flex-direction : column;
}

.Field.active {
    display: block;
}

.Inputvtu {
    gap            : 1px;
    margin-top     : 20px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    border-radius  : 7px;
    background     : #FFF;
    overflow       : hidden;
    box-shadow     : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
}

.inputsub {
    color          : #FFF;
    background     : #350D73;
    padding        : 7px;
    padding-left   : 8px;
    font-size      : 12px;
    width          : 70%;
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
}

.Inputvtu input {
    height    : 100%;
    color     : #350D73;
    padding   : 9.5px;
    border    : none;
    background: #FFF;
    outline   : none;
    box-shadow: none;
    margin    : 0;

}

.Inputvtu input:focus {
    border       : 1px solid #350D73;
    outline      : none;
    border-radius: 0px 7px 7px 0px;
}


.Frame12573 {
    margin-top     : 20px;
    width          : 100%;
    height         : 100%;
    justify-content: center;
    align-items    : center;
    gap            : 32px;
    display        : inline-flex;
}

.network {
    overflow     : hidden;
    width        : 50px;
    height       : 50px;
    box-shadow   : 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.select-field {
    appearance        : none;
    -webkit-appearance: none;
    background        : #ffffff;
    margin-top        : 20px;
    width             : 100%;
    height            : 100%;
    box-shadow        : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    border-radius     : 7px;
    padding           : 12px;
    color             : #350D73;

}

.select-field::after {
    content       : "\25BC";
    font-size     : 15px;
    color         : #350D73;
    position      : absolute;
    top           : 50%;
    right         : 10px;
    transform     : translateY(-50%);
    pointer-events: none;
}

.select-field option[selected] {
    font-weight: bold;
}

.select-field option {
    font-size: 14px;
    padding  : 4px;
}

.select-field option:hover {
    background-color: #350D73;
}

.select-field:focus {
    border-color: #350D73;
    box-shadow  : 1px;
    outline     : none;
}

.bot {
    margin-top     : 30px;
    width          : 100%;
    height         : 100%;
    padding        : 10px;
    background     : #350D73;
    color          : #FFF;
    font-size      : 15px;
    border-radius  : 7px;
    overflow       : hidden;
    justify-content: center;
    align-items    : center;
    display        : inline-flex;
}

.bot:hover {
    background-color: #5611bd;
}



.cent {
    display        : flex;
    justify-content: center;
}

.cent1 {
    display        : flex;
    justify-content: center;
    flex-direction : column;
    padding        : 10px;

}

.JobsCardViews {
    width          : 100%;
    height         : auto;
    justify-content: center;
    align-items    : center;
    gap            : 12px;
    display        : inline-flex;
    margin-top     : 70px;
}

.JbCard {
    width        : 195px;
    height       : auto;
    position     : relative;
    background   : #350D73;
    box-shadow   : 0px 2px 4px #350D73;
    border-radius: 7px;
    overflow     : hidden;
}

.Card1Svg {
    width   : 235px;
    height  : 114px;
    left    : -40px;
    top     : 9px;
    position: absolute;

}

.SvgVctotor {
    width        : 70px;
    height       : 70px;
    left         : 165px;
    top          : 44px;
    position     : absolute;
    border-radius: 9999px;
    border       : 10px rgba(253.94, 253.94, 253.94, 0.13) solid;

}

.SvgVector2 {
    width        : 70px;
    height       : 70px;
    left         : 0px;
    top          : 0px;
    position     : absolute;
    border-radius: 9999px;
    border       : 10px rgba(253.94, 253.94, 253.94, 0.13) solid;

}

.NmbList {
    padding-top    : 2px;
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
    gap            : 3px;
    display        : flex;
}

.NmbTop {
    justify-content: space-between;
    align-items    : flex-start;
    display        : flex;
    padding-left   : 7px;
    gap            : 5px;
}

.JobApproved20 {
    color      : white;
    font-size  : 10px;
    font-weight: 700;
}

.huo {
    width       : 179.23px;
    height      : 0px;
    border      : 0.75px white solid;
    padding-left: 10px;
}

.Frame12577a {
    color         : #FFF;
    padding-top   : 35px;
    padding-left  : 7px;
    padding-bottom: 5px;
    font-weight   : 700;
}

.Afb1 {
    font-size     : 14px;
    padding-bottom: 3px;
}

.Card2Svg2 {
    left           : 47px;
    top            : -10px;
    position       : absolute;
    justify-content: flex-start;
    align-items    : flex-start;
    gap            : 10px;
    display        : inline-flex;
}

.Svg1 {
    width        : 100px;
    height       : 100px;
    border-radius: 9999px;
    border       : 10px rgba(255, 255, 255, 0.10) solid;
}

.Svg2 {
    width        : 50px;
    height       : 50px;
    border-radius: 9999px;
    border       : 5px rgba(255, 255, 255, 0.10) solid;
}

.svg3 {
    width        : 25px;
    height       : 25px;
    border-radius: 9999px;
    border       : 2.50px rgba(255, 255, 255, 0.10) solid
}

.JobsList {
    width          : 100%;
    height         : auto;
    margin-top     : 20px;
    padding-bottom : 15px;
    background     : white;
    border-radius  : 10px;
    overflow       : hidden;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 19px;
    display        : inline-flex;
    box-shadow     : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
}

.JobsTab {
    margin            : 10px;
    /* align-self     : stretch; */
    height            : auto;
    width             : 100%;
    background        : #F3F3F3;
    box-shadow        : 0px 0.5px 4px #350D73;
    border-radius     : 7px;
    overflow          : hidden;
    justify-content   : center;
    align-items       : center;
    gap               : 77px;
    display           : inline-flex;
}

.ItermsLists {
    width          : 390px;
    height         : auto;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    display        : none;
    flex-direction : column;
    overflow       : hidden;
    gap            : 10px;
}

.ItermsLists.active {
    display: block;
}

.JobsItems {

    justify-content: space-between;
    align-items    : center;
    display        : flex;
    width          : 100%;
    border-bottom  : 1px solid rgba(53, 13, 115, 0.24);
}

.JobName {
    justify-content: flex-start;
    align-items    : center;
    display        : flex;
    float          : left;
    /* margin-right: -20px;
    padding-left   : 8px; */

}

.JobNameicon {
    width        : 35px;
    height       : 35px;
    border-radius: 50px;
}


.JobsTitle {
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
    display        : flex;
    flex-wrap      : wrap;
    overflow       : hidden;
    /* padding-left: 3px;
    margin-left    : -10px; */

}

.SocialFeedsServices {
    color      : #350D73;
    font-size  : 13px;
    font-weight: 600;
}

.NetflixInc {
    color      : rgba(52.76, 12.91, 114.75, 0.90);
    font-size  : 8px;
    font-weight: 500;
}

.PromotedBy {
    width         : 100%;
    height        : 7px;
    color         : rgba(52.76, 12.91, 114.75, 0.90);
    font-size     : 8px;
    font-weight   : 500;
    padding-bottom: 3px;
}

.Gpt {
    justify-content: center;
    align-items    : center;
    display        : flex;
    gap            : 9px;

}

.gtpprice {
    color      : #350D73;
    font-size  : 13px;
    font-weight: 500;

}

.JbBottom {
    appearance        : none;
    -webkit-appearance: none;
    background        : #350D73;
    color             : #FFF;
    border-radius     : 5px;
    justify-content   : center;
    display           : flex;
    padding-top       : 3px;
    padding-bottom    : 3px;
}

.JbBottom:hover {
    background: #5611bd;
    color     : #FFF;
}

.StartNow {
    width      : 59px;
    color      : white;
    font-size  : 11px;
    font-weight: 700;
}

.marketdash {
    width        : 100%;
    height       : 120px;
    position     : relative;
    background   : #350D73;
    box-shadow   : 0px 2px 4px #350D73;
    border-radius: 7px;
    overflow     : hidden;
    display      : flex;

}

.marketdash .Card1Svg1 {
    width   : 235px;
    height  : 114px;
    left    : -40px;
    top     : 9px;
    position: absolute;
}

.Card1Svg1.SvgVctotor {
    width        : 70px;
    height       : 70px;
    left         : 165px;
    top          : 44px;
    position     : absolute;
    border-radius: 9999px;
    border       : 10px rgba(253.94, 253.94, 253.94, 0.13) solid;
}

.Card1Svg1.SvgVector2 {
    width        : 70px;
    height       : 70px;
    left         : 0px;
    top          : 0px;
    position     : absolute;
    border-radius: 9999px;
    border       : 10px rgba(253.94, 253.94, 253.94, 0.13) solid;
}

.saleskp {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    gap           : 40px;

}

.TotalSalesEarnings {
    color      : white;
    font-size  : 15px;
    font-weight: 500;
    padding    : 10px;

}

.NumberOfSales {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    margin-top     : -5px;
}

.NumberOfSales.NumberOfSales {
    color        : white;
    font-size    : 12px;
    font-weight  : 600;
    padding-right: 10px;
}

.numb {
    color        : white;
    font-size    : 14px;
    font-weight  : 500;
    padding-right: 15px;
}

.salsamount {
    color       : white;
    font-size   : 17px;
    font-weight : 500;
    padding-left: 20px;
}

.salestittel {
    display        : flex;
    justify-content: space-between;
    align-items    : center;

}



.cart {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    align-items    : center;

}


.shop {
    padding      : 10px;
    margin-bottom: 70px;
}

.shop .shop-container {
    background-color: #FFF;
    border-radius   : 5px;
    box-shadow      : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    display         : flex;
    flex-direction  : column;
    padding         : 10px;
    gap             : 15px;
}

.shop .shop-container .shop-head {
    background-color: #FFF;
    border-radius   : 5px;
    box-shadow      : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    display         : flex;
    color           : #350D73;
    justify-content : space-between;
    align-items     : center;
    padding         : 7px;
}

.shop .shop-container .shop-head .shop-tab {
    display        : flex;
    color          : #350D73;
    justify-content: space-between;
    align-items    : center;
    padding        : 2px 10px 2px 10px;
    font-size      : 14px;
    font-weight    : 600;
}

.shop .shop-container .shop-head .shop-tab:hover,
.shop .shop-container .shop-head .shop-tab.active {
    color           : #fff;
    background-color: #350D73;
    border-radius   : 5px;
    padding         : 2px 10px 2px 10px;
}

.shop .shop-container .shop-body {
    display        : none;
    flex-wrap      : wrap;
    justify-content: flex-start;
    align-items    : flex-start;
    gap            : 7px;
    overflow-y     : auto;
    min-height     : 300px;
    max-height     : 800px;
}

.shop .shop-container .shop-body.active {
    display: flex;
}

.shop .shop-container .shop-body .shop-content {
    display        : flex;
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
    border-radius  : 5px;
    box-shadow     : 1px 1px 4px 0px rgba(179, 0, 179, 0.247), 1px 1px 4px 0px rgba(204, 0, 204, 0.199) inset;
    width          : 44.30%;
    padding        : 8px;
    color          : #31007D;
}

.shop .shop-container .shop-body .shop-content .shop-img {
    justify-content: center;
    align-items    : center;
    display        : flex;
    width          : 100%;
}

.shop .shop-container .shop-body .shop-content .shop-img img.shop-img1 {
    object-fit   : fill;
    border-radius: 5px;
    box-shadow   : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
}

.shop .shop-container .shop-body .shop-content .shop-title {
    font-size  : 10px;
    font-weight: 600;
    padding-top: 9px;
}

.shop .shop-container .shop-body .shop-content .info {
    font-size   : 10px;
    margin-right: 87px;
    padding-top : 4px;
    font-weight : 500;
    text-align  : left;
    padding-top : 10px;
}

.shop .shop-container .shop-body .shop-content .shop-pro {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    width          : 100%;
    padding-top    : 10px;
}

.shop .shop-container .shop-body .shop-content .shop-pro .price {
    font-size  : 12px;
    font-weight: 600;
}

.shop .shop-container .shop-body .shop-content .shop-pro .add {
    font-size    : 10px;
    font-weight  : 500;
    border-radius: 5px;
    border       : 0.59px #350D73 solid;
    padding      : 3px 7px 3px 7px;
}

.shop .shop-container .shop-body .shop-content .shop-pro .commt {
    font-size  : 10px;
    font-weight: 500;
}

.shop-comment {
    font-size  : 10px;
    font-weight: 500;
    width      : 100%;
    padding-top: 10px;
}

.shop-comment p {
    width             : 100%;
    margin-block-start: 0em;
    margin-block-end  : 0em;

}

.shop .shop-container .shop-body .shop-content .shop-pro .resell {
    font-size       : 10px;
    font-weight     : 500;
    border-radius   : 5px;
    padding         : 3px 12px 3px 12px;
    background-color: #350D73;
    color           : #fff;
    text-align      : center;
}

.shop .shop-container .shop-body .shop-content .shop-location {
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : #31007D;
    font-size      : 10px;
    width          : 100%;
    padding-top    : 15px;
}

.shop .shop-container .shop-body .shop-content .shop-location p {
    margin-block-start: 0em;
    margin-block-end  : 0em;
    font-weight       : 500;
}

.shop .shop-container .shop-body .shop-content .dg-name {
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : #31007D;
    font-size      : 10px;
}

.shop .shop-container .shop-body .shop-content .dg-name p.dg-name {
    text-align: center;
    width     : 100%;

}



.atm-card {
    padding: 10px;
}

.atm-card .atm-card-container {
    background    : linear-gradient(102deg, #390085 11.05%, rgb(70, 1, 116) 33.7%, rgba(150, 0, 188, 0.99) 57%, rgba(92, 0, 167, 0.99) 80.92%);
    border-radius : 5px;
    box-shadow    : 1px 1px 4px 0px rgba(184, 12, 252, 0.082), 1px 1px 4px 0px rgba(184, 12, 252, 0.082) inset;
    padding       : 10px;
    color         : #fff;
    flex-direction: column;

}

.atm-card .atm-card-container .card-title {
    display        : flex;
    justify-content: end;
    align-items    : end;
    text-align     : end;
    font-size      : 14px;
    font-weight    : 600;
}

.atm-card .atm-card-container .atm-contactless {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding-top    : 4px;
}

.atm-card .atm-card-container .atm-contactless ion-icon {
    text-align: end;
    font-size : 20px;
    transform : rotate(90deg);
}

.atm-card .atm-card-container .atm-num {
    display        : flex;
    justify-content: flex-start;
    align-items    : flex-start;
    flex-direction : column;
    padding-top    : 10px;
}

.atm-card .atm-card-container .atm-num .bank-num,
.bank-num a {
    font-size         : 20px;
    font-weight       : 600;
    letter-spacing    : 3px;
    color             : #FFF;
    -webkit-appearance: none;
    appearance        : none;
    text-decoration   : none !important;
}

.at-num {
    text-decoration: none !important;
}

.atm-card .atm-card-container .atm-num span#bank-name {
    font-size  : 10px;
    font-weight: 500;
}

.atm-card .atm-card-container .atm-bal {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.atm-card .atm-card-container .atm-bal svg {
    padding-top: 17px;
}

.atm-card .atm-card-container .atm-bal h2.atm-cb {
    font-size          : 13px;
    margin-block-start : 0em;
    margin-block-end   : 0em;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
    padding-top        : 12px;
}

::placeholder {
    color: #350D73;
}

.converter {
    padding: 10px;
}

.converter .converter-container {
    box-shadow   : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    background   : #FFF;
    padding      : 10px;
    border-radius: 8px;

}

.converter .converter-container .convert-head {
    font-size     : 14px;
    font-weight   : 600;
    color         : #350D73;
    padding-bottom: 15px;
}

.converter .converter-container .convert-content {
    display       : flex;
    flex-direction: column;
    gap           : 10px;
}

.converter .converter-container .convert-content .form-control select {
    position          : relative;
    width             : 100%;
    padding           : 10px;
    appearance        : none;
    -webkit-appearance: none;
    font-size         : 14.5px;
    border            : none;
    outline           : none;
    box-shadow        : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    background-color  : transparent;
    color             : #350D73;
    border-radius     : 7px;

}

.converter .converter-container .convert-content .form-control select:focus {
    border       : 1px solid #350D73;
    box-shadow   : none;
    border-radius: 7px;
}

.converter .converter-container .convert-content .form-control input {
    width        : 100%;
    padding      : 10px;
    border       : none;
    outline      : none;
    box-shadow   : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    font-size    : 13px;
    margin-bottom: 10px;
}

.converter .converter-container .convert-content .form-control input:focus {
    border    : 1px solid #350D73;
    box-shadow: none;

}

.converter .converter-container .convert-content .form-control span {
    font-size: 11px;
    color    : #350D73;
}

.place {
    padding: 10px;
}

.place .place-container {
    box-shadow   : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    background   : #FFF;
    padding      : 7px;
    border-radius: 8px;
}

.place .place-container .place-head {
    font-size     : 14px;
    font-weight   : 600;
    color         : #350D73;
    padding-bottom: 15px;
}

.place .place-container form {
    gap           : 15px;
    display       : flex;
    flex-direction: column;
}

.place .place-container form .form-control input {
    width     : 100%;
    padding   : 10px;
    border    : none;
    outline   : none;
    box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    font-size : 13px;
}

.place .place-container form .form-control input:focus {
    border    : 1px solid #350D73;
    box-shadow: none;
}

.place .place-container form .place-btn {
    display        : flex;
    justify-content: end;
    align-items    : end;
}

.place .place-container form .place-btn button {
    padding-left  : 17px;
    padding-right : 17px;
    padding-bottom: 10px;
    padding-top   : 10px;
    appearance    : none;
    font-size     : 15px;
    border-radius : 7px;
    border        : none;
    outline       : none;
    background    : var(--red-gradient, linear-gradient(96deg, rgb(73, 1, 116) 10.59%, #a902b8 70.48%));
    color         : #fff;
    cursor        : pointer;
}



.withhistroy {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 10px;

}

.hist {
    overflow     : hidden;
    width        : 383px;
    height       : 200px;
    background   : white;
    box-shadow   : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    border-radius: 10px;
    padding      : 10px;
}

.Listly765 {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    width          : 100%;
    height         : auto;
    border-bottom  : 1px rgba(52.76, 12.91, 114.75, 0.70) solid;
    gap            : 90px;
}

.content {
    padding: 10px;
}

.content-table {
    padding      : 10px;
    margin-bottom: 70px;
}

.content .contest-container {
    background-color: #0b019e11;
    box-shadow      : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    border-radius   : 10px;
    overflow        : hidden;
    color           : #3f0794;
    padding         : 10px;

}

.content-table .contest-container-table {
    background-color: #ffffff11;
    box-shadow      : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    border-radius   : 10px;
    overflow        : hidden;
    color           : #3f0794;
    padding         : 10px;
    min-height          : 400px;
}

.content .contest-container .contest-head h3 {
    font-size: 19px;
    margin   : 0;
    padding  : 0;
}

.content .contest-container .contest-body {
    display        : flex;
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
    margin-top     : 25px;
    gap            : 10px;
}

.content .contest-container .contest-body .count h5 {
    padding   : 0;
    margin    : 0;
    margin-top: 10px;
}

.content .contest-container .contest-body h2 {
    font-size: 15px;
    margin   : 0;
    padding  : 0;
}

.content .contest-container .contest-body span {
    font-size: 13px;
    ;
}

.content-table .contest-container-table .contest-head h3 {
    font-size: 23px;
    margin   : 0;
    padding  : 0;
}

.content-table .contest-container-table .contest-head span {
    font-size: 14px;
    margin   : 0;
    padding  : 0;
}

.content-table .contest-container-table .contest-head span b {
    background-color: #350D73;
    color           : #FFF;
    padding         : 3.5px;
    border-radius   : 20%;
    font-size       : 13px;
}

.content-table .contest-container-table .rank {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-top     : 50px;
    font-weight    : 600;
    text-align     : center;
    border-bottom  : 2px solid #350D73;
}

.content-table .contest-container-table .contest-body .rank-content {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 7px;
    margin-top     : 10px;
    text-align     : center;
    border-bottom  : 1px solid #360d733b;
}

.content-table .contest-container-table .contest-body .rank-content span {
    text-align: center;
}

.content-table .contest-container-table .contest-body .rank-content span b {
    background-color: #350D73;
    color           : #FFF;
    padding         : 3.5px;
    padding-left    : 7px;
    padding-right   : 7px;
    border-radius   : 20%;
    font-size       : 13px;
}

.course {
    padding: 10px;
    margin-bottom: 70px;
}

.course .course-container {
    background-color: #fff;
    box-shadow      : 1px 1px 4px 0px rgba(179, 0, 179, 0.116), 1px 1px 4px 0px rgba(204, 0, 204, 0.103) inset;
    padding         : 8px;
    min-height: 400px;
}

.course .course-container .course-head {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.course .course-container .course-head .course-tab {
    font-size    : 16px;
    color        : #350D73;
    border-radius: 7px;
    padding      : 5px;
}

.course .course-container .course-head .course-tab:hover,
.course .course-container .course-head .course-tab.active {
    background-color: #31007D;
    color           : #fff;
}

.course .course-container .course-body{
    margin-top: 15px;
}
.course .course-container .course-body .content{
    display: none;
    flex-wrap: wrap;
    gap: 10px;
}
.course .course-container .course-body .content.active{
    display: flex;
}
.course .course-container .course-body .content .courses {
    width        : 48.5%;
    box-shadow   : 1px 1px 4px 0px rgba(179, 0, 179, 0.329), 1px 1px 4px 0px rgba(204, 0, 204, 0.336) inset;
    border-radius: 7px;
    color        : #350D73;
    height: 30%;
}
.course .course-container .course-body .content .courses img {
    object-fit: fill;
    height    : 17%;
    width     : 100%;
}

.course .course-container .course-body .content .courses .course-cont {
    padding-left : 7px;
    padding-right: 7px;
}

.course .course-container .course-body .content .courses .course-cont h3 {
    margin       : 0;
    padding      : 0;
    padding-top  : 8px;
    font-size    : 15px;
    margin-bottom: 10px;
    font-weight: 600;
}
.course .course-container .course-body .content h2 {
   color: #55008d17;
   margin-top: 7rem;
}
.course .course-container .course-body .content .courses .course-cont span {
    font-size: 13px;
}
.course .course-container .course-body .content span{
    font-size: 13px;
    color: #350D73;
}

.course .course-container .course-body .content .courses .course-cont .course-btn {
    display        : flex;
    justify-content: end;
}

.course .course-container .course-body .content .courses .course-cont .course-btn button{
   appearance: none;
   border: none;
   outline: none;
   font-size: 12px;
   padding: 5px;
   background-color: #350D73;
   color: #fff;
   border-radius: 5px;
   cursor: pointer;
}
.course .course-container .course-body .content .courses .course-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    padding: 7px;
}

.lucky-spin{
    padding: 10px;
}
.lucky-spin .spin-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--red-gradient, linear-gradient(96deg, rgb(70, 0, 150) 10.59%, #b80281 70.48%));
    color: #fff;
    border-radius: 7px ;
    flex-direction: column;
    overflow: hidden;
 
}
.lucky-spin .spin-container .spin-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
 }
.lucky-spin .spin-container .spin-head h2{
   font-size: 27px;
   color: #02a3b8ad;
   margin: 0;
   margin-top: 0.10rem;
   padding: 0;
   text-align: center;
   font-weight: 700;
   margin-block-start: 0em;
    margin-block-end: 0em;
}
.lucky-spin .spin-container .spin-head span{
    font-size: 12px;
    color: #ffffffe5;
    text-align: center;
    font-weight: 700;
 }
 .lucky-spin .spin-container .spin-content{
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    width: 80%;
    margin-bottom: 10px;
 }
 .lucky-spin .spin-container .spin-content .acct{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .lucky-spin .spin-container .spin-content .acct h5{
    margin: 0;
    padding: 0;
    font-size: 18px;
 }
 .lucky-spin .spin-container .spin-content .acct span{
   font-size: 13px;
 }

 .spin-stake{
    padding: 10px;
}
.spin-stake .stake-container{
    display: flex;
    justify-content: center;
    box-shadow   : 1px 1px 4px 0px rgba(179, 0, 179, 0.329), 1px 1px 4px 0px rgba(204, 0, 204, 0.336) inset;
    align-items: center;
  background-color: #fff;
    border-radius: 7px ;
    flex-direction: column;
    overflow: hidden;
    min-height: 250px;
}
.spin-stake .stake-container .wheel-board{
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spin-stake .stake-container .wheel-board h2{
    color: #3f079436;
}
.spin-stake .stake-container .stake-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.spin-stake .stake-container .stake-btn form{
    display: flex;
    justify-content: center;
    align-items: center;

}
.spin-stake .stake-container .stake-btn form .form-control{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow   : 1px 1px 4px 0px rgba(179, 0, 179, 0.329), 1px 1px 4px 0px rgba(204, 0, 204, 0.336) inset;
    overflow: hidden;
    border-radius: 7px ;
    width: 60%;

}
.spin-stake .stake-container .stake-btn form .form-control input{
    appearance: none;
    border: none;
    outline: none;
    padding: 7px;
    background-color: transparent;
    width: 60%;
    
}
.spin-stake .stake-container .stake-btn form .form-control button{
    appearance: none;
    border: none;
    outline: none;
    padding: 7px;
    font-size: 15px;
    background: var(--red-gradient, linear-gradient(96deg, rgb(70, 0, 150) 10.59%, #b80281 70.48%));
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    
}


.stake-histroy {
    padding: 10px;
    margin-bottom: 70px;
}

.stake-histroy .stake-container {
    box-shadow      : 1px 1px 4px 0px rgba(179, 0, 179, 0.329), 1px 1px 4px 0px rgba(204, 0, 204, 0.336) inset;
    background-color: #fff;
    border-radius   : 7px;
    overflow        : hidden;
    min-height      : 300px;
    padding         : 10px;
}
.stake-histroy .stake-container .stake-head {
    font-size: 20px;
    color: #4a03b4;
    font-weight: 600;
    margin-bottom: 15px;
}
.stake-histroy .stake-container .stake-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #5b00af;
}
.stake-histroy .stake-container .stake-body .stake-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #3a008517;
}
.stake-histroy .stake-container .stake-body .stake-content .stake-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.stake-histroy .stake-container .stake-body .stake-content .stake-name span.icon{
   font-size: 20px;
   box-shadow: 1px 1px 4px 0px rgba(179, 0, 179, 0.164), 1px 1px 4px 0px rgba(204, 0, 204, 0.137) inset;
   padding: 7px;
   border-radius: 30px;
}
.stake-histroy .stake-container .stake-body .stake-content .stake-name .stake-info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.stake-histroy .stake-container .stake-body .stake-content .stake-name .stake-info h4{
   margin: 0;
   padding: 0;
   font-size: 15px;
}
.stake-histroy .stake-container .stake-body .stake-content .stake-name .stake-info span{
   font-size: 10px;
 }
 .stake-histroy .stake-container .stake-body .stake-content .stake-amount h5{
    margin: 0;
    padding: 0;
    font-size: 15px;
 }
 .stake-histroy .stake-container .stake-body .stake-content .stake-status h5{
    margin: 0;
    padding: 0;
    font-size: 15px;
 }
 .stake-histroy .stake-container .stake-body .stake-content .stake-status{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .stake-histroy .stake-container .stake-body .stake-content .stake-status span.won{
    font-size: 12px;
    color: #13c703;
    font-weight: 600;
 }
 .stake-histroy .stake-container .stake-body .stake-content .stake-status span.lost{
    font-size: 12px;
    color: #dd0101;
    font-weight: 600;
 }

 .no-wallet{
    padding: 10px;
    margin-bottom: 70px;
 }
 .no-wallet .no-wallet-container{
    box-shadow      : 1px 1px 4px 0px rgba(179, 0, 179, 0.329), 1px 1px 4px 0px rgba(204, 0, 204, 0.336) inset;
    background-color: #fff;
    border-radius   : 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
 }
 .no-wallet .no-wallet-container h2{
   color: #32007dde;
 }
 .no-wallet .no-wallet-container a{
    font-size: 1.2rem;
    background: var(--red-gradient, linear-gradient(96deg, rgb(70, 0, 150) 10.59%, #b80281 70.48%));
    color: #fff;
    padding: 10px;
    border-radius: 7px;
    text-decoration: none;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}
.no-wallet .no-wallet-container a:hover{
    background: var(--red-gradient, linear-gradient(96deg, rgb(0, 184, 168) 10.59%, #020eb8 70.48%));
}