.WelcomeBonus {
    color      : rgba(3, 46, 163, 0.9);
    font-size  : 15px;
    font-weight: 500;
}

.dropdown-content {
    overflow        : hidden;
    left            : 10px;
    top             : 55px;
    padding-top     : 4px;
    padding-bottom  : 4px;
    padding-left    : 10px;
    padding-right   : 10px;
    border-radius   : 8px;
    display         : none;
    position        : absolute;
    background-color: #f9f9f9;
    min-width       : 160px;
    height          : auto;
    box-shadow      : 0px 8px 16px 0px rgba(90, 90, 90, 0.856);
    z-index         : 1;

}

.dropdown-content.show {
    display: block;
}

.cont button {
    font-size: 11;
    text-decoration: none;
    color          : #350D73;
}

.dropdown-header {
    margin-bottom: 0;
    font-size    : 14px;
    color        : #260458;
    white-space  : nowrap;
    margin-top   : 5px;
}

.dropdown-divider {
    margin-bottom: 15px;
    margin-top   : 9px;
    overflow     : hidden;
    border-top   : 1px solid #350D73;
}
.dropdown-divider2 {
    width: 90%;
    margin-bottom: 15px;
    margin-top   : 9px;
    overflow     : hidden;
    border-top   : 1px dashed #ffffff;
}
.dropdown-item {
    display         : block;
    width           : 100%;
    padding         : 4px;
    clear           : both;
    font-weight     : 400;
    text-align      : inherit;
    white-space     : nowrap;
    background-color: transparent;
    border          : 0;
    font-size       : 13px;

}
.dropdown-item ion-icon{
    font-size: 17px;
    margin-bottom: -4px;
    padding-top: 5px;
}
.dropname{
    padding-left: 5px;
}
.dropdown-content ul {
    list-style: none;
    color     : #350D73;
}

.sidebar {
    align-items: center;
    display                : none;
    position               : fixed;
    height                 : 80%;
    background             : #350D73;
    border-top-right-radius: 50px;
    bottom                 : 0;
    left                   : 0;
    width                  : 250px;
    overflow               : hidden;
    z-index                : 99999999;
    padding-left           : 9px;
    padding-top            : 15px;
    padding-right: 10px;
    flex-direction         : column;
}

.sidebar.active {
    left   : 0;
    display: flex;
}

.SidebarHeader {
    width          : 100%;
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    gap            : 5px;
}

.userimg {
    width          : 38px;
    height         : 38px;
    justify-content: center;
    align-items    : center;
    display        : flex
}

.Sidebarname {
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
    display        : flex;
}

.Sidebarname .stp {
    color        : #ffffff;
    font-weight  : 600;
    font-size    : 16px;
    margin-bottom: -4px;
}

.lv {
    font-size: 10px;
    color    : #09cfe9;
}
.Sidebar-content{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 7px;
    margin-top: 30px;
    max-height: 420px; 
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-item2{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: .9375rem;
    font-family: Gantari,sans-serif;
}
.dropdown-item2 ion-icon{
    font-size: 20px;
}
.Sidebar-content button:hover {
    color: #350D73;
    background: #ffd900;
    padding: 9px;
    border-radius:9px;
    width: 80%;
}


.sub-list {
    align-items: flex-start;
    justify-content: center;
    display: none;
    width: 100%;
    padding-left: 30px;
    
  }
  .sub-list-active {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .sub-list a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .sub-list a:hover {
    color: #350D73;
    background: #ffd900;
    padding: 10px;
    border-radius:9px;
    
  }
  .subp3{
    position: relative;
  }
  .chevron-down{
    position: absolute;
    left: 170px;
    margin-top: 6px;
  }

  .upgrade-container{
    width: 100%;
   display: flex;
   justify-content: center;
    height: 80vh;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 2px 2px 4px 0px rgba(55, 31, 110, 0.25) inset, 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;

}
.table-content{
    border-radius: 7px;
    width: 100%;
    height: 80vh;
    overflow: auto;
   
}

table,th,td {
 
text-align: center;
    border-collapse: collapse;
    padding: 7px;
}
table{
    width: 100%;
}
thead th{
    color: #fff;
    position: sticky;
    top: 0;
    /* left: 0; */
    background-color: #2c0666;
}
/* .body td {
 width: 200px;
    text-align: left;
        border-collapse: collapse;
        padding: 7px;
    } */
tbody tr{
    color: #2c0666;
    font-size: 15px;
}
.body tbody tr{
    color: #2c0666;
    font-size: 13px;
}
tbody tr:nth-child(even){
    background-color: #4a07e62d;
}
@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 11rem;
    }
}

@media (max-width: 1000px) {
    td.nameaff:not(:first-of-type) {
        min-width: 30rem;
        text-align: left;
    }
}
.prombtn{
    padding: 6px;
    border-radius: 7px;
    background-color: #260458;
    color: #FFF;
    border: none;
    
}
.nameaff34 {
    font-weight: 600;
    font-size: 14px;
    text-align     : left;
    display        : flex;
    justify-content: center;
    flex-direction : column;
}

.nameaff34 span{
    font-weight: 400;
    font-size: 8px;
   
}
.status.active{
    background-color: rgba(11, 224, 107, 0.541);
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #2c0666;
  
}
.status.inactive{
    background-color: rgba(224, 11, 11, 0.541);
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #2c0666;
}

.task12{
    appearance: none;
    -webkit-appearance: none;
    height: 80vh;
   margin-top: 70px;
   width: 100%;
    height: 80vh;
  padding-top: 10px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    display: inline-flex;
}

.adscard{
    padding: 10px;
    width: 90%;
    height: 80%;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    border: 1px #350D73 solid;
}


.adscard .thumb23{
    overflow: hidden;
    border-radius: 7px;
    width:100%;
    height: 100%;
    object-fit: cover;
}
.adscard .thumb23 img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.adscard .adstitle{
    text-align: left;
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
}
.adscard .adscontent{
    color: #260458;
    font-size: 17px;
}
  

 
  