body {
    margin         : 0;
    padding        : 0;
    scroll-behavior: smooth;
    background     : #ececec;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
  
.bodies{
    top: 0;
    margin-bottom: 70px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}


.HeaderBar {
    
    width          : 100%;
    padding-top    : 8px;
    padding-bottom : 8px;
    justify-content: center;
    align-items    : center;
    display        : flex;
    position  : fixed;
    background: #350D73;
    z-index: 1000;
   
}

.Head {
    justify-content: space-between;
    align-items    : center;
    width          : 100%;
    display        : flex;
    padding: 0px 6px 0px 6px;
}

.HeaderBar2 {
   width: 100%;
    position  : fixed;
    z-index: 1000;
    background: #350D73
}
.Head2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 6px 5px 6px;
}
.header-tittl{
    font-size: 17px;
    color: fff;
}

.ProfileIt {
    justify-content: center;
    align-items    : center;
    gap            : 8px;
    display        : flex;
}

.Ellipse644 {
    width        : 38px;
    height       : 38px;
    background   : linear-gradient(0deg, #C4C4C4 0%, #C4C4C4 100%);
    border-radius: 9999px;

}

.Frame12565 {
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
    display        : inline-flex;
    padding-bottom : 20px;
}

.Frame12565 .tba1 {
    width      : 105px;
    height     : 15px;
    color      : white;
    font-size  : 10px;
    font-weight: 700;
    line-height: 31.50px;
}

.Frame12565 .tba2 {
    width      : 88px;
    height     : 16px;
    color      : white;
    font-size  : 14px;
    font-weight: 700;
    line-height: 31.50px;

}

.Vector0 {
    width        : 24px;
    height       : 24px;
    padding-right: 8px;
}

.Vector {
    width : 24px;
    height: 28px;
}

.AffiliateCard {
    width          : 380px;
    height         : auto;
    box-shadow     : 1px 4px 2px rgba(0, 0, 0, 0.25);
    background     : #350D73;
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
    gap            : 20px;
    display        : inline-flex;
    margin-top     : 90px;
    border-radius  : 15px;
    overflow       : hidden;
}

.AffiliateCard .Frame12576 {
    display        : flex;
    align-content  : center;
    justify-content: center;
    flex-direction : column;


}

.f2670 {
    padding-top    : -10px;
    padding-left   : 10px;
    justify-content: flex-start;
    align-items    : flex-start;
    gap            : 10px;
    display        : inline-flex;
}

.f49 {
    display        : flex;
    justify-content: center;
    align-content  : center;
    width          : 100%;
    margin-top     : 0px;

}

.pht1 {
    padding-top: 10px;
    color      : white;
    font-size  : 11px;
    font-weight: 700;
}



hr {
    margin-left: 5px;
    width      : 365px;
    border     : 0.75px white solid;
}

.Frame12577 {
    margin-top     : 17px;
    padding        : 10px;
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
    display        : flex;
}

.Frame12577 .Afb {
    color      : white;
    font-size  : 15px;
    font-weight: 600;
    line-height: 25px;

}

.QuickAction {


    margin-top     : 17px;
    display        : flex;
    width          : 85%;
    padding        : 3px 10px;
    flex-direction : column;
    justify-content: center;
    gap            : 4px;
    border-radius  : 10px;
    background     : #f3f3f3;
    box-shadow     : 2px 2px 4px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

.QuickAction .title-qa {
    width      : 88px;
    height     : 18px;
    color      : #350D73;
    font-size  : 13px;
    font-weight: 700;
    padding-top: 10px;


}

.Quicklist {
    display        : inline-flex;
    margin-top     : 17px;
    padding-bottom : 20px;
    justify-content: center;
    align-items    : center;
    gap            : 50px;

}

.Task {
    flex           : 1 1 0;
    height         : 74px;
    padding-left   : 3px;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    display        : inline-flex;
}

.Group12563 {
    width : 45px;
    height: 45px;
}

.Ellipse645 {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 45px;
    height         : 45px;
    left           : 0px;
    top            : 0px;
    background     : white;
    box-shadow     : 2px 2px 2px #350D73;
    border-radius  : 9999px;
}

.Bookmark {
    width     : 22.50px;
    height    : 22.50px;
    background: rgba(0, 0, 0, 0);
}

/* .Vector-99 {
    width     : 15px;
    height    : 18.75px;
    left      : 3.75px;
    top       : 1.87px;
    
    background: #350D73;
} */

.DailyTask {
    margin-top : 5px;
    color      : #350D73;
    font-size  : 14px;
    font-weight: 700;
}

.taskt {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
}

.ReferralBar {
    margin-top     : 10px;
    width          : 87%;
    padding        : 6px;
    background     : #350D73;
    box-shadow     : 1px 1px 2px rgba(0, 0, 0, 0.25) inset;
    border-radius  : 7px;
    overflow       : hidden;
    justify-content: center;
    align-items    : center;
    gap            : 10px;
    display        : inline-flex;

}

.ReferralBar .ReferralLink {
    color      : white;
    font-size  : 13px;
    font-weight: 700;
    margin-left: -14px;


}

.LinkBar {
    padding        : 3px;
    background     : white;
    border-radius  : 5px;
    overflow       : hidden;
    justify-content: center;
    align-items    : center;
    display        : flex;
    margin-left    : 5px;
    margin-right   : 5px;
}

.link {
    color      : rgba(53, 13, 115, 0.68);
    font-size  : 12px;
    font-style : normal;
    font-weight: 700;
    padding    : 2.5px;
}

.CopyButton {
    cursor: pointer; 
    margin-right   : -14px;
    display        : flex;
    width          : 20px;
    height         : 20px;
    padding        : 1px;
    justify-content: center;
    align-items    : center;
    border-radius  : 5px;
    background     : #FFF;
    overflow       : hidden;
    justify-content: center;
    align-items    : center;
}

.BasilCopyOutline {
    width          : 18px;
    height         : 18px;
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
    display        : flex;
}

.Vector23 {
    width      : 20px;
    height     : 20px;
    flex-shrink: 0;
}

.SummaryBar {
    margin-top     : 15px;
    width          : 100%;
    height         : auto;
    justify-content: center;
    align-items    : center;
    gap            : 40px;
    display        : flex;
}

.ReferralNumbers {
    width        : 135px;
    height       : 69px;
    background   : rgba(253, 189, 15, 0.90);
    box-shadow   : 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow     : hidden;
}

.Rectangle4 {
    margin-top: 25px;
    width     : 143px;
    height    : 55.30px;
}

.Frame12560 {
    margin-top     : -70px;
    color          : #FFF;
    padding        : 10px;
    display        : inline-flex;
    flex-direction : column;
    gap            : 5px;
    justify-content: center;
    align-items    : center;
    font-size      : 14px;
    padding-left   : 20px;
    font-weight    : 600;

}

.Payout {
    width        : 134px;
    height       : 69px;
    background   : #350D73;
    box-shadow   : 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow     : hidden;
}

.AdsCards {
    margin-top     : 17px;
    margin-left    : 10px;
    width          : 95%;
    height         : 90px;
    background     : #350D73;
    border-radius  : 10px;
    overflow       : hidden;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    display        : inline-flex;
}

.AdvertBanner {
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : white;
    font-size      : 18px;
    font-weight    : 700;

}

.RecentActivities {
    margin-bottom  : 17px;
    margin-top     : 17px;
    width          : 93%;
    height         : auto;
    padding-top    : 13px;
    padding-left   : 3px;
    padding-right  : 2px;
    background     : #f7f6f6;
    box-shadow     : 2px 2px 4px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius  : 10px;
    overflow       : hidden;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 9px;
    display        : inline-flex;
}

.Viewmore {
    justify-content: center;
    align-items    : center;
    gap            : 220px;
    display        : inline-flex;
}

.RecentActivities1 {
    color      : #350D73;
    font-size  : 12px;
    font-weight: 500;
    line-height: 19.50px;
}

.ListFrame1 {
    padding-bottom : 10px;
    height         : auto;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 5px;
    display        : inline-flex;
    overflow       : hidden;
}

.Listly {
    width          : 100%;
    height         : auto;
    border-bottom  : 1px rgba(52.76, 12.91, 114.75, 0.70) solid;
    justify-content: space-between;
    align-items    : center;
    display        : flex;
    gap            : 90px;

}

.WelcomeBonus1 {
    color      : #350D73;
    font-size  : 11px;
    font-weight: 500;
    text-align : center;
    text-decoration: none;
    appearance: none;
    -webkit-appearance: none;

}

.Frame1256684 {
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    display        : flex;

}

.timelist {
    color      : #666565;
    font-size  : 8px;
    font-weight: 500;


}

.vpd {
    width : 25px;
    height: 25px;
    left  : 2.08px;
    top   : 2.08px;
}

footer {
 
    position: fixed;
    bottom  : 0;
    left    : 0;
    width   : 100%;
    z-index: 1000;
}

.BottomBar1 {
    gap            : 50px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    background     : #350D73;
}

.BottomBar1 a {
  
    text-decoration: none;
    color          : none;
}

.Task a {
    text-decoration: none;
    color          : none;
}

.Frame125560 {
    padding-top    : 7px;
    flex-direction : column;
    width          : 31px;
    height         : 48px;
    justify-content: center;
    align-items    : center;
    display        : inline-flex;
  
    
}

.Homei {
    color      : white;
    font-size  : 11px;
    font-weight: 500;
    line-height: 19.50px;
}

.vpd24 {
    width      : 24px;
    height     : 24px;
    flex-shrink: 0;
}



.VtuPortal {
    font-size  : 14px;
    font-weight: 700;
}

.sky_vtutab {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 10px;

}

.Syk {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    height         : auto;
    padding        : 8px;
    flex-direction : column;
    background     : rgb(247, 247, 247);
    border-radius  : 10px;
    overflow       : hidden;
    margin-top     : 75px;
    box-shadow     : 2px 4px 0px rgba(0, 0, 0, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.25) inset
}

.VtuTab {
    margin-top     : 15px;
    width          : 363px;
    height         : 25px;
    padding        : 5px;
    background     : #F3F3F3;
    box-shadow     : 0px 0.5px 4px #350D73;
    border-radius  : 7px;
    overflow       : hidden;
    justify-content: space-between;
    align-items    : center;
    display        : flex;
}

.VtuTab2 {
    margin-top     : 15px;
    width          : 363px;
    height         : 25px;
    padding        : 5px;
    background     : #F3F3F3;
    box-shadow     : 0px 0.5px 4px #350D73;
    border-radius  : 7px;
    overflow       : hidden;
    justify-content: space-between;
    align-items    : center;
    display        : flex;
}

.VtuTab21 {
    margin-top     : 15px;
    width          : 363px;
    height         : 25px;
    padding        : 5px;
    background     : #F3F3F3;
    box-shadow     : 0px 0.5px 4px #350D73;
    border-radius  : 7px;
    overflow       : hidden;
    justify-content: space-between;
    align-items    : center;
    display        : flex;
}

.VtuTab2 .buydata2 {
    color        : rgba(52.76, 12.91, 114.75, 0.85);
    font-size    : 14px;
    font-weight  : 500;
    cursor       : pointer;
    padding-left : 30px;
    padding-right: 30px;

}

.VtuTab2 .buydata2.active,
.VtuTab2 .buydata2:hover {
    background    : #350D73;
    color         : #FFF;
    padding-top   : 4px;
    padding-bottom: 4px;
    border-radius : 10px;
}





.buydata {
    color        : rgba(52.76, 12.91, 114.75, 0.85);
    font-size    : 14px;
    font-weight  : 500;
    cursor       : pointer;
    padding-left : 30px;
    padding-right: 30px;
}


.buydata.active,
.buydata:hover {
    background    : #350D73;
    color         : #FFF;
    padding-top   : 4px;
    padding-bottom: 4px;
    border-radius : 10px;

}


.Field {
    display        : none;
    justify-content: center;
    align-items    : center;
    padding        : 10px;
    flex-direction : column;
}

.Field.active {
    display: block;
}

.Inputvtu {
    gap            : 1px;
    margin-top     : 20px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    border-radius  : 7px;
    background     : #FFF;
    overflow       : hidden;
    box-shadow     : 1px 1px 2px 0px rgba(53, 13, 115, 0.20), 1px 1px 2px 0px rgba(0, 0, 0, 0.20) inset;
}

.inputsub {
    color          : #FFF;
    background     : #350D73;
    padding        : 10px;
    width          : 100%;
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.Inputvtu input {
    height    : 100%;
    color     : #350D73;
    padding   : 9.5px;
    border    : none;
    background: #FFF;
    outline   : none;
    box-shadow: none;
    margin    : 0;

}

.Inputvtu input:focus {
    border       : 1px solid #350D73;
    outline      : none;
    border-radius: 0px 7px 7px 0px;
}


.Frame12573 {
    margin-top     : 20px;
    width          : 100%;
    height         : 100%;
    justify-content: center;
    align-items    : center;
    gap            : 32px;
    display        : inline-flex;
}

.network {
    overflow     : hidden;
    width        : 50px;
    height       : 50px;
    box-shadow   : 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.select-field {
    appearance        : none;
    -webkit-appearance: none;
    background        : #ffffff;
    margin-top        : 20px;
    width             : 100%;
    height            : 100%;
    box-shadow        : 1px 1px 2px 0px rgba(53, 13, 115, 0.20), 1px 1px 2px 0px rgba(0, 0, 0, 0.20) inset;
    border-radius     : 7px;
    padding           : 12px;
    color             : #350D73;

}

.select-field::after {
    content       : "\25BC";
    font-size     : 15px;
    color         : #350D73;
    position      : absolute;
    top           : 50%;
    right         : 10px;
    transform     : translateY(-50%);
    pointer-events: none;
}

.select-field option[selected] {
    font-weight: bold;
}

.select-field option {
    font-size: 14px;
    padding  : 4px;
}

.select-field option:hover {
    background-color: #350D73;
}

.select-field:focus {
    border-color: #350D73;
    box-shadow  : 1px;
    outline     : none;
}

.bot {
    margin-top     : 30px;
    width          : 100%;
    height         : 100%;
    padding        : 10px;
    background     : #350D73;
    color          : #FFF;
    font-size      : 15px;
    border-radius  : 7px;
    overflow       : hidden;
    justify-content: center;
    align-items    : center;
    display        : inline-flex;
}

.bot:hover {
    background-color: #5611bd;
}

.cent {
    display        : flex;
    justify-content: center;
}

.cent1 {
    display        : flex;
    justify-content: center;
    flex-direction : column;
    padding        : 10px;

}

.JobsCardViews {
    width          : 100%;
    height         : auto;
    justify-content: center;
    align-items    : center;
    gap            : 12px;
    display        : inline-flex;
    margin-top     : 80px;
}

.JbCard {
    width        : 195px;
    height       : auto;
    position     : relative;
    background   : #350D73;
    box-shadow   : 0px 2px 4px #350D73;
    border-radius: 7px;
    overflow     : hidden;
}

.Card1Svg {
    width   : 235px;
    height  : 114px;
    left    : -40px;
    top     : 9px;
    position: absolute;

}

.SvgVctotor {
    width        : 70px;
    height       : 70px;
    left         : 165px;
    top          : 44px;
    position     : absolute;
    border-radius: 9999px;
    border       : 10px rgba(253.94, 253.94, 253.94, 0.13) solid;

}

.SvgVector2 {
    width        : 70px;
    height       : 70px;
    left         : 0px;
    top          : 0px;
    position     : absolute;
    border-radius: 9999px;
    border       : 10px rgba(253.94, 253.94, 253.94, 0.13) solid;

}

.NmbList {
    padding-top    : 2px;
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
    gap            : 3px;
    display        : flex;
}

.NmbTop {
    justify-content: space-between;
    align-items    : flex-start;
    display        : flex;
    padding-left   : 7px;
    gap: 5px;
}

.JobApproved20 {
    color      : white;
    font-size  : 10px;
    font-weight: 700;
}

.huo {
    width       : 179.23px;
    height      : 0px;
    border      : 0.75px white solid;
    padding-left: 10px;
}

.Frame12577a {
    color         : #FFF;
    padding-top   : 35px;
    padding-left  : 7px;
    padding-bottom: 5px;
    font-weight   : 700;
}

.Afb1 {
    font-size     : 14px;
    padding-bottom: 3px;
}

.Card2Svg2 {
    left           : 47px;
    top            : -10px;
    position       : absolute;
    justify-content: flex-start;
    align-items    : flex-start;
    gap            : 10px;
    display        : inline-flex;
}

.Svg1 {
    width        : 100px;
    height       : 100px;
    border-radius: 9999px;
    border       : 10px rgba(255, 255, 255, 0.10) solid;
}

.Svg2 {
    width        : 50px;
    height       : 50px;
    border-radius: 9999px;
    border       : 5px rgba(255, 255, 255, 0.10) solid;
}

.svg3 {
    width        : 25px;
    height       : 25px;
    border-radius: 9999px;
    border       : 2.50px rgba(255, 255, 255, 0.10) solid
}

.JobsList {
    width          : 100%;
    height         : auto;
    margin-top     : 20px;
    padding-bottom : 15px;
    background     : white;
    border-radius  : 10px;
    overflow       : hidden;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 19px;
    display        : inline-flex;
}

.JobsTab {
    margin            : 10px;
    /* align-self     : stretch; */
    height            : auto;
    width             : 100%;
    background        : #F3F3F3;
    box-shadow        : 0px 0.5px 4px #350D73;
    border-radius     : 7px;
    overflow          : hidden;
    justify-content   : center;
    align-items       : center;
    gap               : 77px;
    display           : inline-flex;
}

.ItermsLists {
    width          : 390px;
    height         : auto;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    display        : none;
    flex-direction : column;
    overflow       : hidden;
    gap            : 10px;
}

.ItermsLists.active {
    display: block;
}

.JobsItems {

    justify-content: space-between;
    align-items    : center;
    display        : flex;
    width          : 100%;
    border-bottom  : 1px solid rgba(53, 13, 115, 0.24);
}

.JobName {
    justify-content: flex-start;
    align-items    : center;
    display        : flex;
    float          : left;
    /* margin-right: -20px;
    padding-left   : 8px; */

}

.JobNameicon {
    width        : 35px;
    height       : 35px;
    border-radius: 50px;
}


.JobsTitle {
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
    display        : flex;
    flex-wrap      : wrap;
    overflow       : hidden;
    /* padding-left: 3px;
    margin-left    : -10px; */

}

.SocialFeedsServices {
    color      : #350D73;
    font-size  : 13px;
    font-weight: 600;
}

.NetflixInc {
    color      : rgba(52.76, 12.91, 114.75, 0.90);
    font-size  : 8px;
    font-weight: 500;
}

.PromotedBy {
    width         : 100%;
    height        : 7px;
    color         : rgba(52.76, 12.91, 114.75, 0.90);
    font-size     : 8px;
    font-weight   : 500;
    padding-bottom: 3px;
}

.Gpt {
    justify-content: center;
    align-items    : center;
    display        : flex;
    gap            : 9px;

}

.gtpprice {
    color      : #350D73;
    font-size  : 13px;
    font-weight: 500;

}

.JbBottom {
    appearance: none;
    -webkit-appearance: none;
    background: #350D73;
    color: #FFF;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
}

.JbBottom:hover {
    background: #5611bd;
    color     : #FFF;
}

.StartNow {
    width      : 59px;
    color      : white;
    font-size  : 11px;
    font-weight: 700;
}

.marketdash {
    width        : 100%;
    height       : 120px;
    position     : relative;
    background   : #350D73;
    box-shadow   : 0px 2px 4px #350D73;
    border-radius: 7px;
    overflow     : hidden;
    display      : flex;

}

.marketdash .Card1Svg1 {
    width   : 235px;
    height  : 114px;
    left    : -40px;
    top     : 9px;
    position: absolute;
}

.Card1Svg1.SvgVctotor {
    width        : 70px;
    height       : 70px;
    left         : 165px;
    top          : 44px;
    position     : absolute;
    border-radius: 9999px;
    border       : 10px rgba(253.94, 253.94, 253.94, 0.13) solid;
}

.Card1Svg1.SvgVector2 {
    width        : 70px;
    height       : 70px;
    left         : 0px;
    top          : 0px;
    position     : absolute;
    border-radius: 9999px;
    border       : 10px rgba(253.94, 253.94, 253.94, 0.13) solid;
}
.saleskp{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;

}
.TotalSalesEarnings {
    color      : white;
    font-size  : 15px;
    font-weight: 500;
    padding    : 10px;
   
}

.NumberOfSales {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    margin-top     : -5px;
}

.NumberOfSales.NumberOfSales {
    color        : white;
    font-size    : 12px;
    font-weight  : 600;
    padding-right: 10px;
}

.numb {
    color        : white;
    font-size    : 14px;
    font-weight  : 500;
    padding-right: 15px;
}

.salsamount {
    color       : white;
    font-size   : 17px;
    font-weight : 500;
    padding-left: 20px;
}

.salestittel {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
  
}

.Lists {
    width          : 100%;
    height         : auto;
    display        : none;
    justify-content: flex-start;
    flex-wrap      : wrap;
    align-items    : flex-start;
    gap            : 15px;
    padding-left   : 26px;
}

.Lists.active {
    display: flex;
}

.product {
    width          : 175px;
    height         : auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background     : white;
    box-shadow     : 1px 2px 2px #350D73;
    border-radius  : 8px;
    overflow       : hidden;
    border         : 0.40px #350D73 solid;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    gap            : 3px;


}

.product .ItemsImg {
    width          : 120px;
    height         : 90px;
    border-radius  : 8px;
    justify-content: center;
    align-items    : center;
    display        : flex;
    margin-top     : -19%;
}

.ItemsImg .img1 {
    width        : 120px;
    height       : 90px;
    border-radius: 8px;
    border       : 0.10px #350D73 solid;
}

.Itermname {
    width       : 100%;
    color       : #31007D;
    font-size   : 10px;
    font-weight : 600;
    padding-left: 12PX;
    padding-top : 9px;
}

.itemsprice {
    color       : #350D73;
    font-size   : 10px;
    font-weight : 500;
    padding-left: 7px;


}

.cart {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    align-items    : center;

}

.ByBtn {
    padding-left   : 5px;
    padding-right  : 5px;
    padding-top    : 3px;
    padding-bottom : 3px;
    border-radius  : 5px;
    border         : 0.35px #350D73 solid;
    justify-content: center;
    align-items    : center;
    display        : inline-flex;
    margin-right   : 5px;
    cursor         : pointer;

}

.BuyNow {
    color      : #350D73;
    font-size  : 10px;
    font-weight: 500;

}

.BuyNow1 {
    color      : #fafafa;
    font-size  : 10px;
    font-weight: 500;

}

.ByBtn1 {
    padding-left   : 10px;
    padding-right  : 10px;
    padding-top    : 3px;
    padding-bottom : 3px;
    background     : #350D73;
    border-radius  : 5px;
    justify-content: center;
    align-items    : center;
    display        : inline-flex;
    margin-right   : 5px;
    cursor         : pointer;

}

.Resell {
    width       : 96px;
    height      : 15px;
    color       : #350D73;
    font-size   : 9px;
    font-weight : 500;
    padding-left: 7px;
}

.Loction {
    padding-top    : 10px;
    margin-top     : 10px;
    margin-bottom  : -40px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : #31007D;
    font-size      : 10px;
}

.Atmcard {
    margin-top   : 88px;
    width        : 386px;
    height       : 223px;
    position     : relative;
    background   : linear-gradient(249deg, #360772 26%, #5b00a5 50%, #3B068D 63%);
    border-radius: 9px;
    overflow     : hidden;
    border       : 0.50px #350D73 solid;
}


.BankOfNigeria {
    color        : white;
    font-size    : 16px;
    position: absolute;
    right: 0;
    left: 250px;
}

.info {
    display       : flex;
    flex-direction: column;
    padding       : 10px;
}

.groupchip {
    margin-top: 40px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.cardnumb {
    color      : #FFF;
    font-size  : 20px;
    font-style : normal;
    font-weight: 500;
}

.cardnumbersub {
    color      : #FFF;
    font-size  : 10px;
    font-style : normal;
    font-weight: 500;
    margin-top: -15px;
}
.name_logo{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.cardname {
    color      : #FFF;
    font-size  : 13px;
    font-style : normal;
    font-weight: 500;
   
}
 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.name_logo .logoname {
    color      : #FFF;
    font-size  : 13px;
    font-style : normal;
    font-weight: 400;
}
.drawalpage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.page34 {
    width         : 386px;
    height        : 100%;
    border-radius : 8px;
    background    : #FFF;
    overflow      : hidden;
    display       : flex;
    align-items   : center;
    flex-direction: column;
    color: #350D73;
    padding-left  : 10px;
    padding-bottom: 50px;
    box-shadow    : 1px 1px 4px 0px rgba(0, 0, 0, 0.25), 1px 1px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.select-field2 {
    appearance        : none;
    -webkit-appearance: none;
    background        : #ffffff;
    width: 350px;
    box-shadow        : 1px 1px 2px 0px rgba(53, 13, 115, 0.20), 1px 1px 2px 0px rgba(0, 0, 0, 0.20) inset;
    border-radius     : 7px;
    padding           : 12px;
    color             : #350D73;

}

.select-field2::after {
    content       : "\25BC";
    font-size     : 15px;
    color         : #350D73;
    position      : absolute;
    top           : 50%;
    right         : 10px;
    transform     : translateY(-50%);
    pointer-events: none;
}

.select-field2 option[selected] {
    font-weight: bold;
}

.select-field2 option {
    font-size: 14px;
    padding  : 4px;
}

.select-field2 option:hover {
    background-color: #350D73;
}

.select-field2:focus {
    border-color: #350D73;
    box-shadow  : 1px;
    outline     : none;
}
.numbbal{
    width: 350px;
    color: #050457;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 5px;
}
.numbbal span{
    font-size: 12px;
    font-weight: 500;
    
}
.Inputvtu input {
  width: 100%;
}
.submit {
    color: #FFF;
    margin-top     : 50px;
    display        : flex;
    width          : 267px;
    padding        : 9px 112px 9px 101px;
    align-items    : center;
    justify-content: center;
    border-radius  : 7px;
    background     : #350D73;
}

.inputpin{
  
    width: 330px;
    margin-top: 20px;
    padding: 1px;
    background: #ffffff;
    box-shadow: 1px 1px 2px 0px rgba(67, 5, 160, 0.2), 1px 1px 2px 0px rgba(38, 1, 99, 0.2) inset;
    border-radius: 7px;
    color: #350D73;
}
.inputpin input{
    width: 330px;
    color: #350D73;
    background: #FFF;
    border-radius: 7px;
    border: none;
    padding: 10px;
    outline: none;
}
.inputpin input:focus{
    outline: 1.5px solid  #31007d;
}
.withhistroy{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.hist{
    overflow: hidden;
    width: 386px;
    height: 200px;
    background: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius:10px;
    padding: 10px;
}
.Listly765{
    display: flex;
    justify-content: space-around;
    align-items: center;
   width: 100%;
   height: auto;
   border-bottom: 1px rgba(52.76, 12.91, 114.75, 0.70) solid;
   gap: 90px;
}