<!-- Popup -->
<div id="digital" class="popup-digital">
    <div class="popup-content-dg">
        <div class="pro-title-dg">Facebook Ads Sales Generator Program.</div>
        <div class="pro-content-dg">
      <div class="pro-btn-dg">
        <button class="jvpage"><a href="#" target="_blank">JV Page</a></button>
       <button class="pro-page"><a href="#" target="_blank">Product Page</a></button>

      </div>

    <div class="pro-sale-dg">
        <div class="pro-sale-card-dg">
            <span>Product Sales Price</span>
            <h2>$500</h2>
        </div>
        <div class="pro-sale-card-dg">
            <span>Affiliate Commission</span>
            <h2>50%</h2>
        </div>
    </div>


<div class="pro-aff">
    <div class="dg-container">
        <div class="dg-title">Copy Affiliate Link Below 👇</div>
        <div class="pro-aff-body">
        <form action="">
            <input type="text" id="copyInput" placeholder="https://127.0.192.0:3000/611264/301602" value="https://127.0.192.0:3000/611264/301602" readonly disabled>
            <button type="button" class="copybtn"><i class="fa-regular fa-copy"></i></button>
        </form>
    </div>
    </div>
</div>


<div class="seller-img-pro">
    <h4>Seller Information:</h4>
         <div class="seller-pro">
            <div class="seller-img">
                <img src="/image/Avater.PNG" alt="">
            </div>
            <div class="seller-pro-content">
                <h2>John Olawatobi</h2>
                <span style="font-size: 12px;">Affiliate/Digital Creator</span>
                <span style="color: #007cad;"><a href="mailto:hello@alphatechmultimedia.com">hello@alphatechmultimedia.com</a></span>
            </div>
         </div>
        </div>
            

            <p style="color: #f11515; text-align: center; font-size: 8px; margin-top: 20px;">Please be advised that the affiliate link furnished above is the officially designated and authorized link affiliated with this particular product, ensuring a legitimate and valid connection for any potential transactions or referrals.</p>
        </div>
        <div class="resell-close">
            <button onclick="digitalPopup()"><ion-icon name="close-outline"></ion-icon></button>
        </div>
    </div>
</div>
