<!-- Popup -->
<div id="resell" class="popup" style="display: none;">
    <div class="popup-content" style="height: 45vh; display: flex; justify-content: center; align-items: center; flex-direction: column; overflow-y: hidden; position: relative;">
        <span style="background-color: transparent; text-decoration: underline;">Resell this product</span>
        <div class="pro-title" style=" display: flex; justify-content: center; align-items: center; ">Maxi 42" Inches FHD Smart TV (D2010)</div>
        <div class="pro-content" style="  display: flex;  align-items: center; flex-direction: column; ">
            <span>Reseller Commission: <b>₦4,500</b> per sale</span>
            <p style="text-align: center;">In order to become an authorized reseller for this product, please click the button below to generate your unique Reseller Link for this specific product. By doing so, you will be entitled to earn a reseller's commission of <b>₦4,500</b> for each successful purchase made through your distinctive reseller link.</p>
            <p style="text-align: center;"><b>Your earnings increase proportionally with the volume of sales you generate.</b></p>

            <div class="pro-ref-link"><button>Generate Reseller Link</button></div>
            

            <p style="color: #f11515; text-align: center; font-size: 8px;">Please be aware that the reseller link you generate is exclusively applicable to this particular product. Should you wish to resell a different product, it will be necessary to generate a separate reseller link for that specific item.</p>
        </div>
        <div class="resell-close">
            <button onclick="togglePopup()"><ion-icon name="close-outline"></ion-icon></button>
        </div>
    </div>
</div>
