<!-- Popup -->
<div id="popup" class="popup-sell">
    <div class="popup-content-pp">
        <div class="closebtn-pp">
            <button onclick="closePopup()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="pro-title-pp">Maxi 42" Inches FHD Smart TV (D2010).</div>
        <div class="stu">Status: Brand New</div>
        <div class="pro-content-pp">
            <h4>Product Description:</h4>
            <p>The Maxi 42 Inches Smart TV D2010 comes with HDMI, USB and AV ports that aids connections of flash
                drives, laptops, projectors, DVDs. You get to enjoy playback of video clips that shows your childhood
                memories or your baby's first step in High definition by connecting your flash drive or laptop to these
                ports.
            </p>
            <p>The Maxi 42 Inches Smart TV D2010 allows you to enjoy content beyond regular TV channels. You can watch
                Netflix and use other apps on it.
            </p>
            <p>This television is a state of the art combination of movie theatre technology, artistic taste and modern
                simplicity. It is the perfect companion as it serves optimal entertainment in all ramifications.</p>
            <h4>Specifications:</h4>
            <p>SKU: MA699EA2V1ZKSNAFAMZ</p>
            <p>Weight (kg): 12</p>
            <p>Shop Type: Osun Mall</p>
            <p>Screen Size: 42″</p>
            <p>Resolution: 1920 X 1080 Pixel</p>
            <p>Color: Black</p>
            <p>ATV / DTV: Yes</p>
            <p>AV Input: Yes</p>
            <p>HDMI: 3</p>
            <p>USB: 2</p>
            <p>WIFI Function: Yes</p>
            <p>LAN Connection: Yes</p>
            <p>Wifi: Yes</p>
            <p>Head phone out: Yes</p>
            <p>Digital out: Yes</p>
            <p>Netflix – amazon prime – Online movies: Yes</p>
            <p>App store – YouTube: Yes</p>
            <p>REMOTE CONTROL</p>


            <div class="seller-img-pro-pp">
                <h4>Vendor Information:</h4>
                <div class="seller-pro">
                    <div class="seller-img">
                        <img src="/image/Avater.PNG" alt="">
                    </div>
                    <div class="seller-pro-content">
                        <h2>John Olawatobi</h2>
                        <span style="color: #007cad;"><b>Shop Location:</b> Alexander House, Otunba Jobi Fele Way,
                            Ikeja, Lagos, Nigeria.</span>
                        <span style="color: #007cad;"><a
                                href="mailto:hello@alphatechmultimedia.com">hello@alphatechmultimedia.com</a></span>
                        <span style="color: #007cad;"><a href="tell:+2349129079450">+2349129079450</a></span>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>