<%-include("../../../partials/header2")%>
<div class="vendor-card">
    <div class="vendor-container">
        <div class="vendor-body">
            <h4>Vendor Balance</h4>
            <h2>$500,000.00</h2>
            <span>Pending Balance:$750,000.00</span>
        </div>
    </div>
</div>
<div class="card-pay">
    <div class="card-pay-container">
        <div class="card-pay-body">
            <div class="card-pay-content" style="--c-p:#00bdc417;">
                <div class="card-pay-icon" style="--p-i:#00bec41c;"><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="card-pay-name">
                    <h4>785</h4>
                    <span>Total Product's</span>
                </div>
            </div>
            <div class="card-pay-content" style="--c-p:#e601da17;">
                <div class="card-pay-icon" style="--p-i:#e601db23;"><i class="fa-solid fa-circle-dollar-to-slot"></i>
                </div>
                <div class="card-pay-name">
                    <h4>$824,000.00</h4>
                    <span>Total Sales</span>
                </div>
            </div>
            <div class="card-pay-content" style="--c-p:#dd1a0017;">
                <div class="card-pay-icon" style="--p-i:#dd000025;"><i class="fa-solid fa-folder-open"></i></div>
                <div class="card-pay-name">
                    <h4>285</h4>
                    <span>Pending Order's</span>
                </div>
            </div>
            <div class="card-pay-content" style="--c-p:#0020d417;">
                <div class="card-pay-icon" style="--p-i:#0015d427;"><i class="fa-solid fa-folder-closed"></i></div>
                <div class="card-pay-name">
                    <h4>1,000</h4>
                    <span>Completed Order's</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="chart">
    <div class="chart-container">
        <div class="chart-body">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<div class="vendor-histroy">
    <div class="vendor-tab">
        <div class="venor-tab-21 active" data-tab="dgp">Digital</div>
        <div class="venor-tab-21" data-tab="pgp">Physical</div>
    </div>
    <div class="vendor-hist-container">
        <div class="vendor-hist-header">Sales Histroy</div>
        <div class="vendor-hist-body active" id="dgp">
            <div class="vendor-hist-content">
                <div class="vendor-hist-cont">
                    <div class="vendor-hist-title">Facebook Ads Sales Generator Program</div>
                    <span>26th-Oct-2023 | 06-46pm</span>
                </div>
                <div class="vendor-hist-price">
                    <div class="vendor-hist-price-title">Customer Info</div>
                    <div class="vendor-hist-price-cs">
                        <a href="mailto:alphatechmultimedia@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                        <a href="tel:+2349129079450"><i class="fa-solid fa-square-phone"></i></a>
                    </div>
                </div>
                <div class="vendor-hist-status">
                    <h4>$100</h4>
                    <span>Completed</span>
                </div>
            </div>
    <div class="vendor-hist-content">
                <div class="vendor-hist-cont">
                    <div class="vendor-hist-title">Facebook Ads Sales Generator Program</div>
                    <span>26th-Oct-2023 | 06-46pm</span>
                </div>
                <div class="vendor-hist-price">
                    <div class="vendor-hist-price-title">Customer Info</div>
                    <div class="vendor-hist-price-cs">
                        <a href="mailto:alphatechmultimedia@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                        <a href="tel:+2349129079450"><i class="fa-solid fa-square-phone"></i></a>
                    </div>
                </div>
                <div class="vendor-hist-status">
                    <h4>$100</h4>
                    <span>Completed</span>
                </div>
            </div>
            <div class="vendor-hist-content">
                <div class="vendor-hist-cont">
                    <div class="vendor-hist-title">Facebook Ads Sales Generator Program</div>
                    <span>26th-Oct-2023 | 06-46pm</span>
                </div>
                <div class="vendor-hist-price">
                    <div class="vendor-hist-price-title">Customer Info</div>
                    <div class="vendor-hist-price-cs">
                        <a href="mailto:alphatechmultimedia@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                        <a href="tel:+2349129079450"><i class="fa-solid fa-square-phone"></i></a>
                    </div>
                </div>
                <div class="vendor-hist-status">
                    <h4>$100</h4>
                    <span>Completed</span>
                </div>
            </div>
            <div class="vendor-hist-content">
                <div class="vendor-hist-cont">
                    <div class="vendor-hist-title">Facebook Ads Sales Generator Program</div>
                    <span>26th-Oct-2023 | 06-46pm</span>
                </div>
                <div class="vendor-hist-price">
                    <div class="vendor-hist-price-title">Customer Info</div>
                    <div class="vendor-hist-price-cs">
                        <a href="mailto:alphatechmultimedia@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                        <a href="tel:+2349129079450"><i class="fa-solid fa-square-phone"></i></a>
                    </div>
                </div>
                <div class="vendor-hist-status">
                    <h4>$100</h4>
                    <span>Completed</span>
                </div>
            </div>
      
        </div>

        <div class="vendor-hist-body" id="pgp">
           <div class="vendor-hist-py">
            <div class="vendor-hist-py-order">
                <img class="vendor-py-img" src="/image/airpod.jpg" alt="" width="40" height="40">
                    <div class="vendor-order-info">
                       <span class="id">#75833</span>
                       <h4 class="title">Tecno Sonic 1 Fireboy DML Wireless Bluetooth Earbuds BT5.3 ENC - Black</h4>
                       <span class="date">29th-10-2023 | 08:07am</span>
                    </div>  
            </div>
            <div class="vendor-qty">5</div>
            <div class="vendor-hist-py-status">
                <span class="view"><i class="fa-solid fa-eye"></i></span>
                <span class="status" style="--st:#fcff56;">Pending</span>
            </div>

           </div>
        </div>
    </div>
</div>

<!--View Popup Section-->
<div class="view-popup">
    <div class="veiw-popup-container">
        <div class="vendor-close-btn"><span><i class="fa-solid fa-xmark"></i></span></div>
        <div class="view-popup-body">
            <div class="veiw-popup-content">
              <div class="veiw-pop">
                <span>Order id: #TD63652</span>
                <span class="status" style="--us:#fff2398f;">Pending</span>
              </div>
              
              <div class="order-img">
                <div class="order-name">Tecno Sonic 1 Fireboy DML Wireless Bluetooth Earbuds BT5.3 ENC - Black</div>
              <div class="order-cent">
                <img class="order-img" src="/image/airpod.jpg" alt="" width="130" height="130">
                <div class="order-cent-pro">
                    <span>Color: Black</span>
                    <span>Size: Null</span>
                    <span>Qty: 3</span>
                    <span>Price: $250</span>
                    <span>Commission Paid: $125</span>
                    <span>27th-Oct-2023 | 07-49pm</span>
                </div>
              
              </div>
            </div>
            <div class="customer-info">
                <h3>Customer Details</h3>
                <span>Name: Diamon Samson</span>
                <span>Email: alphatechmultimedia@gmail.com</span>
                <span>Phone: +2349129079450</span>
            </div>
            <div class="shipping-address">
                <h3>Shipping Address</h3>
               <span> Alexander House, Otunba Jobi Fele Way, Alausa, Ikeja, Lagos, Nigeria.</span>
            </div>
            </div>
            <div class="vendor-hist-btn">
                <button class="action-btn">Order Sent</button>
            </div>
            <div class="vendor-hist-notice">
                <p>You are required to send the item to the buyer within 3 to 7 days. Once the buyer receives the item and provides feedback confirming its delivery, we will release your payment and also compensate your affiliate user. However, if you fail to deliver the item within this specified time frame, the order will be automatically canceled, and the buyer will be refunded. Thank you.</p>
            </div>
        </div>
    </div>
</div>


<%-include("../../../partials/sidebar")%>
<%-include("../../../partials/footer")%>