<%-include("../../partials/header2")%>

<div class="wallet">
    <div class="wallet-container">
        
    </div>
</div>











<div class="no-wallet">
    <div class="no-wallet-container">
        <h2>You do not have a wallet yet.</h2>
        <a href="/user/wallet/edit">Create Wallet</a>
    </div>
</div>

  
<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>


