<%-include("../../partials/header")%>

<div class="swiper1">
  <div class="swiper-wrapper" >
    <div class="swiper-slide">
      <div class="dashbord">
        <div class="board-container">
          <div class="board-body">
            <div class="board-content">
              <h4>Overview Balance</h4>
              <span id="hide"></span>
            </div>
            <div class="board-bal">
              <h2>$20,000,000.00</h2>
              <span>Updated few mins ago</span>
            </div>
          </div>
        </div>
      </div>
  </div>
    <div class="swiper-slide" >
      <div class="referral">
        <div class="ref-container">
            <div class="ref-mat"></div>
            <div class="ref-body">
                <div class="ref-content">
                    <h4>Affiliate Balance</h4>
                    <h2>$600,000.00</h2>
                    <span>Updated few mins ago</span>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="swiper-slide">
      <div class="dash-act">
        <div class="dash-act-container">
            <div class="dash-act-body">
                <div class="dash-act-content">
                    <h4>Activitise Balance</h4>
                    <h2>20,000.00PT</h2>
                    <span>Updated few mins ago</span>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>

  <div class="swiper-pagination"></div>
</div> 

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const swiper = new Swiper('.swiper1', {
      loop: true,
      centerdSlide: true,
      perSlideRotate: 4,
      slidesPerView: 'auto',
      perSlideOffset: 8,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      touch: {
        enabled: true,
      },
      on: {
        slideChange: function () {
          const activeSlide = this.slides[this.activeIndex];
          activeSlide.style.width = ''; 
        },
      },
    });
  });
</script>
    </div>
  </div>
</div>

<div class="dash-action">
  <div class="action-container">
    <!-- <div class="action-head">Quick Action</div> -->
    <div class="action-body">
      <div class="action-content">
        <a href="/user/task">
        <div class="action-icon"><ion-icon name="bookmark"></ion-icon></div>
        </a>
        <div class="action-name">Task</div>
      </div>
      <div class="action-content">
        <a href="/user/vtu">
        <div class="action-icon"> <ion-icon name="call"></ion-icon></div>
        </a>
        <div class="action-name">VTU</div>
      </div>
      <div class="action-content">
        <a href="/user/Upgrade">
        <div class="action-icon"><ion-icon name="rocket"></ion-icon></div>
        </a>
        <div class="action-name">Upgrade</div>
      </div>
    </div>
  </div>
</div>

<div class="dash-py">
  <div class="dash-py-container">
    <div class="dash-py-body">
      <div class="dash-py-content" style="--py:#00c28113;">
        <div class="dash-py-icon" style="--p-y:#00c2812d;"><i class="fa-solid fa-sack-dollar"></i></div>
        <div class="dash-py-name">
          <h2>$300,000</h2>
          <span>Overall Payout</span>
        </div>
      </div>
      <div class="dash-py-content" style="--py:#006bc217;">
        <div class="dash-py-icon"  style="--p-y:#006bc225;"><i class="fa-solid fa-money-bill-1-wave"></i></div>
        <div class="dash-py-name">
          <h2>$300,000</h2>
          <span>Total Payout</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="swiper1 ads">
  <div class="swiper-wrapper" >
    <div class="swiper-slide">
      <div class="dash-ads">
        <div class="dash-ads-container">
          <div class="dash-ads-body">
            <img class="ads-img" src="/image/Ads banner2.png" alt="">
          </div>
        </div>
      </div>
  </div>
    <div class="swiper-slide" >
      <div class="dash-ads">
        <div class="dash-ads-container">
          <div class="dash-ads-body">
            <img class="ads-img" src="/image/Ads banner2.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="dash-ads">
        <div class="dash-ads-container">
          <div class="dash-ads-body">
            <img class="ads-img" src="/image/Ads banner2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination" style="bottom: 16px;"></div>
</div> 

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const swiper = new Swiper('.ads', {
      loop: true,
      centerdSlide: true,
      perSlideRotate: 4,
      slidesPerView: 'auto',
      perSlideOffset: 8,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      touch: {
        enabled: true,
      },
      on: {
        slideChange: function () {
          const activeSlide = this.slides[this.activeIndex];
          activeSlide.style.width = ''; 
        },
      },
    });
  });
</script>



  
<div class="dash-hist">
  <div class="dash-container">
    <div class="dash-head">
      <div class="dash-head-name">Recent Transaction</div>
      <div class="dash-head-name">View More</div>
    </div>
    <div class="dash-body">
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <i class="ri-bit-coin-fill"></i>
          </div>
          <div class="dash-name">
            <h2>Withdraw to wallet</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$5,000</h2>
          <span>Successful</span>
        </div>
      </div>
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <ion-icon name="gift"></ion-icon>
          </div>
          <div class="dash-name">
            <h2>Welcome Bonus</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$500</h2>
          <span>Successful</span>
        </div>
      </div>
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <ion-icon name="phone-portrait"></ion-icon>
          </div>
          <div class="dash-name">
            <h2>Airtime Purchase</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$500</h2>
          <span>Successful</span>
        </div>
      </div>
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <ion-icon name="gift"></ion-icon>
          </div>
          <div class="dash-name">
            <h2>Sponsord Ads</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$500</h2>
          <span>Successful</span>
        </div>
      </div>
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <ion-icon name="person-add"></ion-icon>
          </div>
          <div class="dash-name">
            <h2>P2P</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>4,500 PT</h2>
          <span>Successful</span>
        </div>
      </div>
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <ion-icon name="gift"></ion-icon>
          </div>
          <div class="dash-name">
            <h2>Direct Referral</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$500</h2>
          <span>Successful</span>
        </div>
      </div>
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <i class="ri-bank-fill"></i>
          </div>
          <div class="dash-name">
            <h2>Withdraw to Bank</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$500</h2>
          <span>Successful</span>
        </div>
      </div>
     
    </div>
  </div>
</div>

  </div>


  <%-include("../../partials/sidebar")%>
  <%-include("../../partials/footer")%>