<%-include("../partials/header")%>
<section class="pages">
    <div class="container-fluid">
        <div class="page-title">
            <h2><%= title %></h2>
            <p>
                Do you have any questions or need assistance? Feel free to reach out to us—send us a message, and we'll be happy to help.</p>
        </div>
    </div>
</section>

<section class="contact">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header pb-3 pt-3">Please submit your inquiry by completing the required details on the contact page. We strive to provide a prompt response to all submissions </h5>
           <div class="card-body">
            <form action="">
                <div class="form-name mb-3">
                    <div class="mb-3">
                        <label for="Form-Control" class="form-label">Fullname</label>
                        <input type="text" name="Fullname" class="form-control" id="Fullname" placeholder="Please enter your fullname" required>
                      </div>
                      <div class="mb-3">
                        <label for="Form-Control" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="Form-Control" placeholder="Please enter your email address" required>
                      </div>
                </div>
                  <div class="mb-3">
                    <label for="form-control" class="form-label">Department</label>
                    <select class="form-control">
                        <option selected>Select Department</option>
                        <option value="">Affiliate Customer Service</option>
                        <option value="">Freelance Customer Service</option>
                        <option value="3">Product Customer Service</option>
                      </select>
                  </div>
                  <div class="mb-3">
                    <label for="subject" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="subject" placeholder="Subject...">
                  </div>
                  <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="10" placeholder="Please write your message here...." required></textarea>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheck" required>
                    <label class="form-check-label" for="flexCheck">
                      I agree to the Terms of Service
                    </label>
                  </div>

                  <div class="form-btn">
                    <button type="submit">Submit</button>
                  </div>
            </form>
           </div>
            
        </div>
    </div>
</section>




<%-include("../partials/footer")%>