<%-include("../partials/header")%>
<section class="pages">
    <div class="container-fluid">
        <div class="page-title">
            <h2><%= title %></h2>
            <p>
                Explore FAQs for clarity on Bitpluse platform, services, and user experience.</p>
        </div>
    </div>
</section>

<section class="faqs">
    <div class="container-fluid">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <span>1.</span> What is Bitpluse all about?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Bitpluse serves as a crucial ally in organizational triumph, providing a smooth platform for easy earnings. Committed to transparency, Bitpluse guarantees a reliable and efficient experience, empowering businesses worldwide with confidence in their endeavors.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                   <span>2.</span> Is Bitpluse available in all countries?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Bitpluse operates exclusively in regions with the +1 GMT time zone. Unfortunately, users outside this specification cannot access the platform due to regional restrictions.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <span>3.</span> How many affiliate programs does Bitpluse have?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Bitpluse offers two distinct affiliate programs. The first one grants you an 80% commission upon registration when you refer others using your link. The second allows you to earn 50-90% commission by promoting digital or physical products to your audience, based on the creator's set commission rate.</div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    <span>4.</span> How does Bitpluse's freelance feature work?
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">As a premium user on the Bitpluse platform, freelancing becomes a lucrative avenue for monetizing your skills independently. Once you upgrade to premium, you gain the ability to showcase and market your skills through our platform. With the assistance of our SEO capabilities, your skills are effectively promoted to a vast audience, increasing the likelihood of attracting potential clients and companies seeking your expertise. This gives you the autonomy to control and monetize your services, creating a seamless and rewarding experience on Bitpluse.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    <span>5.</span>
                    How does Bitpluse Virtual Job work?
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Bitpluse Virtual Jobs are posts managed by us, constituting an integral part of your earning activities on Bitpluse. This feature is sponsored by a third-party company, Plugjobs Limited, ensuring seamless earning opportunities.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    <span>6.</span>
                    How can I list my product on Bitpluse?
                  </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">If you're a digital product creator, simply fill out the product listing form with all required details. Our team will review and approve it. For physical product sellers, ensure you have a pickup/shop address before listing for promotion.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    <span>7.</span>
                    How can I become a premium user on Bitpluse?
                  </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Certainly! You can upgrade to premium status on Bitpluse by purchasing an Activation Pin from our authorized Bitpluse Merchants. We offer two packages: Bitpluse at ₦5,000($5) and Bitpluse Pro at ₦8,000($8).
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingEight">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    <span>8.</span>
                    Is Bitpluse a Ponzi scheme?
                  </button>
                </h2>
                <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">No, Bitpluse is not an investment system promising Return on Investment (ROI). We operate on a work-first-earn-later model; there's no free money on Bitpluse.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingNine">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                    <span>9.</span>
                    How can I withdraw my earnings on Bitpluse?
                  </button>
                </h2>
                <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNinet" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">You can withdraw your earnings directly to your local bank. If you are outside Nigeria, alternative options include MOMO, YELLOW CARD, USDT, etc.
                  </div>
                </div>
              </div>
          </div>
    </div>
</section>




<%-include("../partials/footer")%>