<%-include("../partials/header")%>

<section class="hero">
    <div class="container">
        <div class="content">
            <h1 class="hero-title">Your Gateway to Global Transactions, Gift Card Trading, and Cryptocurrency Brilliance!</h1>
            <p>Paysparq, Nigeria's premier Cryptocurrency and Gift Card Exchange, offers secure and efficient trading. Trade Bitcoin, Ethereum, USDT, Litecoin, and popular gift cards like Amazon and Google Play. Easily send and receive international payments on one comprehensive platform.</p>

            <div class="content-btn">
                <a class="btn1" href="#">Get Started</a>
                <a class="btn2" href="#">Check Rate</a>
            </div>
        </div>
    </div>
</section>
<section class="send">
    <div class="container">
        <div class="row">
            <div class="col-5">

            </div>
            <div class="col-6 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-center">Send Money Directly to Bank and Mobile Money Accounts in 21+ African Countries</h2>
                <p>Effortless Money Transfers, Simplifying Sending Funds Back Home.</p>
                <div class="choose">
                    <a href="#"><span></span>Choose Paysparq</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="trade">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row gx-5 d-flex justify-content-center align-items-center">
            <div class="col-4">
                <h2>Enjoy Seamless Giftcard Trading</h2>
                <p class="mt-3">Trade Giftcards from over 20 countries around the world.</p>
                <a href="#" class="mt-4">Learn more</a>
            </div>
            <div class="col-4">
                <img src="/image/rocket.png" alt="">
            </div>
            <div class="col-4">
                <ul>
                    <li><span><i class="fa-solid fa-circle-check"></i></span>Smooth payment</li>
                    <li><span><i class="fa-solid fa-circle-check"></i></span>On-the-go solutions</li>
                    <li><span><i class="fa-solid fa-circle-check"></i></span>Best rates</li>
                    <li><span><i class="fa-solid fa-circle-check"></i></span>Swift transactions</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="coin">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>All-In-One Cryptocurrency Exchange for Your Trading Needs</h2>
                <p>Experience fee-free trading with our platform offering instant payments, secure device authorization, 24/7 customer support, an unmatched help center addressing all queries, and real-time price updates. Embrace a seamless and secure cryptocurrency journey – all in one place.</p>
                <a href="#">Trade your cryptocurrency with Paysparq.</a>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <img src="/image/coin89.png" alt="" width="250">
            </div>
        </div>
    </div>
</section>





<%-include("../partials/footer")%>