<%-include("../partials/header")%>

<section class="hero">
    <div class="container">
        <div class="content">
            <h1 class="hero-title">Your Gateway to Global Transactions, Gift Card Trading, and Cryptocurrency Brilliance!</h1>
            <p>Paysparq, Nigeria's premier Cryptocurrency and Gift Card Exchange, offers secure and efficient trading. Trade Bitcoin, Ethereum, USDT, Litecoin, and popular gift cards like Amazon and Google Play. Easily send and receive international payments on one comprehensive platform.</p>

            <div class="content-btn">
                <a class="btn1" href="#">Get Started</a>
                <a class="btn2" href="#">Check Rate</a>
            </div>
        </div>
    </div>
</section>





<%-include("../partials/footer")%>