<%-include("../partials/header")%>

<section class="job">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-6">
                <h1>Bring brilliant concepts to life.</h1>
                <p> Connect with a vast pool of international talent on the freelancing platform trusted by more than 1 million businesses globally.</p>

                <form action="">
                <div class="job-search">
                        <input type="text" name="text" placeholder=" Try 'web develoment' ">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>

            <div class="job-tag">
                <span>Popular skills:</span>
                <ul>
                    <li><a href="">Web Design</a></li>
                    <li><a href="">Logo Design</a></li>
                    <li><a href="">UI/UIX Design</a></li>
                    <li><a href="">Wordpress</a></li>
                    
                </ul>
            </div>
            </div>
            <div class="col col-5">
                <div class="image">
                    <img src="/image/job-dashboard.png" alt="" width="90">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="job-filter">
    <div class="container-fluid">
        <div class="job-fit">
            <select class="form-select">
                <option selected value="">Recommended</option>
                <option value="">Relevance</option>
                <option value="">Trending</option>
                <option value="">Popularity</option>
                <option value="">Price: low to high</option>
                <option value="">Price: high to low</option>
              </select>
        </div>
        <div class="row">
            <div class="card">
                <img src="/image/card.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="#">Design a premium bespoke stationery set for your business</a></h5>
                  <div class="card-text">
                    <ul>
                        <li><a href="">business card</a></li>
                        <li><a href="">Letterhead</a></li>
                        <li><a href="">Designing</a></li>
                    </ul>
                  </div>

                  <div class="card-pro">
                    <div class="pro">
                        <div class="image"><img src="/image/Avater.png" alt="" height="40" width="40"></div>
                        <div class="name">
                            <h6>Bitpluse2024</h6>
                            <span class="star-rating" onclick="rate(1)">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        </div>
                    </div>
                    <div class="price"><Span><strong>$100</strong></Span></div>
                  </div>
                </div>
                <div class="card-footer">
                    <span>Delivered in 2 days</span>
                    <span>Featured</span>
                </div>
              </div>

              <div class="card">
                <img src="/image/card.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="">Design a premium bespoke stationery set for your business</a></h5>
                  <div class="card-text">
                    <ul>
                        <li><a href="">business card</a></li>
                        <li><a href="">Letterhead</a></li>
                        <li><a href="">Designing</a></li>
                    </ul>
                  </div>

                  <div class="card-pro">
                    <div class="pro">
                        <div class="image"><img src="/image/Avater.png" alt="" height="40" width="40"></div>
                        <div class="name">
                            <h6>Bitpluse2024</h6>
                            <span class="star-rating" onclick="rate(1)">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        </div>
                    </div>
                    <div class="price"><Span><strong>$100</strong></Span></div>
                  </div>
                </div>
                <div class="card-footer">
                    <span>Delivered in 2 days</span>
                    <span>Featured</span>
                </div>
              </div>

              <div class="card">
                <img src="/image/card.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="">Design a premium bespoke stationery set for your business</a></h5>
                  <div class="card-text">
                    <ul>
                        <li><a href="">business card</a></li>
                        <li><a href="">Letterhead</a></li>
                        <li><a href="">Designing</a></li>
                    </ul>
                  </div>

                  <div class="card-pro">
                    <div class="pro">
                        <div class="image"><img src="/image/Avater.png" alt="" height="40" width="40"></div>
                        <div class="name">
                            <h6>Bitpluse2024</h6>
                            <span class="star-rating" onclick="rate(1)">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        </div>
                    </div>
                    <div class="price"><Span><strong>$100</strong></Span></div>
                  </div>
                </div>
                <div class="card-footer">
                    <span>Delivered in 2 days</span>
                    <span>Featured</span>
                </div>
              </div>

              <div class="card">
                <img src="/image/card.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="">Design a premium bespoke stationery set for your business</a></h5>
                  <div class="card-text">
                    <ul>
                        <li><a href="">business card</a></li>
                        <li><a href="">Letterhead</a></li>
                        <li><a href="">Designing</a></li>
                    </ul>
                  </div>

                  <div class="card-pro">
                    <div class="pro">
                        <div class="image"><img src="/image/Avater.png" alt="" height="40" width="40"></div>
                        <div class="name">
                            <h6>Bitpluse2024</h6>
                            <span class="star-rating" onclick="rate(1)">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        </div>
                    </div>
                    <div class="price"><Span><strong>$100</strong></Span></div>
                  </div>
                </div>
                <div class="card-footer">
                    <span>Delivered in 2 days</span>
                    <span>Featured</span>
                </div>
              </div>

              <div class="card">
                <img src="/image/card.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="">Design a premium bespoke stationery set for your business</a></h5>
                  <div class="card-text">
                    <ul>
                        <li><a href="">business card</a></li>
                        <li><a href="">Letterhead</a></li>
                        <li><a href="">Designing</a></li>
                    </ul>
                  </div>

                  <div class="card-pro">
                    <div class="pro">
                        <div class="image"><img src="/image/Avater.png" alt="" height="40" width="40"></div>
                        <div class="name">
                            <h6>Bitpluse2024</h6>
                            <span class="star-rating" onclick="rate(1)">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        </div>
                    </div>
                    <div class="price"><Span><strong>$100</strong></Span></div>
                  </div>
                </div>
                <div class="card-footer">
                    <span>Delivered in 2 days</span>
                    <span>Featured</span>
                </div>
              </div>

              <div class="card">
                <img src="/image/card.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="">Design a premium bespoke stationery set for your business</a></h5>
                  <div class="card-text">
                    <ul>
                        <li><a href="">business card</a></li>
                        <li><a href="">Letterhead</a></li>
                        <li><a href="">Designing</a></li>
                    </ul>
                  </div>

                  <div class="card-pro">
                    <div class="pro">
                        <div class="image"><img src="/image/Avater.png" alt="" height="40" width="40"></div>
                        <div class="name">
                            <h6>Bitpluse2024</h6>
                            <span class="star-rating" onclick="rate(1)">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        </div>
                    </div>
                    <div class="price"><Span><strong>$100</strong></Span></div>
                  </div>
                </div>
                <div class="card-footer">
                    <span>Delivered in 2 days</span>
                    <span>Featured</span>
                </div>
              </div>

              <div class="card">
                <img src="/image/card.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="">Design a premium bespoke stationery set for your business</a></h5>
                  <div class="card-text">
                    <ul>
                        <li><a href="">business card</a></li>
                        <li><a href="">Letterhead</a></li>
                        <li><a href="">Designing</a></li>
                    </ul>
                  </div>

                  <div class="card-pro">
                    <div class="pro">
                        <div class="image"><img src="/image/Avater.png" alt="" height="40" width="40"></div>
                        <div class="name">
                            <h6>Bitpluse2024</h6>
                            <span class="star-rating" onclick="rate(1)">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        </div>
                    </div>
                    <div class="price"><Span><strong>$100</strong></Span></div>
                  </div>
                </div>
                <div class="card-footer">
                    <span>Delivered in 2 days</span>
                    <span>Featured</span>
                </div>
              </div>

              <div class="card">
                <img src="/image/card.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="">Design a premium bespoke stationery set for your business</a></h5>
                  <div class="card-text">
                    <ul>
                        <li><a href="">business card</a></li>
                        <li><a href="">Letterhead</a></li>
                        <li><a href="">Designing</a></li>
                    </ul>
                  </div>

                  <div class="card-pro">
                    <div class="pro">
                        <div class="image"><img src="/image/Avater.png" alt="" height="40" width="40"></div>
                        <div class="name">
                            <h6>Bitpluse2024</h6>
                            <span class="star-rating" onclick="rate(1)">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        </div>
                    </div>
                    <div class="price"><Span><strong>$100</strong></Span></div>
                  </div>
                </div>
                <div class="card-footer">
                    <span>Delivered in 2 days</span>
                    <span>Featured</span>
                </div>
              </div>

              <div class="card">
                <img src="/image/card.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="">Design a premium bespoke stationery set for your business</a></h5>
                  <div class="card-text">
                    <ul>
                        <li><a href="">business card</a></li>
                        <li><a href="">Letterhead</a></li>
                        <li><a href="">Designing</a></li>
                    </ul>
                  </div>

                  <div class="card-pro">
                    <div class="pro">
                        <div class="image"><img src="/image/Avater.png" alt="" height="40" width="40"></div>
                        <div class="name">
                            <h6>Bitpluse2024</h6>
                            <span class="star-rating" onclick="rate(1)">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        </div>
                    </div>
                    <div class="price"><Span><strong>$100</strong></Span></div>
                  </div>
                </div>
                <div class="card-footer">
                    <span>Delivered in 2 days</span>
                    <span>Featured</span>
                </div>
              </div>

              <div class="card">
                <img src="/image/card.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="">Design a premium bespoke stationery set for your business</a></h5>
                  <div class="card-text">
                    <ul>
                        <li><a href="">business card</a></li>
                        <li><a href="">Letterhead</a></li>
                        <li><a href="">Designing</a></li>
                    </ul>
                  </div>

                  <div class="card-pro">
                    <div class="pro">
                        <div class="image"><img src="/image/Avater.png" alt="" height="40" width="40"></div>
                        <div class="name">
                            <h6>Bitpluse2024</h6>
                            <span class="star-rating" onclick="rate(1)">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        </div>
                    </div>
                    <div class="price"><Span><strong>$100</strong></Span></div>
                  </div>
                </div>
                <div class="card-footer">
                    <span>Delivered in 2 days</span>
                    <span>Featured</span>
                </div>
              </div>

              <div class="card">
                <img src="/image/card.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="">Design a premium bespoke stationery set for your business</a></h5>
                  <div class="card-text">
                    <ul>
                        <li><a href="">business card</a></li>
                        <li><a href="">Letterhead</a></li>
                        <li><a href="">Designing</a></li>
                    </ul>
                  </div>

                  <div class="card-pro">
                    <div class="pro">
                        <div class="image"><img src="/image/Avater.png" alt="" height="40" width="40"></div>
                        <div class="name">
                            <h6>Bitpluse2024</h6>
                            <span class="star-rating" onclick="rate(1)">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        </div>
                    </div>
                    <div class="price"><Span><strong>$100</strong></Span></div>
                  </div>
                </div>
                <div class="card-footer">
                    <span>Delivered in 2 days</span>
                    <span>Featured</span>
                </div>
              </div>

              <div class="card">
                <img src="/image/card.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="">Design a premium bespoke stationery set for your business</a></h5>
                  <div class="card-text">
                    <ul>
                        <li><a href="">business card</a></li>
                        <li><a href="">Letterhead</a></li>
                        <li><a href="">Designing</a></li>
                    </ul>
                  </div>

                  <div class="card-pro">
                    <div class="pro">
                        <div class="image"><img src="/image/Avater.png" alt="" height="40" width="40"></div>
                        <div class="name">
                            <h6>Bitpluse2024</h6>
                            <span class="star-rating" onclick="rate(1)">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        </div>
                    </div>
                    <div class="price"><Span><strong>$100</strong></Span></div>
                  </div>
                </div>
                <div class="card-footer">
                    <span>Delivered in 2 days</span>
                    <span>Featured</span>
                </div>
              </div>
        </div>
        <div class="navigation-bar" style="justify-content: flex-end;">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</section>

<section class="promotion">
    <div class="container-fluid" >
        <div class="row">
             <div class="col lk" style="padding-left: 30px; padding-top: 50px;">
                <span>Freelancers</span>
                <h3 class="prom-titel">Embrace the freelance revolution</h3>
                <p>There's never been a better time to take yourself online and start making money from your very own fine-tuned set of skills.</p>
                <p> Work wherever suits you, choose full-time, part-time or flexi-time. On Bitpluse you remain in control of everything — including your price.</p>

                <div class="pro-btn">
                  <a href="#">Join Bitplutse Now</a>
                </div>
             </div>
             <div class="col">
                <div class="pro-img"><img src="/image/promo-freelance--desktop.webp" alt=""></div>
             </div>
        </div>
    </div>
</section>
<section class="virtual-job">
  <div class="container-fluid">
    <div class="vt-content">
      <h2 class="vt-title">Virtual Job</h2>
      <p>The Virtual Job Program is seamlessly orchestrated by KV Limited, a distinguished third-party entity. This dynamic platform empowers users to partake in a spectrum of tasks, meticulously curated by administrators, and thereby, unlock earning opportunities. Premium users, including freelancers and non-freelancers, can capitalize on this sophisticated system provided by KV Limited, engaging in virtual jobs that ensure a profitable and streamlined experience.</p>
      <div class="vt-btn">
        <a href="#">Sign Up</a>
      </div>
    </div>
  </div>
</section>





<%-include("../partials/footer")%>