<%-include("../partials/header")%>
<section class="pages">
    <div class="container-fluid">
        <div class="page-title">
            <h2><%= title %></h2>
            <p>Below is a roster of verified merchants offering Bitpluse activation pins. Engage confidently with any of them to acquire your activation pin, register your account, and commence substantial earnings on Bitpluse.</p>
        </div>
    </div>
</section>

<section class="top-earner">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">1</span>
                <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                    <div class="amount"><b>Bank:</b> Zenith Bank/USTD</div>
                </div>
                <div class="chat">
                    <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">2</span>
                <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                    <div class="amount"><b>Bank:</b> Zenith Bank</div>
                </div>
                <div class="chat">
                    <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">3</span>
                <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                    <div class="amount"><b>Bank:</b> Zenith Bank</div>
                </div>
                <div class="chat">
                    <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">4</span>
                <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                    <div class="amount"><b>Bank:</b> Zenith Bank</div>
                </div>
                <div class="chat">
                    <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">5</span>
                <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                    <div class="amount"><b>Bank:</b> Zenith Bank</div>
                </div>
                <div class="chat">
                    <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">6</span>
                <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                    <div class="amount"><b>Bank:</b> Zenith Bank</div>
                </div>
                <div class="chat">
                    <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">7</span>
                <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                    <div class="amount"><b>Bank:</b> Zenith Bank</div>
                </div>
                <div class="chat">
                    <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">8</span>
                <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                    <div class="amount"><b>Bank:</b> Zenith Bank</div>
                </div>
                <div class="chat">
                    <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">9</span>
                <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                    <div class="amount"><b>Bank:</b> Zenith Bank</div>
                </div>
                <div class="chat">
                    <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">10</span>
                <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                    <div class="amount"><b>Bank:</b> Zenith Bank</div>
                </div>
                <div class="chat">
                    <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">11</span>
                <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                    <div class="amount"><b>Bank:</b> Zenith Bank</div>
                </div>
                <div class="chat">
                    <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">12</span>
                <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                    <div class="amount"><b>Bank:</b> Zenith Bank</div>
                </div>
                <div class="chat">
                    <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                </div>
            </div>
        </div>

        <div class="non-nigeria">
            <div class="head-title"><h2>These are verified merchants outside Nigeria.</h2></div>
            <div class="row">
                <div class="col col-3 col-sm-3">
                    <span class="badge rounded py-1 mb-2">1</span>
                    <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                    <div class="top-content">
                        <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                        <div class="amount"><b>Bank:</b> Momo/Yellow Pay</div>
                        <span class="badge rounded py-1 mb-2 country">Cameroom</span>
                    </div>
                    <div class="chat">
                        <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                    </div>
                </div>
                <div class="col col-3 col-sm-3">
                    <span class="badge rounded py-1 mb-2">2</span>
                    <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                    <div class="top-content">
                        <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                        <div class="amount"><b>Bank:</b> Momo/Yellow Pay</div>
                        <span class="badge rounded py-1 mb-2 country">South Africa</span>
                    </div>
                    <div class="chat">
                        <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                    </div>
                </div>
                <div class="col col-3 col-sm-3">
                    <span class="badge rounded py-1 mb-2">3</span>
                    <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                    <div class="top-content">
                        <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                        <div class="amount"><b>Bank:</b> Momo</div>
                        <span class="badge rounded py-1 mb-2 country">Ghana</span>
                    </div>
                    <div class="chat">
                        <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                    </div>
                </div>
                <div class="col col-3 col-sm-3">
                    <span class="badge rounded py-1 mb-2">4</span>
                    <div class="top-img img"><img src="/image/Avater.PNG" alt=""></div>
                    <div class="top-content">
                        <div class="name" style="font-size: 17.7px;">Bitpluse2024</div>
                        <div class="amount"><b>Bank:</b> Chipper Cash</div>
                        <span class="badge rounded py-1 mb-2 country">Rwanda </span>
                    </div>
                    <div class="chat">
                        <a href="#"><img src="image/WhatsApp.svg.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%-include("../partials/footer")%>