<%-include("../partials/header")%>
<section class="pages">
    <div class="container-fluid">
        <div class="page-title">
            <h2><%= title %></h2>
            <p>Join a community of high achievers, innovators, and visionaries who have mastered the art of financial excellence</p>
        </div>
    </div>
</section>

<section class="top-earner">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">1</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">2</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">3</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">4</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">4</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">5</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">6</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">7</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">8</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">9</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">10</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">11</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">12</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">13</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">14</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">15</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">16</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">17</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">18</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">19</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
            <div class="col col-3 col-sm-3">
                <span class="badge rounded py-1 mb-2">20</span>
                <div class="top-img"><img src="/image/Avater.PNG" alt=""></div>
                <div class="top-content">
                    <div class="name">Bitpluse</div>
                    <div class="amount">₦5,301,800.00</div>
                </div>
            </div>
        </div>
    </div>
</section>


<%-include("../partials/footer")%>