<%-include("../partials/header")%>
<section class="pages">
    <div class="container-fluid">
        <div class="page-title">
            <h2><%= title %></h2>
            <p>This page allows you to validate your activation pin to check if it has been used by someone else or if the merchant entered it incorrectly.</p>
        </div>
    </div>
</section>

<section class="verify">
    <div class="container-fluid">
        <div class="verify-pin">
            <!--Pin Validation Confirmed-->
            <div class="alert" role="alert">
                <h4 class="alert-heading">KY9X-89GR-N0X2-2V5U <span class="badge rounded py-1 mb-2">Vaild</span></h4>
                <div class="status">
                    <span>Generate on : <strong>08-01-2024 | 04:32PM</strong></span>
                    <span>Create by : <strong>Bitpluse Admin</strong></span>
                    <span>Assinge to : <strong>Bitpluse2024</strong></span>
                    <span>Used by : <strong>N/A</strong></span>
                </div>
                
              </div>
              <!--End of Pin Validation Confirmed-->
        <form action="" >
            <div class="form-group">
                <div class="pin-verification">
                    <input type="text" value="" id="coupon"  max="100" name="coupon" placeholder="Paste your activation pin here"required>
                </div>
                <span class="sub">Please enter your activation pin for verification.</span>
            </div>

            <div class="check-btn">
                <button type="submit" id="check" value="Submit">Proceed</button>
            </div>
        </form>
    </div>
    </div>
</section>


<!--Pin Validation Confirmed-->





<%-include("../partials/footer")%>