<%-include("../../partials/header2")%>

<div class="atm-card">
  <div class="atm-card-container">
    <div class="card-title">Opay Digital Banking</div>
    <div class="atm-contactless">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 40 40" fill="none">
        <path d="M37.399 35.5793H2.59322C1.16381 35.5793 0 34.4154 0 32.9782V7.01455C0 5.58514 1.16381 4.42133 2.59322 4.42133H37.3911C38.8283 4.42133 39.9921 5.58514 39.9921 7.01455V32.9782C39.9922 34.4154 38.8284 35.5793 37.399 35.5793Z" fill="#FFC738"/>
        <path d="M37.3993 4.42133H19.9964V35.5793H37.3992C38.8364 35.5793 39.9924 34.4155 39.9924 32.9861V7.01461C39.9925 5.5852 38.8287 4.42133 37.3993 4.42133Z" fill="#FFB42E"/>
        <path d="M39.9922 20.5354V19.4653H26.0183V14.7397L29.627 11.131H39.9922C39.9922 10.7639 39.9531 10.4046 39.8907 10.0609H29.4005C29.2599 10.0609 29.1193 10.1234 29.0256 10.225L25.2607 13.9821H20.5351V4.42133H19.465V13.9741H14.794L11.0369 10.217C10.9354 10.1155 10.7948 10.053 10.6542 10.053H0.109324C0.0468252 10.4045 0.0078042 10.7638 0.0078042 11.1231H10.4355L13.9738 14.6615V19.4496H0V20.5197H13.9738V25.3078L10.4355 28.8696H0.0078042C0.0078042 29.2367 0.0468908 29.596 0.109324 29.9397H10.662C10.8026 29.9397 10.9432 29.8772 11.0447 29.7757L14.8018 26.0186H19.4728V35.5714H20.5429V26.0187H25.2685L29.0334 29.7758C29.1271 29.8773 29.2677 29.9398 29.4083 29.9398H39.8985C39.961 29.5883 40 29.229 40 28.8697H29.6192L26.0105 25.261V20.5354H39.9922ZM24.9483 24.9486H15.0439V15.0443H24.9405V24.9486H24.9483Z" fill="#C66D4E"/>
        <path d="M39.9925 20.5354V19.4653H26.0186V14.7397L29.6273 11.131H39.9925C39.9925 10.7639 39.9534 10.4046 39.8909 10.0609H29.4008C29.2602 10.0609 29.1196 10.1234 29.0258 10.225L25.2609 13.9821H20.5353V4.42133H19.9964V15.0442H24.9486V24.9485H19.9964V35.5715H20.5353V26.0187H25.2609L29.0258 29.7758C29.1196 29.8773 29.2602 29.9398 29.4008 29.9398H39.8909C39.9534 29.5883 39.9925 29.2368 39.9925 28.8697H29.6195L26.0108 25.261V20.5354H39.9925Z" fill="#AF5A35"/>
      </svg>
      <ion-icon name="wifi"></ion-icon>
    </div>
    <div class="atm-num">
      <div class="bank-num">9129-079-450</div>
      <span id="bank-name">Alphatech Multimedia Technology</span>
    </div>
    <div class="atm-bal">
      <h2 class="atm-cb">$1,300,000.00</h2>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="23" viewBox="0 0 40 26" fill="none">
        <circle cx="12.766" cy="12.766" r="12.766" fill="#CD0000"/>
        <circle cx="27.234" cy="12.766" r="12.766" fill="#FFC320" fill-opacity="0.8"/>
      </svg>
    </div>
  </div>
</div>

<div class="converter">
  <div class="converter-container">
    <div class="convert-head">Conversion Calculator</div>
    <div class="convert-content">
      <div class="form-control">
        <select name="" >
          <option selected value="">Choose your currency.....</option>
          <option value="">Nigerial (₦)</option>
          <option value="">Cameroon (XFA)</option>
        </select>
      </div>
      <div class="form-control">
       <input type="number" name="number" placeholder="Amount in naira">
       <span>Anticipate receiving: <b>₦6,758.00</b></span>
      </div>
    </div>
  </div>
</div>


<div class="place">
  <div class="place-container">
    <div class="place-head">Amount to Withdraw</div>
    <form action="">
      <div class="form-control">
        <input type="number" name="number" id="" placeholder="₦5,000">
      </div>
      <div class="form-control">
        <input type="number" name="pin" maxlength="4" id="" placeholder="Transaction pin">
      </div>
      <div class="place-btn">
        <button type="submit">Procced...</button>
      </div>
    </form>
  </div>
</div>


<div class="dash-hist">
  <div class="dash-container">
    <div class="dash-head">
      <div class="dash-head-name">Recent Transaction</div>
      <div class="dash-head-name">View More</div>
    </div>
    <div class="dash-body">
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <i class="ri-bit-coin-fill"></i>
          </div>
          <div class="dash-name">
            <h2>Withdraw to Wallet</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$100</h2>
          <span>Successful</span>
        </div>
      </div>
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <i class="ri-bank-fill"></i>
          </div>
          <div class="dash-name">
            <h2>Withdraw to Bank</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$1,500</h2>
          <span>Successful</span>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>