<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
    <title>Blocked</title>
</head>

<body >
    <div class="block" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
        <div class="block-page" style="width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; color: #fff;">
            <div class="block-img"
                style="width: 100%; display: flex; justify-content: center; align-items: center; position: relative;">
                <ion-icon name="tv-outline" style="color: #ffffff; font-size: 395px; width: 100%;"></ion-icon>
                <ion-icon name="close-outline" style="position: absolute; font-size: 250px;"></ion-icon>
            </div>
            <h2>You can only use mobile devices to access this area. thank you</h2>
        </div>
    </div>
   <div class="btn">
    <button>Click here to go back</button>
   </div>
    <style>
        body {
            margin: 0;
            padding: 0;
            scroll-behavior: smooth;
            background-color: #4b4b4b;
            box-sizing: border-box;
        }
        h2{
            margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 25px;
    text-align: center;
    margin-top: -50px;
    font-family: 'poppins', serif;
        }
       .btn{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
       }
       .btn button{
        padding: 16px 20px 16px 20px;
        font-size: 16px;
        font-family: 'poppins', serif;
        border-radius: 7px;
        border: 0;
        cursor: pointer;
        background-color: #310058;
        color: #fff;
       }
       .btn button:hover{
        background-color: #006781;
        color: #fff;
        
       }
    </style>



    <script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
</body>

</html>