<footer>
  <div class="BottomBar1">
    <a href="/user/dashboard">
      <div class="Frame125560">
        <img class="vpd24" src="/image/Home.svg" />
        <div class="Homei">Home</div>
      </div>
    </a>

    <a href="/user/withdraw">
      <div class="Frame125560">
        <img class="vpd24" src="/image/Send.svg" />
        <div class="Homei">Withdraw</div>
      </div>
    </a>

    <a href="/user/market/shop">
      <div class="Frame125560">
        <img class="vpd24" src="/image/Graph.svg" />
        <div class="Homei">Market</div>
      </div>
    </a>

    <a href="/user/job">
      <div class="Frame125560">
        <img class="vpd24" src="/image/jobs.svg" />
        <div class="Homei">Jobs</div>
      </div>
    </a>

    <button id="menu-toggle" style="cursor: pointer; background: none; border: none; margin: none; margin-left: -20px;">
      <div class="Frame125560">
        <img class="vpd24" src="/image/Category.svg" />
        <div class="Homei">More</div>
      </div>
    </button>
  </div>

  <!--Custom JS-->
  <script src="/user/js/main.min.js"></script>
  <script src="/user/js/main.js"></script>
  <script src="/user/js/greeting.js"></script>
  <script src="/user/js/country.js"></script>
  <script src="/user/js/charts.js"></script>

  <!--Fontawesome JS-->
<script src="/user/fontawesome/js/all.js"></script>
<script src="/user/fontawesome/js/all.min.js"></script>
<script src="/user/fontawesome/js/fontawesome.js"></script>
<script src="/user/fontawesome/js/fontawesome.min.js"></script>

<!--CDN JS-->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>

</footer>
</body>

</html>