<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    
  <!--CDN CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+JznFmx3Jo0mp5FQUK+6R5D9kLX2/MAfFA2Jv6DzK0D1a49s" crossorigin="anonymous"> -->

  
<!--CDN JS FILES-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://kit.fontawesome.com/97e74cc069.js" crossorigin="anonymous"></script>

 

<!--Fontawesome-->
<link rel="stylesheet" href="/user/fontawesome/css/all.css">
<link rel="stylesheet" href="/user/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/user/fontawesome/css/fontawesome.css">
<link rel="stylesheet" href="/user/fontawesome/css/fontawesome.min.css">

<!--Custom Css-->
<link rel="stylesheet"  href="/user/css/style.css">
<link rel="stylesheet"  href="/user/css/main.css">
<link rel="stylesheet"  href="/user/css/main.min.css">
  <title><%-title%></title>
</head>

<body>
    <header>
      <div class="HeaderBar">
        <div class="Head">
          <div class="ProfileIt" style="position: relative;">
            <div class="avater">
            <img class="Ellipse644" src="/image/Avater.PNG" alt="Dropdown Toggle" style="cursor: pointer;">
          </div>
            <div class="dropdown-content">
              <h6 class="dropdown-header">Balance: <b>$50,000,000</b></h6>
              <div class="dropdown-divider"></div>
              <div class="cont">
                <button class="dropdown-item"><ion-icon name="person-circle-outline"></ion-icon><span
                    class="dropname" onclick="window.location.href = '/user/setting/profile';">Profile</span></button>
                    <button class="dropdown-item"><ion-icon name="wallet-outline"></ion-icon><span
                      class="dropname" onclick="window.location.href = '/user/wallet';">My Wallet</span></button>
                <button class="dropdown-item" onclick="window.location.href = '/user/setting/security';"><ion-icon name="settings-outline"></ion-icon><span
                    class="dropname">Settings</span></button>
                <button class="dropdown-item" onclick="window.location.href = 'auth-logout-basic';"><ion-icon
                    name="log-in-outline"></ion-icon><span class="dropname">Logout</span></button>
              </div>
            </div>
            <div class="Frame12565">
              <span id="greeting" style="font-size: 13px;"></span>
              <span style="font-size: 12px;">Bitpluse</span>
            </div>
          </div>
          <div class="vec">
            <img class="Vector0" src="/image/Vector.svg" />
            <span>0</span>
          </div>
        </div>
      </div>
    </header>

 