<div class="sidebar" id="sidebar">
  <div class="SidebarHeader">
    <div class="userimg">
      <img class="Ellip" src="/image/Avater.PNG">
    </div>
    <div class="Sidebarname">
      <span class="stp">Bitpluse</span>
      <span class="lv">Rank: Vendor</span>
    </div>
  </div>
  <div class="dropdown-divider2"></div>
  <div class="Sidebar-content">
    <button class="dropdown-item2" onclick="window.location.href = '/user/upgrade';">
      <i class="fa-solid fa-rocket"></i>
      <span class="dropname">Upgrade Account</span>
    </button>
    <button class="dropdown-item2" onclick="window.location.href = '/user/contest';">
      <i class="fa-solid fa-users-rays"></i>
      <span class="dropname">Contest</span>
    </button>
    <button class="dropdown-item2" onclick="window.location.href = '/user/stakeholder';">
      <i class="fa-solid fa-user-tie"></i>
      <span class="dropname">Stakeholder</span>
    </button>

    <button class="dropdown-item2" onclick="window.location.href = '/user/spin';">
      <i class="fa-solid fa-arrows-spin"></i>
      <span class="dropname">Bitpluse Lucky Spin</span>
    </button>
    <button class="dropdown-item2" onclick="window.location.href = '/user/referral';">
      <i class="fa-solid fa-sitemap"></i>
      <span class="dropname">Referral</span>
    </button>

    <button class="dropdown-item2 subp3">
      <i class="fa-solid fa-shop"></i>
      <span class="dropname">Market Place</span>
      <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>
    </button>
    <div class="sub-list">
      <button class="dropdown-item2" onclick="window.location.href = '/user/vendor/dashboard';">
        <span class="dropname">Vendor Dashboard</span>
      </button>
      <button class="dropdown-item2" onclick="window.location.href = '/user/vendor/product-list';">
        <span class="dropname">My Product's</span>
      </button>
      <button class="dropdown-item2" onclick="window.location.href = '/user/market/shop/affiliate';">
        <span class="dropname">Affiliate Dashboard</span>
      </button>
      <button class="dropdown-item2" onclick="window.location.href = '/user/market/shop';">
        <span class="dropname">Storefront</span>
      </button>
      <button class="dropdown-item2" onclick="window.location.href = '/user/vendor/publish-Product';"><span
          class="dropname">Publish Products</span>
      </button>
    </div>

    <button class="dropdown-item2" onclick="window.location.href = '/user/p2p';">
      <i class="fa-solid fa-user-plus"></i>
      <span class="dropname">P2P</span>
    </button>

    <button class="dropdown-item2" onclick="window.location.href = '/user/course';">
      <i class="fa-solid fa-graduation-cap"></i>
      <span class="dropname">Courses</span>
    </button>

    <button class="dropdown-item2 subp3">
      <i class="fa-solid fa-group-arrows-rotate"></i>
      <span class="dropname">Communities</span>
      <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>
    </button>
    <div class="sub-list">
      <button class="dropdown-item2" onclick="window.location.href = '#';">
        <span class="dropname">Telegram Community</span>
      </button>
      <button class="dropdown-item2" onclick="window.location.href = '#';">
        <span class="dropname">Whatsapp Community</span>
      </button>
    </div>

    <button class="dropdown-item2 subp3">
      <i class="fa-solid fa-list"></i>
      <span class="dropname">Histroy</span>
      <ion-icon class="chevron-down" name="chevron-down-outline"></ion-icon>
    </button>
    <div class="sub-list">
      <button class="dropdown-item2" onclick="window.location.href = '#';">
        <span class="dropname">Withdrawal Histroy</span>
      </button>
      <button class="dropdown-item2" onclick="window.location.href = '#';">
        <span class="dropname">VTU Histroy</span>
      </button>
      <button class="dropdown-item2" onclick="window.location.href = '#';">
        <span class="dropname">Market Histroy</span>
      </button>
      <button class="dropdown-item2" onclick="window.location.href = '#';">
        <span class="dropname">Task Histroy</span>
      </button>
      <button class="dropdown-item2" onclick="window.location.href = '#';">
        <span class="dropname">Job Histroy</span>
      </button>
      <button class="dropdown-item2" onclick="window.location.href = '#';">
        <span class="dropname">Spin & Win Histroy</span>
      </button>
    </div>
  </div>
  <div class="side-merchant">
    <a href="/user/merchant/dashboard">Merchant Dashboard</a>
  </div>
</div>
<!-- End Sidebar Section -->