<%-include("../../partials/header2")%>

<div class="profile">
    <div class="profile-container">
        <div class="profile-head">Profile Details</div>
        <div class="profile-body">
            <div class="profile-content">
                <img src="/image/Avater.png" alt="Avater" id="imagepreview">
                <div class="profile-btn">
                    <div class="file-btn">
                        <div class="form-control">
                            <input type="file" name="" id="avater">
                            <label for="avater">Upload New Picture</label>
                        </div>

                        <button id="reset">Reset</button>
                    </div>
                    <span>Allowed JPG, GIF or PNG. Max size of 5mb</span>
                    <div class="sponsor-name">Referred By: <b>Bitpluse2024</b></div>
                </div>
            </div>


            <div class="profile-setup"><span><i class="fa-solid fa-user-pen"></i></span>Profile Setup
            </div>
            <form action="">
                <div class="form-control">
                    <input type="text" name="fullname" value="Bitpluse Infotech Limited" id="fullname" readonly disabled>
                    <span>Full Name</span>
                </div>
                <div class="form-control">
                    <input type="email" name="email" value="support@bitpluse.ng" id="email" readonly disabled>
                    <span>Email Address</span>
                </div>
                <div class="form-control">
                    <input type="Phone" name="Phonenumber" value="+2349129079450" id="Phonenumber" >
                    <span>Please enter your phone number</span>
                </div>
                <div class="form-control">
                    <input type="adddress" name="address" value="" placeholder="Shop Address" id="Shop-address" >
                    <span>Share your store/office address for selling physical goods on Bitpluse.</span>
                </div>
                <div class="form-control">
                   <select name="" id="county" disabled>
                    <option selected value="Nigeria">Nigeria</option>
                   </select>
                    <span>Your Country</span>
                </div>

                <div class="profile-footer">
                    <button>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>