<%-include("../../partials/header2")%>
    <div class="cent1">

        <div class="profile-frame">
            <div class="profile-body" style="width: 96%;">
                <div class="pro-pass-tittle">
                    <h4>Change Password</h4>
                </div>
                <form action="basic" method="post">
                    <div class="pro-pass">
                        <label for="currentpassword">
                            <span>Current Password</span>
                            <input type="password" name="password" maxlength="10" id="currentpassword"
                                placeholder="Enter current password" required>
                            <div class="error"></div>
                        </label>
                    </div>
                    <div class="pro-pass">
                        <label for="newpassword">
                            <span>New Password</span>
                            <input type="password" name="password" maxlength="10" id="newpassword" pattern=".{10,}"
                                placeholder="Enter new password" required>
                            <div class="error"></div>
                        </label>
                    </div>
                    <div class="pro-pass">
                        <label for="confirmpassword">
                            <span>Confirm New Password</span>
                            <input type="password" name="password" maxlength="10" id="confirmpassword" pattern=".{10,}"
                                placeholder="Confirm new password" required>
                            <div class="error"></div>
                        </label>
                    </div>
                    <div class="pro-pass">
                        <button type="submit" id="submit" class="sub-pass">Change</button>
                    </div>
                </form>

            </div>
        </div>

        <div class="profile-frame" style="margin-top: 20px; margin-bottom: 70px;">
            <div class="profile-body" style="width: 96%;">
                <div class="pro-pass-tittle">
                    <h4>Create Transation Pin</h4>
                </div>
                <form action="basic" method="post">
                    <div class="pro-pass">
                        <label for="passcode">
                            <span>New Passcode</span>
                            <input type="passcode" name="passcode" id="passcode"
                                placeholder="Enter new passcode" required>
                            <div class="error"></div>
                        </label>
                    </div>
            
                    <div class="pro-pass">
                        <label for="confirmpassword">
                            <span>Confirm New Passcode</span>
                            <input type="passcode" name="passcode"  id="confirmpasscode" pattern=".{4,}"
                                placeholder="Confirm new passcode" required>
                            <div class="error"></div>
                        </label>
                    </div>
                    <div class="pro-pass">
                        <button type="submit" id="submit" class="sub-pass">Comfirm</button>
                    </div>
                </form>

            </div>
        </div>


    </div>

   



    <%-include("../../partials/sidebar")%>
        <%-include("../../partials/footer")%>