<%-include("../../../partials/header2")%>

<div class="myproduct">
    <div class="myproduct-container">
        <div class="myproduct-body">
            <div class="product-table">

                <table>
                    <thead>
                        <tr>
                            <th class="nameaff" style="text-align: left;">Product Name</th>
                            <th>Price</th>
                            <th>Comm</th>
                            <th>Sold</th>
                            <th>Status</th>
                            <th>Product Type</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td class="nameaff nameaff34">
                                Facebook Ads Sales Generator Program.
                            </td>
                            <td><strong>$100</strong></td>
                            <td><strong>50%</strong></td>
                            <td>240</td>
                            <td>
                                <span class="status approved">Approved</span>
                            </td>
                            <td>Digital</td>
                        </tr>
                       
                        <tr>
                          
                            <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.
                            </td>
                            <td><strong>$100</strong></td>
                            <td><strong>50%</strong></td>
                            <td>240</td>
                            <td>
                                <span class="status pending">Pending</span>
                            </td>
                            <td>Physical</td>
                        </tr>

                        <tr>
                        
                            <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.
                            </td>
                            <td><strong>$100</strong></td>
                            <td><strong>50%</strong></td>
                            <td>240</td>
                            <td>
                                <span class="status reject">Rejected</span>
                            </td>
                            <td>Physical</td>
                        </tr>

                        <tr>
                     
                            <td class="nameaff nameaff34">Facebook Ads Sales Generator Program.
                            </td>
                         <td><strong>$100</strong></td>
                         <td><strong>50%</strong></td>
                            <td>240</td>
                            <td>
                                <span class="status approved">Approved</span>
                            </td>
                            <td>Digital</td>
                        </tr>
    
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>



<%-include("../../../partials/sidebar")%>
<%-include("../../../partials/footer")%>