<%-include("../../partials/header2")%>

<div class="holder-card">
    <div class="holder-card-container">
    <div class="holder-body">
        <div class="holder-bal">
            <h3>Total Balance</h3>
            <span>$500,000.00</span>
        </div>
        <div class="holder-btn">
            <button>Withdraw</button>
        </div>
    </div>
</div>
</div>
<div class="seller-qk">
    <div class="seller-qk-container">
        <div class="qk-body">
            <div class="qk-content" style="--qk:#5500a5d8;">
                <div class="qk-icon"  style="--q-k:#a000dfa8; color: #fff;"><i class="fa-solid fa-money-bill-trend-up"></i></div>
                <div class="qk-name" style="color: #fff;">
                <h2>$50,000</h2>
                <span>Virtual Bal</span>
            </div>
            </div>

            <div class="qk-content" style="--qk:#5500a5d8;">
                <div class="qk-icon"  style="--q-k:#a000dfa8; color: #fff;"><i class="fa-solid fa-money-bill-trend-up"></i></div>
                <div class="qk-name" style="color: #fff;">
                <h2>$50,000</h2>
                <span>freelancer Bal</span>
            </div>
            </div>

        </div>
    </div>
</div>
<div class="seller-qk">
    <div class="seller-qk-container">
        <div class="qk-body">
            <div class="qk-content" style="--qk:#04e0c325;">
                <div class="qk-icon"  style="--q-k:#00dfdf2a;"><i class="fa-solid fa-people-line"></i></div>
                <div class="qk-name">
                <h2> 60</h2>
                <span>Client's Hire</span>
            </div>
            </div>
            <div class="qk-content" style="--qk:#09ffff33;">
                <div class="qk-icon" style="--q-k:#0ff7ffb4;"><i class="fa-solid fa-handshake"></i></div>
                <div class="qk-name">
                <h2>110</h2>
                <span>Completed Job's</span>
                </div>
            </div>
           
            <div class="qk-content" style="--qk:#b300002a;">
                <div class="qk-icon" style="--q-k:#b3000036;"><i class="fa-solid fa-person-walking-arrow-loop-left"></i></div>
                <div class="qk-name">
                <h2>50</h2>
                <span>Virtual Job</span>
                </div>
            </div>
            <div class="qk-content" style="--qk:#03ff4f2a;">
                <div class="qk-icon" style="--q-k:#0bff7936;"><i class="fa-solid fa-money-check-dollar"></i></div>
                <div class="qk-name">
                <h2>$2,0000</h2>
                <span>Today Payout</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="daily-task">
    <div class="task-container">
        <div class="task-head">Virtual Job</div>
        <div class="task-body" >
            <div class="task-content social-task" id="Virtual-job" style="box-shadow: none;">
                <div class="social-head">
                    <div class="tsk" id="socialTask">
                        <span class="fak"><i class="fa-solid fa-computer"></i></span>
                        <div class="info">
                            <span class="time">18th-Jan | 04:29PM</span>
                            <h4>Bitpluse Virtual Job</h4>
                        </div>
                    </div>
                </div>
                <div class="social-link">
                    <form action="">
                        <span>Job Link</span>
                        <div class="form-control">
                            <input type="text" value="https://tiktok.com/bitpluse" disabled>
                            <button>Copy</button>
                        </div>
                    </form>
                </div>
                <div class="task-details">
                    <div class="details-title">Kindly adhere to the step-by-step instructions outlined below to complete your assigned job.</div>
                    <div class="Description">
                        <p><b>Step 1:</b> Access the provided Task Link using your Tiktok Mobile App or web browser for the assigned action.</p>
                        <p><b>Step 2:</b>Follow the link to a Tiktok page; your task is to like and follow it.</p>
                        <p><b>Step 3:</b>Click the Like/Follow button on the Tiktok page; do not unfollow after following. Your cooperation is appreciated.</p>
                        <p><b>Step 4:</b>Capture a screenshot of your liked/followed page. Upload it with your Tiktok username on the Proof of Work Form.</p>
                    </div>
                    <div class="virtual-post">
                        <a href="">Download Advert Image/Video</a>
                        <form action="">
                            <div class="form-control">
                                <span>Job Caption:</span>
                                <textarea name="text" id="" cols="30" rows="10" readonly disabled>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim tempore quidem consectetur a suscipit nesciunt modi laudantium itaque? Sapiente adipisci dolorem enim magni praesentium explicabo veniam maxime natus, itaque neque fugiat earum incidunt eos sit non provident error iure alias officia? Officia amet nisi laborum excepturi debitis. Maiores, aliquam. Nobis quas, reprehenderit quia magnam maxime culpa alias vitae illum facere rem tempore animi eaque dolore iure earum provident ratione molestiae labore libero aperiam numquam modi porro accusamus. Rerum enim eligendi ducimus soluta porro nisi, veritatis ipsum cupiditate recusandae mollitia quia temporibus laudantium a beatae architecto placeat, dolor esse odio voluptates?</textarea>
                                
                            </div>
                            <button>Copy Text</button>
                        </form>
                    </div>




                    <div class="details-title note"><b>Note:</b> Avoid unliking or unfollowing the TikTok page post-like/follow; such actions may result in deducted earnings or payment issues.</div>
                    <div class="proof">
                        <form action="">
                            <div class="form-conrol">
                                <input type="text" name="text" placeholder="Please share task-performing social handle link for verification." required>
                            </div>
                            <div class="form-conrol">
                                <input type="text" name="text" placeholder="Please share task-performing post link for verification." required>
                            </div>

                            <div class="task-btn">
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="job-order">
    <div class="order-container">
        <div class="order-tab">
            <div class="my-jobs active" data-tab="order" onclick="toggleTab(this)">Order's</div>
            <div class="my-jobs" data-tab="my-job" onclick="toggleTab(this)">My Job's</div>
            <div class="my-jobs" data-tab="post-job" onclick="toggleTab(this)">Post Job</div>
        </div>
        <div class="order-body active" id="order">
         <div class="no-job">
            <h2>No Order Yet</h2>
         </div>
        </div>

        <div class="order-body" id="my-job">
            <div class="order-content">
                <div class="job-name">
                    <h4>Webdesign using HTML/CSS&JS</h4>
                    <span>26th Jan | 1:57PM</span>
                </div>
                <div class="Job-status">
                    <h4>Pending</h4>
                </div>
            </div>

            <div class="order-content">
                <div class="job-name">
                    <h4>Webdesign using HTML/CSS&JS</h4>
                    <span>26th Jan | 1:57PM</span>
                </div>
                <div class="Job-status">
                    <h4>Pending</h4>
                </div>
            </div>
            <div class="order-content">
                <div class="job-name">
                    <h4>Webdesign using HTML/CSS&JS</h4>
                    <span>26th Jan | 1:57PM</span>
                </div>
                <div class="Job-status">
                    <h4>Pending</h4>
                </div>
            </div>
            <div class="order-content">
                <div class="job-name">
                    <h4>Webdesign using HTML/CSS&JS</h4>
                    <span>26th Jan | 1:57PM</span>
                </div>
                <div class="Job-status">
                    <h4>Pending</h4>
                </div>
            </div>
            <div class="order-content">
                <div class="job-name">
                    <h4>Webdesign using HTML/CSS&JS</h4>
                    <span>26th Jan | 1:57PM</span>
                </div>
                <div class="Job-status">
                    <h4>Pending</h4>
                </div>
            </div>
            <div class="order-content">
                <div class="job-name">
                    <h4>Webdesign using HTML/CSS&JS</h4>
                    <span>26th Jan | 1:57PM</span>
                </div>
                <div class="Job-status">
                    <h4>Pending</h4>
                </div>
            </div>
           
        </div>




        <div class="order-body" id="post-job">
            <form action="">
                <div class="form-control">
                    <label for="jobtitle">Job Title</label>
                    <input type="text" name="jobtitle" id="jobtitle" placeholder="Kindly enter you job title.">
                </div>
                <div class="form-control">
                    <label for="jobamount">Price</label>
                    <input type="number" name="jobamount" id="jobamount" placeholder="Amount you charge.">
                </div>
                <div class="form-control">
                    <label for="duration">Delivery Duration</label>
                    <input type="text" name="duration" id="duration" placeholder="Days to Deliver the job">
                </div>
                <div class="form-control">
                    <label for="job-info">Job Details</label>
                    <textarea name="job-info" id="job-info" cols="30" rows="15" placeholder="Job Information"></textarea>
                </div>

                <div class="order-btn">
                    <button>Post</button>
                </div>
            </form>
           </div>
    </div>
</div>




<div class="chart">
    <div class="chart-container">
        <div class="chart-body">
            <canvas id="jobChart"></canvas>
        </div>
    </div>
</div>


<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>