<%-include("../../partials/header2")%>

<div class="cent1">

<div class="addproduct">
    <div class="product-title">
        <h3>Add New User</h3>
        <p>Please provide the user information in the Application Form.</p>
    </div>
    <div class="product-boady-add">
        <form action="" method="post">
            <div class="product-bal" style="display: inline-flex; justify-content: center; align-items: center;">
                <span style=" background-color: #00ac8123; padding: 10px;">Alphatech29</span>
              </div>
            <div class="product-name">
            <label for="">User Name</label>
            <input type="text" name="username" id="username" placeholder="Enter your user name here" required>
        </div>
        <div class="product-name">
            <label for="">Full name</label>
            <input type="text" name="fullname" id="fullname" placeholder="Enter your full name here" required>
        </div>
        <div class="product-name">
            <label for="">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email address here" required>
        </div>
        <div class="product-name">
            <label for="countrySelect">Countries</label>
            <select class="proform-select" id="countrySelect">
              <option value="" disabled selected>Select your country</option>
            </select>
          </div>
    
        <div class="product-name">
            <label for="">Address</label>
            <input type="address" name="address" id="address" placeholder="Enter your address here" required>
        </div>
        <div class="product-name">
            <label for="">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password here" required>
        </div>

        <div class="product-bal">
          <span>Activities Bal: 20,000PC</span>
        </div>
        
        <div class="imageUpload1">
           <div class="note">
            <p>Kindly be advised that the registration of this user will incur a deduction of 20,000PC from your activities balance.</p>
           </div>
        </div>



        <button type="submit">Create New User</button>
        </form>
    </div>

</div>






</div>
<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>