<div class="modal"  tabindex="-1" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-dialog">
      <div class="modal-content ">
        <div class="modal-header">
            <div class="modal-close">
                <button type="button" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-title">
                <h5>Tricks and Tips for baking Commercial Breads,Pizza,Cookies,Scones,Cakes,Pies,and many more with Step by Step Instructions on My Unique Recipes.</h5>
               
            </div>
        </div>
        <div class="modal-body">
            <form action="post">
                <div class="form-group">
                <div class="input-chech-out">
                    <span class="icon"><i class="fa-solid fa-user"></i></span>
                    <input type="text" name="fullname" placeholder="Enter your fullname" required>
                </div>
                <span>Kindly share your full name for easier contact with you.</span>
            </div>
            <div class="form-group">
                <div class="input-chech-out">
                    <span class="icon"><i class="fa-solid fa-phone"></i></span>
                    <input type="number" max="13" min="11" name="phone" placeholder="Enter your phone number" required>
                </div>
                <span>Please provide the phone number where we can reach you for order delivery purposes.</span>
            </div>
            <div class="form-group">
                <div class="input-chech-out">
                    <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                    <input type="email" name="email" placeholder="Enter your email address" required>
                </div>
                <span>Please provide the phone number where we can reach you for order delivery purposes.</span>
            </div>

            <div class="form-group">
                <div class="input-chech-out">
                    <span class="icon"><i class="fa-solid fa-list"></i></span>
                      <input type="number" name="num" placeholder="How many quantities?" required>
                </div>
                <span>How many quantities?</span>
            </div>

            <div class="billing-info">
                <h4>Billing Information</h4>
                <p>Kindly provide a comprehensive delivery address to ensure accurate and prompt delivery of the product to your location.</p>
            </div>
            <div class="form-group">
                <div class="input-chech-out">
                    <span class="icon"><i class="fa-solid fa-list"></i></span>
                    <select class="form-select custom-no-border" id="delivery-state" onchange="populateLGAs()" required>
                        <option selected disabled>Choose your delivery state.</option>
                      </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-chech-out">
                    <span class="icon"><i class="fa-solid fa-list"></i></span>
                    <select class="form-select custom-no-border" id="delivery-lga" required>
                        <option selected disabled>Choose the delivery area (LGA).</option>
                      </select>
                </div>
                <span>Before choosing the Local Government Area (LGA), you must first choose your state.</span>
            </div>
            <div class="form-group">
                <div class="input-chech-out">
                    <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                    <input type="text" max="100" name="address" placeholder="Please provide your complete delivery address"required>
                </div>
                <span>Kindly provide a comprehensive delivery address, including details such as Building Number, Street, Area, City, and State.</span>
            </div>

            <div class="amount">
                <span><b>Price:</b> ₦10,000</span>
                <span><b>Shipping Fee:</b> N/A</span>
                <span><b>Vat:</b> ₦200</span>
                <span class="tt"><b>Total=</b> ₦10,200</span>
            </div>

              <!--Payment Option-->
        <div class="payment">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="onlinepay">
                <label class="form-check-label" for="onlinepay">
                  <h3>100% Secure Online Payment</h3>
                  <span>Choose Mastercard/VISA/Verve or bank transfer via USSD or internet banking on our secure payment page after clicking here. Secure by flutterwave and paystack</span>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="bitpluse">
                <label class="form-check-label" for="bitpluse">
                  <h3>Pay with Bitpluse Wallet</h3>
                  <span>By employing this approach, you acknowledge and grant our system permission to debit your wallet.</span>
                </label>
              </div>
        </div>
        </form>
      



            <div class="pro-note">
                <p><strong>Note:</strong> Seller will discuss delivery fee based on your location. Expect goods in 7 business days. Contact customer service for purchase assistance.</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="close" data-bs-dismiss="modal">Close</button>
          <button type="button" id="proceed" class="procced">Procced</button>
        </div>
   
      </div>
    </div>
  </div>


 