<!--Product Popud Details-->
<div class="modal" tabindex="-1" id="openResell">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-close">
                    <button type="button" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <span>Resell this Product</span>
                <h5 class="modal-title">Maxi 42" Inches FHD Smart TV (D2010)</h5>
            </div>
            <div class="resell-tips"><h4>Reseller Commission: ₦4,500 per sale</h4></div>
            <div class="modal-body">
                <div class="product-discrib">
                    <p class="info">In order to become an authorized reseller for this product, please click the button below to generate your unique Reseller Link for this specific product. By doing so, you will be entitled to earn a reseller's commission of ₦4,500 for each successful purchase made through your distinctive reseller link.</p>
                </div>
               <div class="product-footer plh">Your earnings increase proportionally with the volume of sales you generate.</div>

               <div class="resell-gen">
                <button>Generate Resell Link</button>
            </div>

            <form action="">
                <div class="form-control">
                    <input type="text" name="link" value="http://127.0.0.1:5000/marketplace/23595885" readonly disabled>
                    <span>Copy Link</span>
                </div>
            </form>
            </div>
            <div class="modal-footer mf">
                <h4>Please be aware that the reseller link you generate is exclusively applicable to this particular product. Should you wish to resell a different product, it will be necessary to generate a separate reseller link for that specific item.</h4>
            </div>
        </div>
    </div>
</div>
<!--End Product Popud Details-->