<%-include("../../partials/header")%>

<section class="pages">
    <div class="container-fluid">
        <div class="page-title post">
            <h2>SPONSORD POST FOR TODAY 13TH JANUARY.</h2>
            <div class="post-info">
                <div class="card-footer" style="border: none; background-color: transparent;">
                    <div class="time"><i class="fa-regular fa-clock"></i> <span>07:45PM | Jan 13</span></div>
                    <div class="name"><i class="fa-regular fa-user"></i><span>Bitpluse</span></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="post">
    <div class="container-fluid">
        <div class="card">
            <img src="/image/AVM-App-RC-X-1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title justify-content-center d-flex">Lorem ipsum dolor sit amet consectetur.</h5>
              <div class="card-text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis porro consequuntur iusto hic, reiciendis, earum, veniam cumque ratione magnam odio impedit! Totam, laboriosam placeat unde id nihil voluptates! Quibusdam voluptas sed omnis recusandae est voluptate laborum placeat sunt molestias modi, veniam nisi temporibus dolor, quos voluptatem perspiciatis exercitationem ratione eaque optio ipsa similique.</p>

                <p>Mollitia sunt perspiciatis at illum eos dolorem ex, voluptas autem tempora dolor deleniti? Reprehenderit perferendis quam ab minima velit, fugit asperiores aliquid modi delectus labore dicta odio! Dolorem minima asperiores quibusdam perspiciatis mollitia ratione delectus nemo, assumenda cumque ipsa quo sed alias sequi totam ducimus harum aut!</p>
                </div> 
         
            </div>
            <div class="card-footer">
                <a href="" class="facebook"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="" class="twitter"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="" class="whatsapp"><i class="fa-brands fa-square-whatsapp"></i></a>
                <a href="" class="telegram"><i class="fa-brands fa-telegram"></i></a>
                <a href="" class="tiktok"><i class="fa-brands fa-tiktok"></i></a>
            </div>
          </div>
    </div>
</div>




<%-include("../../partials/footer")%>