<%-include("../../../../partials/header2")%>

<div class="product-container">
<div class="addproduct">
    <div class="product-title">
        <h3>Publish Products</h3>
        <p>Fill all the product information below.</p>
    </div>
    <div class="product-boady-add">
        <div class="product-name" style="margin-bottom: 30px;">
            <label for="productType">Product Type</label>
            <select class="proform-select" id="productType">
              <option value="select" selected>Select the Product Type</option>
              <option value="physical">Physical Product</option>
              <option value="digital">Digital Product</option>
            </select>
          </div>
          <!-- Starting Physical Section-->
          <div id="physicalContainer" style="display: none;  width: 100%;">
            <form action="" method="post">
                <div class="product-name">
                <label for="">Items Name</label>
                <input type="text" name="productname" id="productname" placeholder="Enter your Product Name here" required>
            </div>
            <div class="product-name">
                <label for="">Manufacturer Name</label>
                <input type="text" name="manufacturername" id="manufacturername" placeholder="Enter your Manufacturer Name here" required>
            </div>
            <div class="product-name">
                <label for="">Manufacturer Brand</label>
                <input type="text" name="manufacturerbrand" id="manufacturerbrand" placeholder="Enter your Manufacturer Brand here" required>
            </div>
            <div class="product-name">
                <label for="">Seller Physical Store Address</label>
                <input type="text" name="storelocation" id="storelocation" placeholder="Enter your Physical Store Address here" required>
            </div>
            <div class="product-name">
                <label for="">Price</label>
                <input type="amount" name="price" id="price" placeholder="₦20,000" required>
            </div>
            <div class="product-name">
                <label for="">Percentage for Reseller(%)</label>
                <input type="number" name="percentageforreseller" id="percentageforreseller" placeholder="Enter the Percentage You want to give Resell. e.g 50%" required>
            </div>
            <div class="product-name">
                <label for="">Items Status</label>
                <select class="proform-select">
                    <option selected>Select Items Status</option>
                    <option value="">Brand New</option>
                    <option value="">Used</option>
                  </select>
            </div>
            <div class="product-name">
                <label for="">Category</label>
                <select class="proform-select">
                    <option selected>Select the Category</option>
                    <option value="">Bags</option>
                    <option value="">Shoe</option>
                    <option value="">Phone</option>
                    <option value="">Electronic</option>
                    <option value="">Cloth</option>
                  </select>
            </div>
            <div class="product-name">
                <label for="">Items Specifications</label>
                <textarea id="productdesc" rows="10" maxlength="2000" placeholder="List out your items Specifications" required></textarea>
            </div>
            <div class="product-name">
                <label for="">Items Description</label>
                <textarea id="productdesc" rows="10" maxlength="2000" placeholder="Enter your Product Description" required></textarea>
            </div>
    
            <div class="imageUpload1">
                <label for="imageUpload" class="imageUpload">
                    <input type="file" id="imageUpload" name="imageUpload[]" accept=".jpg, .jpeg, .png" multiple class="hidden-input" required>
                    <ion-icon name="cloud-upload-outline"></ion-icon><span>Upload Your Product Image here.</span></label>
                    <span style="padding-bottom: 10px; font-size: 11px;">image format: jpeg,PNG allow</span>
                    <div id="selectedImages" style="padding-left: 15px; font-size: 10px; align-items: flex-start; width: 100%; text-transform: uppercase;"></div>
            </div>
            <button type="submit">Add New Product</button>
            </form>
          </div>
          <!--End Physical Section-->



<!--Starting Digital Section-->
          <div id="digitalContainer" style="display: none;  width: 100%;">
            <form action="" method="post">
                <div class="product-name">
                <label for="">Product Name</label>
                <input type="text" name="productname" id="productname" placeholder="Enter Product Name here" required>
            </div>
            <div class="product-name sellername">
                <label for="">Seller Name</label>
                <input type="text" name="sellername" id="sellername" required  value="Alphatech Multimedia Technology" readonly>
            </div>
          
          
            <div class="product-name ">
                <label for="">Product Price</label>
                <input type="amount" name="price" id="price" placeholder="₦20,000" required>
            </div>
            <div class="product-name">
                <label for="">Commission for Affiliate(%)</label>
                <input type="number" name="percentageforreseller" id="percentageforreseller" placeholder="Enter the Percentage You want to give Resell. e.g 50%" required>
            </div>
            <div class="product-name">
                <label for="">URL to Product Sales Page</label>
                <input type="text" name="salepage" id="salespage" placeholder="Enter URL for Product Sales page" required>
            </div>
            <div class="product-name">
                <label for="">URL to Product Download or Thank you page</label>
                <input type="text" name="salepage" id="salespage" placeholder="Enter URL for Product Download or Thank you page" required>
            </div>
            <div class="product-name">
                <label for="">URL to JV Page or Marketing Resources</label>
                <input type="text" name="salepage" id="salespage" placeholder="Enter URL for Product Download or Thank you page" required>
            </div>
            <div class="product-name">
                <label for="">Product details</label>
                <textarea id="productdesc" rows="10" maxlength="2000" placeholder="Enter your Product Description" required></textarea>
            </div>
    
            <div class="imageUpload1">
                <label for="imageUpload" class="imageUpload" style="display: flex; justify-content: center; align-items: center; padding-left: 0;">
                    <input type="file" id="imageUpload" name="imageUpload[]" accept=".jpg, .jpeg, .png" multiple class="hidden-input" required>
                    <ion-icon name="cloud-upload-outline"></ion-icon><span>Upload Product Image.</span></label>
                    <span style="padding-bottom: 10px; font-size: 11px;">image format: jpeg,PNG allow</span>
                    <div id="selectedImages" style="padding-left: 15px; font-size: 10px; align-items: flex-start; width: 100%; text-transform: uppercase;"></div>
            </div>

            <button type="submit">Add</button>
            </form>
          </div>
        <!--End digital Section-->


       
    </div>
</div>
</div>
<%-include("./partials/modals")%>
<script src="/user/js/user/publishProduct/publishProduct.js"></script>

<%-include("../../../../partials/sidebar")%>
<%-include("../../../../partials/footer")%>