<%-include("../../partials/header2")%>
<div class="content">
    <div class="contest-container">
        <div class="contest-head">
            <h3>Challenge Contest Board</h3>
        </div>
        <div class="contest-body">
            <h2>Contest Duration:</h2>
            <span>Jan 1st - Feb 2nd</span>
            <div class="count">
                <h5>Your Referral Count: <b>20</b></h5>
            </div>
        </div>
    </div>
</div>
<div class="content-table">
    <div class="contest-container-table">
        <div class="contest-head">
            <h3>Top 10 Participants</h3>
            <span>Your Ranking Number: <b>30</b></span>
        </div>
        <div class="rank">
            <span>RANK</span>
            <span>USERNAME</span>
            <span>REFERRAL</span>
        </div>
        <div class="contest-body">

            <div class="rank-content">
                <span><b>1</b></span>
                <span>Bitpluse2024</span>
                <span>47</span>
            </div>
            <div class="rank-content">
                <span><b>2</b></span>
                <span>Johnson</span>
                <span>30</span>
            </div>
            <div class="rank-content">
                <span><b>3</b></span>
                <span>Oluwatobi</span>
                <span>20</span>
            </div>
            <div class="rank-content">
                <span><b>4</b></span>
                <span>Esther998</span>
                <span>19</span>
            </div>
            <div class="rank-content">
                <span><b>5</b></span>
                <span>Bitpluse-media</span>
                <span>17</span>
            </div>
            <div class="rank-content">
                <span><b>6</b></span>
                <span>Standconnect203</span>
                <span>12</span>
            </div>
            <div class="rank-content">
                <span><b>7</b></span>
                <span>Stanlyconnect24</span>
                <span>9</span>
            </div>
            <div class="rank-content">
                <span><b>8</b></span>
                <span>Ayomide2019</span>
                <span>7</span>
            </div>
            <div class="rank-content">
                <span><b>9</b></span>
                <span>Oluwakemi</span>
                <span>5</span>
            </div>
            <div class="rank-content">
                <span><b>10</b></span>
                <span>Diamond2078</span>
                <span>4</span>
            </div>

        </div>
    </div>
</div>

<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>