<%-include("../../partials/header2")%>

        <div class="seller">
            <div class="seller-container">
                <div class="seller-body">
                    <div class="seller-content">
                        <div class="balance-name">Sales Balance</div>
                        <div class="balance-sub">$1,300,000.00</div>
                    </div>
                    <div class="seller-btn">
                        <button>Payout</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="seller-qk">
            <div class="seller-qk-container">
                <div class="qk-body">
                    <div class="qk-content" style="--qk:#4500b32a;">
                        <div class="qk-icon" style="--q-k:#4500b338;"><i class="fa-solid fa-truck"></i></div>
                        <div class="qk-name">
                        <h2>3,000</h2>
                        <span>Total Product Sold</span>
                        </div>
                    </div>
                    <div class="qk-content" style="--qk:#15b3002a;">
                        <div class="qk-icon" style="--q-k:#15b30036;"><i class="fa-solid fa-money-check-dollar"></i></div>
                        <div class="qk-name">
                        <h2>$20,0000</h2>
                        <span>Total Paid-out</span>
                        </div>
                    </div>
                    <div class="qk-content" style="--qk:#b3a7002a;">
                        <div class="qk-icon" style="--q-k:#b0b30036;"><i class="fa-solid fa-money-check-dollar"></i></div>
                        <div class="qk-name">
                        <h2>$200</h2>
                        <span>Pending Balance</span>
                        </div>
                    </div>
                    <div class="qk-content" style="--qk:#ff89032a;">
                        <div class="qk-icon" style="--q-k:#ff8d0b36;"><i class="fa-solid fa-money-check-dollar"></i></div>
                        <div class="qk-name">
                        <h2>$2,0000</h2>
                        <span>Today Earnigs</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="seller-transact">
            <div class="transact-head">Recent transaction</div>
            <div class="transact-container">
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$520.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Tecno Sonic 1 Fireboy DML Wireless Bluetooth Earbuds BT5.3 ENC - Black</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#ffe70b;">Pending</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
                <div class="transact-body">
                    <div class="trans-content">
                        <div class="trans-name">Facebook Ads Sales Generator Program</div>
                        <span>by Alphatech</span>
                </div>
                <div class="trans-amt">
                    <h2>$50.70</h2>
                    <span>Comm</span>
                </div>
                <div class="trans-status">
                    <h2 style="--cp:#05e08c;">Completed</h2>
                    <span>Oct-21st-2023|05:20pm</span>
                </div>
                </div>
            </div>
        </div>

<div class="top-selling">
    <div class="top-selling-head">Best Top 10 Selling Product's</div>
    <div class="top-container">
        <div class="top-head-bar">
            <span>Product & Vendor</span>
            <span>Amt/Comm</span>
        </div>
        <div class="top-bts">
        <div class="top-body">
            <div class="top-id">
             <span class="idi">1</span>
             <div class="top-content">
                 <div class="top-name">Facebook Ads Sales Generator Program</div>
                 <span>by John Smith</span>
             </div>
            </div>
             <div class="top-price-name">
                 <div class="top-price">$120</div>
                 <span>50% comm</span>
             </div>
         </div>
         <div class="top-body">
            <div class="top-id">
             <span class="idi">2</span>
             <div class="top-content">
                 <div class="top-name">Facebook Ads Sales Generator Program</div>
                 <span>by John Smith</span>
             </div>
            </div>
             <div class="top-price-name">
                 <div class="top-price">$70</div>
                 <span>50% comm</span>
             </div>
         </div>
         <div class="top-body">
            <div class="top-id">
             <span class="idi">3</span>
             <div class="top-content">
                 <div class="top-name">Facebook Ads Sales Generator Program</div>
                 <span>by John Smith</span>
             </div>
            </div>
             <div class="top-price-name">
                 <div class="top-price">$120</div>
                 <span>50% comm</span>
             </div>
         </div>
         <div class="top-body">
            <div class="top-id">
             <span class="idi">4</span>
             <div class="top-content">
                 <div class="top-name">Facebook Ads Sales Generator Program</div>
                 <span>by John Smith</span>
             </div>
            </div>
             <div class="top-price-name">
                 <div class="top-price">$120</div>
                 <span>50% comm</span>
             </div>
         </div>
         <div class="top-body">
            <div class="top-id">
             <span class="idi">5</span>
             <div class="top-content">
                 <div class="top-name">Facebook Ads Sales Generator Program</div>
                 <span>by John Smith</span>
             </div>
            </div>
             <div class="top-price-name">
                 <div class="top-price">$120</div>
                 <span>50% comm</span>
             </div>
         </div>
         <div class="top-body">
            <div class="top-id">
             <span class="idi">6</span>
             <div class="top-content">
                 <div class="top-name">Facebook Ads Sales Generator Program</div>
                 <span>by John Smith</span>
             </div>
            </div>
             <div class="top-price-name">
                 <div class="top-price">$120</div>
                 <span>50% comm</span>
             </div>
         </div>
         <div class="top-body">
            <div class="top-id">
             <span class="idi">7</span>
             <div class="top-content">
                 <div class="top-name">Facebook Ads Sales Generator Program</div>
                 <span>by John Smith</span>
             </div>
            </div>
             <div class="top-price-name">
                 <div class="top-price">$120</div>
                 <span>50% comm</span>
             </div>
         </div>
         <div class="top-body">
            <div class="top-id">
             <span class="idi">8</span>
             <div class="top-content">
                 <div class="top-name">Facebook Ads Sales Generator Program</div>
                 <span>by John Smith</span>
             </div>
            </div>
             <div class="top-price-name">
                 <div class="top-price">$120</div>
                 <span>50% comm</span>
             </div>
         </div>
         <div class="top-body">
            <div class="top-id">
             <span class="idi">9</span>
             <div class="top-content">
                 <div class="top-name">Facebook Ads Sales Generator Program</div>
                 <span>by John Smith</span>
             </div>
            </div>
             <div class="top-price-name">
                 <div class="top-price">$120</div>
                 <span>50% comm</span>
             </div>
         </div>
         <div class="top-body">
            <div class="top-id">
             <span class="idi">10</span>
             <div class="top-content">
                 <div class="top-name">Facebook Ads Sales Generator Program</div>
                 <span>by John Smith</span>
             </div>
            </div>
             <div class="top-price-name">
                 <div class="top-price">$120</div>
                 <span>50% comm</span>
             </div>
         </div>
        </div>
    </div>
</div>

    <%-include("../../partials/sidebar")%>
        <%-include("../../partials/footer")%>