<%-include("../../partials/header2")%>

<div class="lucky-spin">
    <div class="spin-container">
        <div class="spin-head">
            <h2>Bitpluse Lucky Spin Wheel</h2>
            <span>Spin to win and have the chance to win amazing prizes.</span>
        </div>
        <div class="spin-content">
            <div class="acct">
                <h5>3,000</h5>
                <span>Stake Bal</span>
            </div>
            <div class="acct">
                <h5>$5,000</h5>
                <span>Won Bal</span>
            </div>
        </div>
    </div>
</div>

<div class="spin-stake">
    <div class="stake-container">
        <div class="wheel-board">
            <h2>Spin Wheel Here</h2>
        </div>
        <div class="stake-btn">
            <form action="">
                <div class="form-control">
                    <input type="number" value="100">
                    <button>Stake</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="stake-histroy">
    <div class="stake-container">
        <div class="stake-head">Transaction</div>
        <div class="stake-body">
            <div class="stake-content">
                <div class="stake-name">
                    <span class="icon"><i class="fa-solid fa-arrows-spin"></i></span>
                    <div class="stake-info">
                        <h4> Bitpluse Lucky Spin</h4>
                        <span>24th Jan | 02:32PM</span>
                    </div>
                </div>
                <div class="stake-amount">
                    <h5>100</h5>
                </div>
                <div class="stake-status">
                    <h5>$3,000</h5>
                    <span class="won">Won</span>
                </div>
            </div>

            <div class="stake-content">
                <div class="stake-name">
                    <span class="icon"><i class="fa-solid fa-arrows-spin"></i></span>
                    <div class="stake-info">
                        <h4>Bitpuse Lucky Spin</h4>
                        <span>24th Jan | 02:30PM</span>
                    </div>
                </div>
                <div class="stake-amount">
                    <h5>500</h5>
                </div>
                <div class="stake-status">
                    <h5>0.00</h5>
                    <span class="lost">Lost</span>
                </div>
            </div>
        </div>
    </div>
</div>


<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>