<%-include("../../partials/header2")%>

        <div class="holder-card">
            <div class="holder-card-container">
            <div class="holder-body">
                <div class="holder-bal">
                    <h3>Stakeholder Balance</h3>
                    <span>$500,000.00</span>
                </div>
                <div class="holder-btn">
                    <button>Withdraw</button>
                </div>
            </div>
        </div>
    </div>

        <div class="sub-holder">
            <div class="sub-holder-container">
            <div class="sub-card-holder">
                <div class="sub-card-name" style="--sub-card:#09c7f71a;">
                    <div class="sub-icon" style="--icon:#09c7f72d;"><i class="fa-solid fa-users"></i></div>
                    <div class="sub-name">
                        <h4>2,000</h4>
                    <span>Direct Downline's</span>
                    </div>
                </div>
                <div class="sub-card-name" style="--sub-card:#f7e7091a;">
                    <div class="sub-icon" style="--icon:#f7e70934;"><i class="fa-solid fa-people-arrows"></i></div>
                    <div class="sub-name">
                    <h4>1,200</h4>
                    <span>Indirect Downline's</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="reg-wrapper">
            <div class="reg-header">
                <h3>History</h3>
            </div>
            <div class="reg-body">
                <div class="reg-content">
                    <div class="reg-claim">
                        <div class="reg-img">
                            <ion-icon name="phone-portrait-outline"></ion-icon>
                        </div>
                        <div class="reg-name">
                            <h4>Data Purchase</h4>
                            <span>1st Aug 2023 | 4:40PM</span>
                        </div>
                    </div>
                    <div class="reg-amount">
                        <h4>$500</h4>
                    </div>
                    <div class="reg-amount">
                        <h4>$2</h4>
                        <span>comm</span>
                    </div>
                    <div class="reg-btn">
                        <button>Claimed</button>
                    </div>
                </div>

                <div class="reg-content">
                    <div class="reg-claim">
                        <div class="reg-img">
                            <ion-icon name="phone-portrait-outline"></ion-icon>
                        </div>
                        <div class="reg-name">
                            <h4>Airtime Purchase</h4>
                            <span>1st Aug 2023 | 4:40PM</span>
                        </div>
                    </div>
                    <div class="reg-amount">
                        <h4>$500</h4>
                    </div>
                    <div class="reg-amount">
                        <h4>$2</h4>
                        <span>comm</span>
                    </div>
                    <div class="reg-btn">
                        <button>Claimed</button>
                    </div>
                </div>

                <div class="reg-content">
                    <div class="reg-claim">
                        <div class="reg-img">
                            <ion-icon name="trending-up-outline"></ion-icon>
                        </div>
                        <div class="reg-name">
                            <h4>Digital purchase</h4>
                            <span>1st Aug 2023 | 4:40PM</span>
                        </div>
                    </div>
                    <div class="reg-amount">
                        <h4>$500</h4>
                    </div>
                    <div class="reg-amount">
                        <h4>$2</h4>
                        <span>comm</span>
                    </div>
                    <div class="reg-btn">
                        <button>Claimed</button>
                    </div>
                </div>
            </div>
        </div>


    <%-include("../../partials/sidebar")%>
        <%-include("../../partials/footer")%>