<!--footer section-->
<section class="footer position-relative overflow-hidden">
    <img class="position-absolute footer-img" src="/image/map.png" alt="" srcset="">
    <div class="container pt-5 pb-5 d-flex justify-content-center flex-column align-items-center">
        <div class="row g-3">
            <div class="col-4">
                <div class="footer-logo"><a href="/"><img src="/image/logo/footer-Logo.png" alt="" width="48%" height="50"></a></div>
                <p>Paysparq, Nigeria's premier Cryptocurrency and Gift Card Exchange, offers secure and efficient trading. Trade Bitcoin, Ethereum, USDT, Litecoin, and popular gift cards like Amazon and Google Play. Easily send and receive international payments on one comprehensive platform.</p>
                <div class="country-flags">
                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-tiktok"></i></a>
                    <a href=""><i class="fa-brands fa-telegram"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center flex-column">
            <h3>Product</h3>
            <ul>
                <li><a href="/about-us">Giftcards</a></li>
                <li><a href="/page/terms-and-condition">Buy & Sell Crypto</a></li>
                <li><a href="/page/privacy-policy">Bill Payment</a></li>
                <li><a href="/How-it-work">Airtime & Data</a></li>
                <li><a href="/faqs">Refer & Earn</a></li>
                <li><a href="/contact-us">Virtual Dollar Card</a></li>
            </ul>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center flex-column">
                <h3>Company</h3>
                <ul>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/page/terms-and-condition">Terms & Conditions</a></li>
                    <li><a href="/page/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/How-it-work">How it works</a></li>
                    <li><a href="/faqs">FAQs</a></li>
                    <li><a href="/contact-us">Contact Us</a></li>
                </ul>
                </div>
          
        </div>
        <div class="copyright">
           <span> © 2024 Paysparq Limited. All rights reserved.</span>
        </div>
    </div>
</section>







<!--Boostrap Js -->
<script src="home/bootstrap-5.0.2-dist/js/bootstrap.js"></script>
<script src="home/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
<script src="home/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
<script src="home/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>

<!--Fontawesome Js-->
<script src="home/fontawesome/js/all.js"></script>
<script src="home/fontawesome/js/all.min.js"></script>
<script src="home/fontawesome/js/fontawesome.js"></script>
<script src="home/fontawesome/js/fontawesome.min.js"></script>

<!--Custom Js-->
<script src="home/js/main.js"></script>
</body>

</html>