* body {
    padding         : 0!important;
    margin          : 0!important;
    scroll-behavior : smooth;
    font-family     : 'Roboto', sans-serif;
    font-size: 15px;
}

:root {
    --primary-color  : #ff7808;
    --secondary-color: #f06006;
    --thd-color      : #ffefd4;
    --Text-color     : #fff8ed;
    --btn-color      : #ffb62f;
    --zip-color      : #9e380e;
    --carbor-color   : #451605;
    --zenvoxe-color  : #c74707;
    --white:#f7f2f2;
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--carbor-color);
    border-radius   : 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--zenvoxe-color);
}

::-webkit-scrollbar-track:hover {
    background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--zip-color);
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

header.nav{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
header.nav .header-container{
    width:90%;
    background-color: var(--white);
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 20px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 50px;
}
header.nav .header-container .header-logo{
    text-decoration: none;
    font-size: 18px;
    color: var(--carbor-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
header.nav .header-container .header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
header.nav .header-container .header-menu .menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    gap: 20px;
}
header.nav .header-container .header-menu .menu ul li a{
   text-decoration: none;
   font-size: 16px;
   color: #032e4b;
   font-weight: 500;
   }
header.nav .header-container .auth-btn a{
    text-decoration: none;
    font-size: 16px;
    color: var(--Text-color);
    background: linear-gradient(to left, #007c92 0%, #ff7808 100%);
    padding: 7px 20px 7px 20px;
    border-radius: 10px;
}
header.nav .header-container .auth-btn a:hover{
    text-decoration: none;
    font-size: 16px;
    color: var(--secondary-color);
    background:transparent;
    padding: 7px 20px 7px 20px;
    border-radius: 10px;
    border: #005e6f 1px solid;
}
.card .col h6{
    color: #032e4bcb;
    font-size: 12px;
}
.card .col ul{
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-direction: column !important;
 }

.card .col ul li span{
   background-color: var(--btn-color);
   border-radius: 50%;
   padding: 7px;
   color: #032e4bcb;
   font-size: 14px;
   margin-right: 7px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 2rem;
   height: 2rem;
   margin-bottom: 20px;
}
.card .col ul li .content h5{
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 120%;
    color: #032e4b;
    font-weight: 600;
 }
 .card .col ul li .content p{
    color: #3f4a52;
    font-size: 12px;
    line-height: 120%;
    font-weight: 500;
   }
  

section.footer{
    background-color: #03232b;
    z-index: 1;
}
section.footer .footer-img{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    filter: contrast(60%);
    -webkit-filter: contrast(60%);
}
section.footer .container{
    padding: .20rem;
}
section.footer .container ul{
  list-style: none;
  padding: 0;
  padding-left: 3rem;
}
section.footer .container p{
    color: var(--Text-color);
    padding-top: 15px;
  }
  section.footer .container h3{
    color: var(--Text-color);
    padding-top: 15px;
    padding: 0;
    font-size: 20px;
  }
section.footer .container ul li a{
    text-decoration: none;
    font-size: 15px;
    color: var(--Text-color);
  }
  section.footer .container ul li a:hover{
    text-decoration: none;
    font-size: 15px;
    color: var(--zenvoxe-color);
    border-bottom: var(--primary-color) solid 1px;
}
section.footer .copyright{
    color: var(--white);
}
section.footer .copyright a{
    text-decoration: none;
    color: var(--thd-color);
}
section.hero{
    background-image: url(/image/paysparq-bg.svg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}

section.hero .container{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 5rem;
 padding-top: 10rem;
}
section.hero .container .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    color: var(--Text-color);
}
section.hero .container .content h1{
    text-align: center;
    font-size: 2.3rem;
}
section.hero .container .content p{
    text-align: center;
    font-size: 17px;
}
section.hero .container .content .content-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
section.hero .container .content .content-btn a.btn1{
   background-color: #005e6f;
   padding: 10px 25px 10px 25px;
   text-decoration: none;
   border-radius: 7px;
  font-size: 16px;
  color: var(--Text-color);
}
section.hero .container .content .content-btn a.btn1:hover{
    background-color: #5e544762;
 }
section.hero .container .content .content-btn a.btn2{
    background-color: var(--zip-color);
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    border-radius: 7px;
   font-size: 16px;
   color: var(--Text-color);
 }
 section.hero .container .content .content-btn a.btn2:hover{
    background-color: #290b0085;
 }
 section.send{
    background-color: #fff;
 }
 section.send .container{
    padding: 4rem 1rem 4rem 1rem;
 }
 section.send .container .row{
    gap: 4.5rem;
 }
 section.send .container .row h2{
    color: #032e4b;
    font-weight: 700;
 }
 section.send .container .row p{
    color: #1e283a;
 }
 section.send .container .choose{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 3rem;
    padding-top: 1rem;
 }
 section.send .container .choose a{
   font-size: 16px;
   text-decoration: none;
   color: var(--primary-color);
   display: flex;
   align-items: center;
   gap: 10px;
   font-weight: 600;
 }
 section.send .container .choose a:hover{
    font-size: 16px;
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
  }
 section.send .container .choose a span{
    display: flex;
   width:2rem;
   height: 0.10rem;
   background-color: var(--primary-color);
  }
  section.send .container .choose a span:hover{
   display: flex;
   width:1.5rem;
   height: 0.10rem;
   background-color: var(--primary-color);
   transform: rotate(90deg);
}
section.send .container .choose a:hover {
    font-size: 16px;
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
section.trade{
    background-color: #fff;
    padding: 20px;
}
section.trade .container{
    background-image: url(/image/tg-bg.svg);
    background-size: cover;
    border-radius: 10px;
    padding: 2rem 3rem 2rem 3rem;
}
section.trade .container h2{
   font-weight: 700;
   font-size: 2.5rem;
   color: #032e4b;
}
section.trade .container p{
    font-weight: 500;
    font-size: 15.5px;
    color: #032e4b;
    padding-bottom: 30px;
 }
 section.trade .container a{
    font-weight: 500;
    font-size: 15.5px;
    color: var(--white);
    text-decoration: none;
    padding: 10px 20px 10px 20px ;
    border-radius: 10px;
    background: linear-gradient(to left, #007c92 0%, #ff7808 100%);
 }
 section.trade .container a:hover{
    font-weight: 500;
    font-size: 15.5px;
    color: var(--white);
    text-decoration: none;
    padding: 10px 20px 10px 20px ;
    border-radius: 10px;
    background: linear-gradient(to left, #ff7808  0%, #007c92 100%);
 }
 section.trade .container ul{
    list-style: none;
    gap: 30px;
    display: flex;
    flex-direction: column;
   
 }
 section.trade .container ul li{
    background-color: #fff;
    padding: 10px 5px 10px 15px;
    border-radius: 10px;
    width: 80%;
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: #032e4b;
}
section.trade .container ul li span{
   color: var(--primary-color);
   font-size: 20px;
}
section.trade .container ul li:nth-child(1){
   margin-left: 10px;
}
section.trade .container ul li:nth-child(2){
    margin-left: 45px;
 }
 section.trade .container ul li:nth-child(3){
    margin-left: 50px;
 }
 section.coin{
    background-image: url(/image/tg-bg-cyp.svg);
    background-size: cover;
 }
 section.coin .container{
   padding: 30px;
 }
 section.coin .container h2{
    color: #032e4b;
    font-weight: 700;
  }
  section.coin .container p{
    color: #032e4b;
    font-weight: 500;
    padding-bottom: 15px;
  }
  section.coin .container a{
    text-decoration: none;
    background: linear-gradient(to left, #007c92 0%, #ff7808 100%);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
}
section.coin .container a:hover{
    text-decoration: none;
    background: linear-gradient(to left, #ff7808  0%, #007c92 100%);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

section.Giftcard{
    background-image: url(/image/tg-bg-cyp2.svg);
    background-size: cover;
 }
 section.Giftcard .container{
   padding: 50px;
 }
 section.Giftcard .container h1{
    color: #032e4b;
    font-weight: 700;
  }
  section.Giftcard .container p{
    color: #032e4b;
    font-weight: 500;
    padding-bottom: 15px;
  }
  section.Giftcard .container .gift {
    width: 100%;
}
section.Giftcard .container .gift ul {
    font-size: 15px;
    font-weight: 500;
    list-style: none;
    padding-left: 0rem;
    margin-left: 0;
}
section.Giftcard .container .gift ul li{
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
}
section.Giftcard .container .gift ul li span{
   padding-right: 10px;
   color: #17c500;
}
  section.Giftcard .container .giftcard {
    width: 100%;
}
  section.Giftcard .container .giftcard a{
    text-decoration: none;
    background: linear-gradient(to left, #007c92 0%, #ff7808 100%);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
}
section.Giftcard .container .giftcard a:hover{
    text-decoration: none;
    background: linear-gradient(to left, #ff7808  0%, #007c92 100%);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
section.data{
    background-color: #fff;
}
section.data .container{
    padding: 4rem;
}
section.data .container h1{
    width:80%;
    font-weight: 700;
    color: #032e4b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section.data .container h1 span{
    color: #f06006;
}