<%-include("../../partials/header2")%>

<div class="course">
    <div class="course-container">
        <div class="course-head">
            <div class="course-tab " data-tab="My-course" onclick="toggleTab(this)">My Active Course</div>
            <div class="course-tab active" data-tab="Available-course" onclick="toggleTab(this)">Available Courses</div>
        </div>
        <div class="course-body">
            <div class="content " id="My-course">
             <h2>You don't have any course yet.</h2>
            </div>

            <div class="content active" id="Available-course">
                <span>These are the courses available for enrollment, allowing you to begin learning now.</span>
                <div class="courses">
                    <img src="/image/digital_products.jpg" alt="" >
                    <div class="course-cont">
                        <h3>Web Design</h3>
                        <span>Price: <b>5,000</b></span>
                        <div class="course-btn">
                            <button>Enroll Now</button>
                        </div>
                    </div>
                    <div class="course-footer">
                        Note: Certified and universally accepted.
                    </div>
                </div>
                <div class="courses">
                    <img src="/image/digital_products.jpg" alt="" >
                    <div class="course-cont">
                        <h3>Web Design</h3>
                        <span>Price: <b>5,000</b></span>
                        <div class="course-btn">
                            <button>Enroll Now</button>
                        </div>
                    </div>
                    <div class="course-footer">
                        Note: Certified and universally accepted.
                    </div>
                </div>
                <div class="courses">
                    <img src="/image/digital_products.jpg" alt="" >
                    <div class="course-cont">
                        <h3>Web Design</h3>
                        <span>Price: <b>5,000</b></span>
                        <div class="course-btn">
                            <button>Enroll Now</button>
                        </div>
                    </div>
                    <div class="course-footer">
                        Note: Certified and universally accepted.
                    </div>
                </div>
                <div class="courses">
                    <img src="/image/digital_products.jpg" alt="" >
                    <div class="course-cont">
                        <h3>Web Design</h3>
                        <span>Price: <b>5,000</b></span>
                        <div class="course-btn">
                            <button>Enroll Now</button>
                        </div>
                    </div>
                    <div class="course-footer">
                        Note: Certified and universally accepted.
                    </div>
                </div>
                <div class="courses">
                    <img src="/image/digital_products.jpg" alt="" >
                    <div class="course-cont">
                        <h3>Web Design</h3>
                        <span>Price: <b>5,000</b></span>
                        <div class="course-btn">
                            <button>Enroll Now</button>
                        </div>
                    </div>
                    <div class="course-footer">
                        Note: Certified and universally accepted.
                    </div>
                </div>

        
            </div>
        </div>
    </div>
</div>


<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>