<%-include("../../partials/header")%>

<!--Product Popud Details-->
<div class="modal" tabindex="-1" id="pro-details">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
            </div>
            <div class="modal-body">
                <div class="product-discrib">
                    <h3>Product Description:</h3>
                    <p>The Maxi 42 Inches Smart TV D2010 comes with HDMI, USB and AV ports that aids connections of
                        flash drives, laptops, projectors, DVDs. You get to enjoy playback of video clips that shows
                        your childhood memories or your baby's first step in High definition by connecting your flash
                        drive or laptop to these ports.

                        The Maxi 42 Inches Smart TV D2010 allows you to enjoy content beyond regular TV channels. You
                        can watch Netflix and use other apps on it.

                        This television is a state of the art combination of movie theatre technology, artistic taste
                        and modern simplicity. It is the perfect companion as it serves optimal entertainment in all
                        ramifications.</p>
                </div>
                <div class="product-spec">
                    <h3>Specifications:</h3>
                    <p>SKU: MA699EA2V1ZKSNAFAMZ</p>
                    <p>Weight (kg): 12</p>
                    <p>Shop Type: Osun Mall</p>
                    <p>Screen Size: 42″</p>
                    <p>Resolution: 1920 X 1080 Pixel</p>
                    <p>Color: Black</p>
                    <p>ATV / DTV: Yes</p>
                    <p>AV Input: Yes</p>
                    <p>HDMI: 3</p>
                    <p>USB: 2</p>
                    <p>WIFI Function: Yes</p>
                    <p>LAN Connection: Yes</p>
                    <p>Wifi: Yes</p>
                    <p>Head phone out: Yes</p>
                    <p>Digital out: Yes</p>
                    <p>Netflix – amazon prime – Online movies: Yes</p>
                    <p>App store – YouTube: Yes</p>
                    <p>REMOTE CONTROL</p>
                </div>

                <div class="seller-details">
                    <div class="seller-info">
                        <h2>Seller Details</h2>
                        <div class="seller-names">
                            <div class="seller-img">
                                <img src="/image/Avater.PNG" alt="">
                            </div>
                            <div class="seller-pro-content">
                                <h2>Bitpluse Infotech</h2>
                                <span><b>Shop Location:</b> Alexander House, Otunba Jobi Fele Way,
                                    Ikeja, Lagos, Nigeria.</span>
                                <div class="seller-icon">
                                    <a class="mail" href="mailto:hello@alphatechmultimedia.com"><i
                                            class="fa-solid fa-envelope"></i></a>
                                    <a class="phone" href="tell:+2349129079450"><i
                                            class="fa-solid fa-square-phone"></i></a>
                                    <a class="whatsapp" href="tell:+2349129079450"><i
                                            class="fa-brands fa-square-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="close" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--End Product Popud Details-->





<section class="shop">
    <div class="shop-note">
        <h2>Explore extraordinary products.</h2>
        <p>Gain access to an extensive network of physical products by showcasing and promoting your merchandise at no cost upon the activation of your account.</p>
    </div>
    <div class="searchbar">
        <form action="post">
            <input type="text" placeholder="Search Product....." required>
            <button id="submit"><i class="fa-solid fa-magnifying-glass"></i><span>Search</span></button>
        </form>
    </div>
    <div class="container-fluid">
        <div class="row g-3 ">
            <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div> 
              <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div> 
              <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div> 
              <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div> 
              <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div> 
              <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div> 
              <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div> 
              <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div> 
              <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div> 
              <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div> 
              <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div> 
              <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div> 
              <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div>
              <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div>  
              <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div> 
              <div class="card">
                <img src="/image/tv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Maxi42"Inches FHD Smart Tv (D2010)</h5>
                  <div class="product-details">
                    <a href="#" id="moreDetailsLink"><span>More Details</span><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="product-info">
                    <div class="product-amount">
                        <div class="amount"><span>$10,000</span></div>
                        <button id="addtocart"><span>Buy Now</span></button>
                    </div>
                    <div class="product-resell">
                        <div class="info"><span>Resell and earn 25% commission</span></div>
                        <button id="resell"><span>Resell</span></button>
                    </div>
                </div>
                </div>
                <div class="card-footer justify-content-center align-items-center d-flex">
                    <span>Posted by Bitpluse Infotech</span>
                </div>
              </div> 





        </div>
        <div class="navigation-bar">
            <div class="navi-numb"><span>Showing 1 to 20 of 21 results</span></div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</section>

<section class="refund">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-4">
                <div class="icon"><i class="fa-solid fa-truck-fast"></i></div>
                <div class="col-content">
                    <h3>Shipping Fee</h3>
                    <P>Shipping fees will be negotiated directly between the buyer and the seller outside the Bitpluse platform. This is because Bitpluse does not collect shipping fees during the checkout process. We will only charge you for the purchase amount, and VAT fees are already included in the total.</P>
                </div>
            </div>
            <div class="col col-4">
                <div class="icon"><i class="fa-solid fa-money-bill-transfer"></i></div>
                <div class="col-content">
                    <h3>7 days return</h3>
                    <P>
                        If you encounter any problems with your purchased goods, such as non-delivery within 7 business days despite payment, you can report the transaction to us. We will initiate a refund process within 14 working days, ensuring you receive your money back. It's important to note that all buyer payments are securely held in the Bitpluse escrow system until the buyer confirms receipt of the goods.</P>
                </div>
            </div>
            <div class="col col-4">
                <div class="icon"><i class="fa-solid fa-truck-fast"></i></div>
                <div class="col-content">
                    <h3>Shipping Fee</h3>
                    <P>Shipping fees will be negotiated directly between the buyer and the seller outside the Bitpluse platform. This is because Bitpluse does not collect shipping fees during the checkout process. We will only charge you for the purchase amount, and VAT fees are already included in the total.</P>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="digital" style="background-color: #f7f7f7;">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="digital-title">Are You a Product Creator? Let's Help You Sell More Of Your Digital Product</h2>
                <p>Getting affiliates to promote your digital products is the absolute fastest way to get more paying customers.</p>
                    <p>Our high performing affiliates have sold over 30,000 digital products and they can help you reach more customers. </p>
                    
                   <div class="button">
                    <a href="/auth/sign-up">Get Started Now</a>
                   </div>
            </div>
            <div class="col">
                <div class="digital-img"><img src="/image/Business-Structure-Types.webp" alt=""></div>
            </div>
          
        </div>
    </div>
</section>
<section class="digital">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="digital-img"><img src="/image/9-business.jpg" alt=""></div>
            </div>
            <div class="col">
                <h2 class="digital-title">Get Paid For Recommending High Value Digital Products From Top Experts</h2>
                <p>You can earn money by recommending any of the high value digital products on Bitpluse to your subscribers and followers.</p>
                    <p>All you have to do is use the unique link of each product that our system provides</p>
                    <p>Our highly effective tracking system ensures that you are compensated for the sales you refer.</p>
                   <div class="button">
                    <a href="/auth/sign-up">Get Started Now</a>
                   </div>
            </div>
        </div>
    </div>
</section>





<%-include("../../pages/shopping/modal/chechout")%>
<%-include("../../pages/shopping/modal/resell")%>
<%-include("../../partials/footer")%>