
<%-include("../../partials/header2")%>

<div class="upgrade">
    <div class="upgrade-container">
        <div class="upgrade-body">
            <div class="upgrade-header">
                <h2 class="ht">Prime Task</h2>
            </div>
            <div class="upgrade-content">
            <ul>
                <li><i class="fa-solid fa-circle-check"></i>Welcome Bonus: <strong>200PT</strong></li>
                <li><i class="fa-solid fa-circle-check"></i>Sponsored Ads: <strong>500PT</strong></li>
                <li><i class="fa-solid fa-circle-check"></i>Referral: <strong>$200</strong></li>
                <li><i class="fa-solid fa-circle-check"></i>Inreferral: <strong>$100</strong></li>
                <li><i class="fa-solid fa-circle-check"></i>3rd genation: <strong>$10</strong></li>
                <li><i class="fa-solid fa-circle-check"></i>4th genation: <strong>$10</strong></li>
            </ul>
        </div>
        <div class="sub-btn active">
            <a href="">Activated</a>
        </div>
        </div>

        <div class="upgrade-body">
            <div class="upgrade-header">
                <h2 class="ht">Prime Task</h2>
            </div>
            <div class="upgrade-content">
            <ul>
                <li><i class="fa-solid fa-circle-check"></i>Welcome Bonus: <strong>200PT</strong></li>
                <li><i class="fa-solid fa-circle-check"></i>Sponsored Ads: <strong>500PT</strong></li>
                <li><i class="fa-solid fa-circle-check"></i>Referral: <strong>$200</strong></li>
                <li><i class="fa-solid fa-circle-check"></i>Inreferral: <strong>$100</strong></li>
                <li><i class="fa-solid fa-circle-check"></i>3rd genation: <strong>$10</strong></li>
                <li><i class="fa-solid fa-circle-check"></i>4th genation: <strong>$10</strong></li>
            </ul>
        </div>
        <div class="sub-btn inactive">
            <a href="">Inactive</a>
        </div>
        </div>
    </div>
</div>




<div class="stake">
    <div class="stake-container">
        <div class="stake-body">
            <div class="stake-content">
                <h2>Become A Stakehoolder</h2>
                <p>In Alphatech, your involvement in decision-make and contribution to company success are vital. You earn commission to from unique website traffic and downline activities.</p>
                <button class="stake-act">Activate</button>
            </div>
        </div>
    </div>
</div>















<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>