<%-include("../../partials/header2")%>

<div class="bit-vtu">
  <div class="vtu-container">
    <div class="VtuTab" >
      <div class="buydata active" data-tab="buyairtime">Buy Airtime</div>
      <div class="buydata" data-tab="buydata">Buy Data</div>
    </div>
    <div class="vtu-head">Ensure a seamless recharge for your phone, stay connected with friends and family, and keep your life powered with data.</div>
    <div class="vtu-body active" id="buyairtime">
      <form action="">
        <div class="form-control">
          <span>Phone Number</span>
          <input type="phone" name="phonenumber" value="" placeholder="09129079450" required>
        </div>
        <div class="vtu-network">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Check1">
            <label class="form-check-label" for="Check1"><img src="/image/download (1) 1.png" alt=""></label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Check2">
            <label class="form-check-label" for="Check2"><img src="/image/download (1) 2.png" alt=""></label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Check3">
            <label class="form-check-label" for="Check3"><img src="/image/download (1) 3.png" alt=""></label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Check4">
            <label class="form-check-label" for="Check4"><img src="/image/download (1) 4.png" alt=""></label>
          </div>
        </div>

        <div class="form-control">
          <span>Amount</span>
          <input type="number" name="amount" value="" placeholder="₦1,000" required>
        </div>
        <div class="form-control">
          <select name="" id="">
            <option value="">Select Account to charge</option>
            <option value="">Affiliate</option>
            <option value="">Job</option>
            <option value="">Task</option>
          </select>
        </div>

        <div class="vtu-btn">
          <button type="submit">Procced...</button>
        </div>
      </form>
    </div>

    <div class="vtu-body" id="buydata">
      <form action="">
        <div class="form-control">
          <span>Phone Number</span>
          <input type="phone" name="phonenumber" value="" placeholder="09129079450" required>
        </div>
        <div class="vtu-network">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Check1">
            <label class="form-check-label" for="Check1"><img src="/image/download (1) 1.png" alt=""></label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Check2">
            <label class="form-check-label" for="Check2"><img src="/image/download (1) 3.png" alt=""></label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Check2">
            <label class="form-check-label" for="Check2"><img src="/image/download (1) 2.png" alt=""></label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="Check4">
            <label class="form-check-label" for="Check4"><img src="/image/download (1) 4.png" alt=""></label>
          </div>
        </div>

        <div class="form-control">
          <select name="" id="">
            <option selected>Select Data Plan</option>
            <option value="">MTN 1GB #500 30DAYS</option>
            <option value="">MTN 1GB #500 30DAYS</option>
            <option value="">MTN 1GB #500 30DAYS</option>
            <option value="">MTN 1GB #500 30DAYS</option>
            <option value="">MTN 1GB #500 30DAYS</option>
          </select>
        </div>

        <div class="form-control">
          <select name="" id="">
            <option value="">Select Account to charge</option>
            <option value="">Affiliate</option>
            <option value="">Job</option>
            <option value="">Task</option>
          </select>
        </div>

        <div class="vtu-btn">
          <button type="submit">Procced...</button>
        </div>
      </form>
    </div>
  </div>
</div>





<div class="dash-hist">
  <div class="dash-container">
    <div class="dash-head">
      <div class="dash-head-name">Recent Transaction</div>
      <div class="dash-head-name">View More</div>
    </div>
    <div class="dash-body">
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <ion-icon name="phone-portrait"></ion-icon>
          </div>
          <div class="dash-name">
            <h2>Airtime Purchase</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$100</h2>
          <span>Successful</span>
        </div>
      </div>
      <div class="dash-content">
        <div class="dash-const">
          <div class="dash-img">
            <ion-icon name="wifi"></ion-icon>
          </div>
          <div class="dash-name">
            <h2>Data Purchase</h2>
            <span>22nd-Oct-2023 | 7:49am</span>
          </div>
        </div>
        <div class="dash-status">
          <h2>$500</h2>
          <span>Successful</span>
        </div>
      </div>
     
    
   
     
    </div>
  </div>
</div>
  
<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>


