<%-include("../../partials/header2")%>

<div class="referral">
    <div class="ref-container">
        <div class="ref-mat"></div>
        <div class="ref-body">
            <div class="ref-content">
                <h4>Total Balance</h4>
                <h2>$600,000.00</h2>
                <span>Updated few mins ago</span>
            </div>
        </div>
    </div>
</div>


<div class="aff-link">
    <div class="aff-container">
      <div class="aff-title">Referral Link</div>
      <div class="aff-body">
        <form>
              <input type="text" class="link form-control" id="copyInput" placeholder="https://127.0.192.0:3000=!?297675" value="https://127.0.192.0:3000=!?297675" readonly disabled>
          <button type="button" id="copyButton"><ion-icon name="copy-outline"></ion-icon></button>
      </form>
      </div>
    </div>
  </div>

  <div class="ref-card">
    <div class="ref-card-container">
        <div class="ref-card-body">
            <div class="ref-card-content" style="--ref-card:#0076c518;">
                <div class="ref-icon"  style="--ref-icon:#0076c521;"><i class="fa-solid fa-coins"></i></div>
                <div class="ref-bal">
                    <h2>$300,000</h2>
                    <span>Direct Referral's</span>
                </div>
            </div>
            <div class="ref-card-content" style="--ref-card:#4500c518;">
                <div class="ref-icon" style="--ref-icon:#4500c518;"><i class="fa-solid fa-coins"></i></div>
                <div class="ref-bal">
                    <h2>$300,000</h2>
                    <span>Indirect Referral's</span>
                </div>
            </div>
            <div class="ref-card-content" style="--ref-card:#00c50018;">
                <div class="ref-icon" style="--ref-icon:#00c5001f;"><i class="fa-solid fa-users"></i></div>
                <div class="ref-bal">
                    <h2>500</h2>
                    <span>Total Referral's</span>
                </div>
            </div>
            <div class="ref-card-content" style="--ref-card:#c5006318;">
                <div class="ref-icon" style="--ref-icon:#c5006321;"><i class="fa-solid fa-money-check-dollar"></i></div>
                <div class="ref-bal">
                    <h2>$300,000</h2>
                    <span>Total Cashout</span>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="ref-history">
    <div class="ref-hist-container">
        <div class="ref-hist-title">Histroy</div>
        <div class="ref-hist-body">
            <div class="ref-hist-content">
               <div class="ref-hist-const">
                <div class="ref-averta">
                    <img class="ref-img" src="/image/Avater.PNG" alt="ref-averta" width="40" height="40">
                </div>
                <div class="ref-hist-name">
                    <h2>Referral from John Smith</h2>
                    <span>25th-Oct-2023 | 06:50am</span>
                </div>
               </div>
               <div class="ref-hist-state">
                <h2>$1,000</h2>
                <span>Direct Referral</span>
               </div>
            </div>
            <div class="ref-hist-content">
                <div class="ref-hist-const">
                 <div class="ref-averta">
                     <img class="ref-img" src="/image/Avater.PNG" alt="ref-averta" width="40" height="40">
                 </div>
                 <div class="ref-hist-name">
                     <h2>Referral from Diamond Henry</h2>
                     <span>25th-Oct-2023 | 06:50am</span>
                 </div>
                </div>
                <div class="ref-hist-state">
                 <h2>$300</h2>
                 <span>Indirect Referral</span>
                </div>
             </div>
             <div class="ref-hist-content">
                <div class="ref-hist-const">
                 <div class="ref-averta">
                     <img class="ref-img" src="/image/Avater.PNG" alt="ref-averta" width="40" height="40">
                 </div>
                 <div class="ref-hist-name">
                     <h2>Referral from Jonhsons Daniel</h2>
                     <span>25th-Oct-2023 | 06:50am</span>
                 </div>
                </div>
                <div class="ref-hist-state">
                 <h2>$10</h2>
                 <span>3rd Generation</span>
                </div>
             </div>
             <div class="ref-hist-content">
                <div class="ref-hist-const">
                 <div class="ref-averta">
                     <img class="ref-img" src="/image/Avater.PNG" alt="ref-averta" width="40" height="40">
                 </div>
                 <div class="ref-hist-name">
                     <h2>Referral from Stone Dark</h2>
                     <span>25th-Oct-2023 | 06:50am</span>
                 </div>
                </div>
                <div class="ref-hist-state">
                 <h2>$3</h2>
                 <span>4th Generation</span>
                </div>
             </div>
        </div>
    </div>
  </div>







<%-include("../../partials/sidebar")%>
<%-include("../../partials/footer")%>